Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

feat: add gitlab CI for trusted publishing (#1904)
  crates/rattler_upload/src/upload/trusted_publishing.rs
  crates/rattler_upload/src/utils/console_utils.rs
  crates/rattler_upload/src/utils/consts.rs
Due: fmt, clippy, test

chore: added resolvo #188 reproducer (#1898)
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/solver_case_tests.rs
Due: fmt, clippy, test

use query_pairs_mut to set force=true
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

feat: add ensure_channel_initialized for fs and s3 channels (#1906)
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

feat: add `--force` to prefix.dev upload and improve function signatures (#1907)
  crates/rattler_upload/src/upload/anaconda.rs
  crates/rattler_upload/src/upload/conda_forge.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

Add support for `info_plist_extra` property in menuinst
  crates/rattler_menuinst/src/lib.rs
  crates/rattler_menuinst/src/macos.rs
  crates/rattler_menuinst/src/render.rs
  crates/rattler_menuinst/src/schema.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__macos__tests__macos_menu_installation.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_defaults.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_mne.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_spyder.snap
  crates/rattler_menuinst/test-data/defaults/defaults.json
  crates/rattler_menuinst/test-data/spyder/menu.json
Due: fmt, clippy, test

Use indexmap for info_plist_extra
  Cargo.lock
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_menuinst/src/schema.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__macos__tests__macos_menu_installation.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_spyder.snap
Due: fmt, clippy, test

fix: unvisited nodes lost during topological sort
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
Due: fmt, clippy, test

feat: Add support for `info_plist_extra` property in menuinst (#1911)
  Cargo.lock
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_menuinst/src/lib.rs
  crates/rattler_menuinst/src/macos.rs
  crates/rattler_menuinst/src/render.rs
  crates/rattler_menuinst/src/schema.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__macos__tests__macos_menu_installation.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_defaults.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_mne.snap
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__schema__test__deserialize_spyder.snap
  crates/rattler_menuinst/test-data/defaults/defaults.json
  crates/rattler_menuinst/test-data/spyder/menu.json
Due: fmt, clippy, test

fix: topological sort looses nodes when they are in independent clusters (#1913)
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
Due: fmt, clippy, test

add if-not-exists to prevent concurrency issues when initializing S3 channel
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

integrate sigstore-sign for automatic signing of attestations
  Cargo.lock
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/attestation.rs
  crates/rattler_upload/src/upload/prefix.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: fmt, clippy, test

use published version
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/Cargo.toml
Due: none

update to 0.5.0 of sigstore-sign
  Cargo.lock
  Cargo.toml
Due: none

make sigstore optional (doesnt work on ppc64le because of aws-lc-rs)
  .github/workflows/rust-compile.yml
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: check-yaml, fmt, clippy, test

use env var
  .github/test-recipe/recipe.yaml
  .github/workflows/build-and-upload.yml
Due: check-yaml

random build string
  .github/test-recipe/recipe.yaml
  .github/workflows/build-and-upload.yml
Due: check-yaml

add test workflow for uplaod
  .github/test-recipe/recipe.yaml
  .github/workflows/build-and-upload.yml
Due: check-yaml

fix recipe
  .github/test-recipe/recipe.yaml
  .github/workflows/build-and-upload.yml
Due: check-yaml

add workflow
  .github/workflows/build-and-upload.yml
Due: check-yaml

..
  .github/workflows/build-and-upload.yml
Due: check-yaml

fix shellcheck
  .github/workflows/rust-compile.yml
Due: check-yaml

..
  crates/rattler_upload/src/upload/attestation.rs
Due: fmt, clippy, test

fix
  .github/workflows/build-and-upload.yml
Due: check-yaml

pin action
  .github/workflows/build-and-upload.yml
Due: check-yaml

store on github
  .github/workflows/build-and-upload.yml
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: check-yaml, fmt, clippy, test

fix docs lint
  crates/rattler_upload/src/upload/opt.rs
Due: fmt, clippy, test

remove cosign workflow
  .github/workflows/test-cosign-attestation.yml
Due: check-yaml

fix: add if-not-exists check to prevent concurrency issues when initializing S3 channel (#1915)
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

adding support for wheel packags to repodata parsing
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/repo_data/sparse.rs
Due: fmt, clippy, test

test: add solver level tests for the use cases
  crates/rattler_solve/tests/backends/conditional_tests.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

fix: also split on matchspec on ;
  crates/rattler_repodata_gateway/src/gateway/query.rs
Due: fmt, clippy, test

test: add failing test for issue #1914 (version starts_with letter suffix)
  crates/rattler_conda_types/src/version/mod.rs
Due: fmt, clippy, test

fix: restore correct Version::starts_with behavior for glob matching
  crates/rattler_conda_types/src/version/mod.rs
Due: fmt, clippy, test

fix: url linting
  crates/rattler_conda_types/src/version/mod.rs
Due: fmt, clippy, test

fix: lint
  crates/rattler_conda_types/src/version/mod.rs
  pixi.lock
  pixi.toml
Due: fmt, clippy, test

fix: linting issue
  crates/rattler_solve/tests/backends/conditional_tests.rs
Due: fmt, clippy, test

fix: bump for pixi 0.61.0
  pixi.lock
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
