Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

chore: skip rattler_index in check-native-tls
  scripts/check-native-tls.sh
Due: none

chore: gate opendal rustls feature behind our rustls feature
  crates/rattler_index/Cargo.toml
  crates/rattler_upload/Cargo.toml
  scripts/check-native-tls.sh
Due: none

fix: avoid runtime import of typing_extensions in index module
  py-rattler/rattler/index/index.py
Due: none

fix: prefer stdlib typing.TypeAlias on Python >= 3.10
  py-rattler/rattler/index/index.py
Due: none

fix: avoid runtime import of typing_extensions in index module (#2428)
  py-rattler/rattler/index/index.py
Due: none

test(rattler_index): set content_length on listed file entries
  crates/rattler_index/tests/integration/etag_memory_backend.rs
Due: fmt, clippy, test

chore(rattler_index): enable chrono clock feature
  crates/rattler_index/Cargo.toml
Due: none

refactor: remove reqwest 0.12 (#2427)
  .github/workflows/release-python.yml
  .github/workflows/rust-compile.yml
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler/Cargo.toml
  crates/rattler/src/cli/auth/oauth.rs
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_index/tests/integration/etag_memory_backend.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/oci_middleware.rs
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_redaction/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_s3/Cargo.toml
  crates/rattler_upload/Cargo.toml
  crates/tools/Cargo.toml
  py-rattler/Cargo.toml
  scripts/check-native-tls.sh
Due: check-yaml, fmt, clippy, test

misc: adjust comments
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
Due: fmt, clippy, test

fix(rattler::install::entry_point): atomic write + chmod-on-fd for entry-point scripts
  crates/rattler/src/install/entry_point.rs
  crates/rattler_fs_safety/src/lib.rs
Due: fmt, clippy, test

fix(rattler_prefix_guard): NOFOLLOW the .guard open
  Cargo.lock
  crates/rattler_prefix_guard/Cargo.toml
  crates/rattler_prefix_guard/src/lib.rs
Due: fmt, clippy, test

fix(rattler_lock): atomic write of conda lockfile
  Cargo.lock
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

fix(rattler::install::link): refuse path-escaping paths.json relative_path
  Cargo.lock
  crates/rattler/Cargo.toml
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

feat: add rattler_fs_safety crate
  Cargo.lock
  Cargo.toml
  crates/rattler_fs_safety/Cargo.toml
  crates/rattler_fs_safety/src/lib.rs
  crates/rattler_fs_safety/src/windows_sec.rs
Due: fmt, clippy, test

update sigstore-rust
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/attestation.rs
Due: fmt, clippy, test

fix formatting
  crates/rattler-bin/src/commands/verify.rs
Due: fmt, clippy, test

add verify subcommand for rattler-bin
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/verify.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

add rattler_sigstore and verification policy, integrated with package cache
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/verify.rs
  crates/rattler_cache/Cargo.toml
  crates/rattler_cache/src/lib.rs
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_sigstore/Cargo.toml
  crates/rattler_sigstore/src/error.rs
  crates/rattler_sigstore/src/lib.rs
  crates/rattler_sigstore/src/policy.rs
  crates/rattler_sigstore/src/verify.rs
Due: fmt, clippy, test

decode jwt to get expire by date
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

misc: apply code review changes
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  pixi.lock
Due: fmt, clippy, test

chore: update archspec to 0.2.0
  Cargo.lock
  Cargo.toml
Due: none

chore: update archspec to 0.2.0 (#2432)
  Cargo.lock
  Cargo.toml
Due: none

misc: refactor to use ambient
  Cargo.lock
  Cargo.toml
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

misc: fix clippy
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_upload/src/upload/prefix.rs
  pixi.lock
Due: fmt, clippy, test

misc: update typos
  typos.toml
Due: none

misc: apply code review changes
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

misc: remove default
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

misc: reverted pixi.lock
  crates/rattler_networking/src/trusted_publishing.rs
  pixi.lock
Due: fmt, clippy, test

add more debug logging
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

feat: support conda-pypi channel
  Cargo.lock
  crates/rattler-bin/src/commands/client.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler_digest/Cargo.toml
  crates/rattler_digest/src/serde.rs
Due: fmt, clippy, test

misc: remove the comment
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

feat: render condition as defined in the CEP
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

add more tests
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

misc: update module doc
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

feat: support conda-pypi channel (#2435)
  Cargo.lock
  crates/rattler-bin/src/commands/client.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler_digest/Cargo.toml
  crates/rattler_digest/src/serde.rs
Due: fmt, clippy, test

feat: add trusted publisher middleware in rattler_networking (#2426)
  Cargo.lock
  Cargo.toml
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/prefix.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
  crates/rattler_upload/src/utils/console_utils.rs
  crates/rattler_upload/src/utils/consts.rs
  crates/rattler_upload/src/utils/mod.rs
  typos.toml
Due: fmt, clippy, test

implement namespace / channel in square brackets for `when`
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

remove `3` only `v3` parsing remains
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/README.md
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
