Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

style(py-rattler): run rustfmt on the reworked credential lookup
  py-rattler/src/index.rs
Due: fmt, clippy, test

feat(networking)!: let the S3 middleware sign with a credential provider
  Cargo.lock
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_networking/tests/s3_integration_test.rs
  crates/rattler_s3/src/lib.rs
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

docs: link the opendal re-export PR next to the reqsign pins
  Cargo.toml
Due: none

chore(networking): drop the dev-dependency comment
  crates/rattler_networking/Cargo.toml
Due: none

feat(conda_types): add info.lookup_url to repodata
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/who_needs_query.rs
Due: fmt, clippy, test

feat(lookup): add rattler_lookup crate
  Cargo.lock
  Cargo.toml
  crates/rattler_lookup/Cargo.toml
  crates/rattler_lookup/src/discover.rs
  crates/rattler_lookup/src/format.rs
  crates/rattler_lookup/src/lib.rs
  crates/rattler_lookup/src/manifest.rs
  crates/rattler_lookup/src/query.rs
  crates/rattler_lookup/src/read/mod.rs
  crates/rattler_lookup/src/read/source.rs
  crates/rattler_lookup/src/write.rs
  crates/rattler_lookup/tests/lookup.rs
  crates/rattler_lookup/tests/test_server/mod.rs
Due: fmt, clippy, test

feat(rattler-bin): add `rattler whoprovides`
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/whoprovides.rs
  crates/rattler-bin/src/main.rs
  crates/rattler-bin/tests/snapshots/cli__skill.snap
Due: fmt, clippy, test

feat(index): write a lookup index behind the `lookup` feature
  .github/workflows/rust-compile.yml
  Cargo.lock
  crates/rattler_config/src/config/index.rs
  crates/rattler_config/tests/snapshots/compat__parse__deprecated-and-unknown.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__kitchen-sink.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__override-layer.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__snake-case-aliases.toml.snap
  crates/rattler_index/Cargo.toml
  crates/rattler_index/README.md
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/lookup.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/atomic_write.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_index/tests/integration/concurrent_indexing.rs
  crates/rattler_index/tests/integration/indexed_timestamp.rs
  crates/rattler_index/tests/integration/lookup.rs
  crates/rattler_index/tests/integration/mod.rs
  pixi.toml
  py-rattler/src/index.rs
Due: check-yaml, fmt, clippy, test

refactor(rattler-bin): drop --lookup-url from whoprovides
  crates/rattler-bin/src/commands/skill_preamble.md
  crates/rattler-bin/src/commands/whoprovides.rs
  crates/rattler-bin/tests/cli.rs
  crates/rattler-bin/tests/snapshots/cli__whoprovides_json.snap
  crates/rattler-bin/tests/snapshots/cli__whoprovides_urls.snap
Due: fmt, clippy, test

refactor: address review on whoprovides and rattler_index
  crates/rattler-bin/src/commands/whoprovides.rs
  crates/rattler-bin/tests/cli.rs
  crates/rattler_index/README.md
  crates/rattler_index/src/lib.rs
  py-rattler/Cargo.toml
Due: fmt, clippy, test

perf(whoprovides): discover the lookup index through the sharded repodata only
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/skill_preamble.md
  crates/rattler-bin/src/commands/whoprovides.rs
  crates/rattler-bin/tests/cli.rs
  crates/rattler_lookup/src/discovery.rs
  crates/rattler_lookup/src/lib.rs
  crates/rattler_lookup/tests/roundtrip.rs
Due: fmt, clippy, test

feat(rattler_index): make indexing resumable and tolerant of broken packages
  Cargo.lock
  crates/rattler_index/Cargo.toml
  crates/rattler_index/README.md
  crates/rattler_index/src/cache.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/atomic_write.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_index/tests/integration/indexed_timestamp.rs
  crates/rattler_index/tests/integration/mod.rs
  crates/rattler_index/tests/integration/resumable_indexing.rs
  py-rattler/Cargo.lock
  py-rattler/src/index.rs
Due: fmt, clippy, test

first pass at creating a documentation site for js-rattler
  .github/workflows/docs.yaml
  README.md
  js-rattler/.gitignore
  js-rattler/.prettierignore
  js-rattler/Cargo.lock
  js-rattler/README.md
  js-rattler/docs/assets/paxton-rattler.png
  js-rattler/docs/assets/prefix_logo_dark.svg
  js-rattler/docs/assets/prefix_logo_light.svg
  js-rattler/docs/assets/rattler-logo.svg
  js-rattler/docs/getting-started/installation.md
  js-rattler/docs/getting-started/quick-start.md
  js-rattler/docs/index.md
  js-rattler/docs/overrides/home.html
  js-rattler/docs/overrides/partials/footer.html
  js-rattler/docs/overrides/partials/mycontent.html
  js-rattler/docs/scripts/generate_nav.py
  js-rattler/docs/stylesheets/extra.css
  js-rattler/docs/stylesheets/fonts.css
  js-rattler/examples/quick-start.mjs
  js-rattler/mkdocs.yml
  js-rattler/package-lock.json
  js-rattler/package.json
  js-rattler/pixi.lock
  js-rattler/pixi.toml
  js-rattler/typedoc.json
Due: check-yaml

updating lock file
  js-rattler/Cargo.lock
Due: none

fix: report OCI sharded repodata as a 404 instead of erroring
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix(networking): narrow unsupported shard detection
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix: cap aws-smithy-types below 1.7 to keep aws-smithy-json building
  Cargo.lock
  Cargo.toml
  crates/rattler_s3/Cargo.toml
  py-rattler/Cargo.lock
Due: none

lint changes
  js-rattler/mkdocs.yml
Due: check-yaml

revert: drop aws-smithy-types <1.7 cap
  Cargo.lock
  Cargo.toml
  crates/rattler_s3/Cargo.toml
  py-rattler/Cargo.lock
Due: none

refactor(rattler_index): address review of resumable indexing
  Cargo.lock
  Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_index/README.md
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/resumable_indexing.rs
  py-rattler/Cargo.lock
Due: fmt, clippy, test

fix(rattler_networking): report sharded repodata as a 404 instead of erroring (#2733)
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

feat(rattler_networking): fetch sharded repodata from OCI mirrors
  Cargo.lock
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

chore: remove unused generic-array dependency
  Cargo.lock
  Cargo.toml
  crates/rattler_digest/Cargo.toml
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

feat(rattler_lock): gate conda_lock conversion behind the conda-lock feature
  .github/workflows/rust-compile.yml
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
  pixi.toml
Due: check-yaml, fmt, clippy, test

fix: use Subdir instead of Platform in link test
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

chore(js-rattler): remove wee_alloc in favor of the default allocator
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  js-rattler/crate/lib.rs
Due: fmt, clippy, test

fix: redact percent-encoded sig parameter names
  crates/rattler_azure/src/channel_url.rs
Due: fmt, clippy, test

chore: drop unused tokio dev-dependency
  crates/rattler_azure/Cargo.toml
Due: none

fix: resolve extras from sparse repodata (#2830)
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

fix(rattler_package_streaming): compare verbatim paths in extraction containment check
  crates/rattler_package_streaming/src/read.rs
Due: fmt, clippy, test

fix(whoprovides): keep the repodata.json fallback when discovering the lookup index
  crates/rattler-bin/src/commands/skill_preamble.md
  crates/rattler-bin/src/commands/whoprovides.rs
  crates/rattler_lookup/src/discovery.rs
  crates/rattler_lookup/src/lib.rs
  crates/rattler_lookup/tests/roundtrip.rs
Due: fmt, clippy, test

feat(s3): add `S3CredentialSource` that can refresh expiring credentials (#2846)
  Cargo.lock
  Cargo.toml
  crates/rattler_s3/Cargo.toml
  crates/rattler_s3/src/lib.rs
  crates/rattler_s3/src/signer.rs
  py-rattler/Cargo.lock
Due: fmt, clippy, test

fix(networking): normalize mirror prefixes during construction
  crates/rattler_networking/src/mirror_middleware.rs
Due: fmt, clippy, test

feat(rattler-bin): support matchspecs in `rattler inspect`
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/tests/snapshots/cli__skill.snap
Due: fmt, clippy, test

refactor(rattler-bin): drop `--sharded` from `inspect`, reject channel options for paths/URLs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/tests/cli.rs
Due: fmt, clippy, test

refactor(rattler-bin): use configured default channels and reject globs in `inspect`
  crates/rattler-bin/src/commands/gateway.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/tests/cli.rs
Due: fmt, clippy, test

refactor(index)!: build S3 operators from `S3CredentialSource` (#2847)
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/s3.rs
  py-rattler/Cargo.lock
  py-rattler/src/index.rs
Due: fmt, clippy, test

fix: use Subdir instead of Platform after merging main
  crates/rattler_lock/src/conda_lock/error.rs
  crates/rattler_lock/src/conda_lock/import.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
