Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

feat(repodata_gateway): read virtual package plugin registrations
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/virtual_packages.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  test-data/channels/virtual-package-plugins/linux-64/repodata.json
  test-data/channels/virtual-package-plugins/noarch/repodata.json
Due: fmt, clippy, test

refactor(conda-types): unify match spec rendering behind a DisplayContext
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
Due: fmt, clippy, test

fix(conda-types): always escape legacy bracket values and minimize condition parentheses
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/canonical_matchspec.rs
Due: fmt, clippy, test

feat(py): optionally add pip to Python sparse records
  py-rattler/CHANGELOG.md
  py-rattler/rattler/solver/solver.py
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

feat(py): support pip injection in gateway solves
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  py-rattler/CHANGELOG.md
  py-rattler/rattler/solver/solver.py
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

fix(conda-types): address adversarial review of the unified renderer
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/tests/matchspec_formatting_properties.rs
Due: fmt, clippy, test

feat(py): expose pip injection for solve APIs (#2677)
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  py-rattler/rattler/solver/solver.py
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

fix(conda-types): make legacy Display loud-or-faithful and add formatting proptests
  Cargo.lock
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/matchspec_proptest.proptest-regressions
  crates/rattler_conda_types/tests/matchspec_proptest.rs
Due: fmt, clippy, test

fix: resolve build backends from conda-forge without a version pin
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
Due: none

docs(conda-types): tighten comments in the renderer and its tests
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/matchspec_formatting_properties.rs
  crates/rattler_conda_types/tests/matchspec_proptest.rs
Due: fmt, clippy, test

test(conda-types): drop the deterministic formatting matrix
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/matchspec_formatting_properties.rs
Due: fmt, clippy, test

docs(conda-types): make comments lead with responsibilities
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

fix(js): add emscripten-wasm64 to the TypeScript platform lists
  js-rattler/js/platform.js
  js-rattler/package-lock.json
  js-rattler/src/Platform.test.ts
  js-rattler/src/Platform.ts
Due: none

fix(conda-types): address external adversarial review findings
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/matchspec_proptest.rs
Due: fmt, clippy, test

test(conda-types): generator-driven proptests catch and fix three more silent paths
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/matchspec_proptest.proptest-regressions
  crates/rattler_conda_types/tests/matchspec_proptest.rs
Due: fmt, clippy, test

feat: Accept sparse repodata in solve (#2627)
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/source.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/solver/solver.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/src/repo_data/sparse.rs
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

feat(py-rattler): expose MatchSpec.to_canonical_string
  py-rattler/rattler/exceptions.py
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/src/error.rs
  py-rattler/src/exceptions.rs
  py-rattler/src/lib.rs
  py-rattler/src/match_spec.rs
Due: fmt, clippy, test

fix(js): add emscripten-wasm64 to the TypeScript platform lists (#2694)
  js-rattler/js/platform.js
  js-rattler/package-lock.json
  js-rattler/src/Platform.test.ts
  js-rattler/src/Platform.ts
Due: none

fix: resolve build backends from conda-forge without a version pin (#2689)
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
Due: none

test(conda-types): shrink-friendly proptest strategies find two more silent paths
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/matchspec_proptest.proptest-regressions
  crates/rattler_conda_types/tests/matchspec_proptest.rs
Due: fmt, clippy, test

fix(conda-types): keep re-tokenizing versions and builds out of the positional slots
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

style(conda-types): import renderer types instead of spelling out full paths
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

docs(conda-types): say unambiguous instead of v3-compatible
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
Due: fmt, clippy, test

refactor(conda-types): drop the runtime round-trip from to_canonical_string
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/tests/matchspec_proptest.proptest-regressions
  crates/rattler_conda_types/tests/matchspec_proptest.rs
Due: fmt, clippy, test

fix(py-rattler): bump maturin to 1.14 so the sdist uses pax tar headers
  py-rattler/pixi.toml
  py-rattler/pyproject.toml
Due: none

docs(conda-types): describe canonical rendering by what it does
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
Due: fmt, clippy, test

refactor(redaction): name the redaction functions for their purpose
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/tests/matchspec_proptest.rs
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_redaction/src/lib.rs
Due: fmt, clippy, test

docs(py-rattler): describe to_canonical_string by its current behavior
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/src/match_spec.rs
Due: fmt, clippy, test

chore: appease the typos linter
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

feat(rattler_conda_types): Implement virtual package plugins
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_conda_types/src/sourced_virtual_package.rs
  crates/rattler_conda_types/src/utils/serde.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
Due: fmt, clippy, test

test: update solver snapshots for the complete NamelessMatchSpec Display
  crates/rattler_solve/tests/backends/main.rs
  py-rattler/src/lib.rs
Due: fmt, clippy, test

ci: stop testing PowerPC wheels under QEMU
  .github/workflows/release-python.yml
Due: check-yaml

fix: bump maturin to 1.14 so the sdist uses pax tar headers (#2696)
  .github/workflows/release-python.yml
  py-rattler/pixi.toml
  py-rattler/pyproject.toml
Due: check-yaml

Implement repodata_record_from_package_archive and RepoDataRecord.from_package_archive to allow installing local packages more easily
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/local_package.rs
  py-rattler/rattler/repo_data/record.py
  py-rattler/src/error.rs
  py-rattler/src/record.rs
  py-rattler/tests/unit/test_repo_data_record.py
  test-data/sparse/generate.py
Due: fmt, clippy, test

ci(py-rattler): build aarch64 windows and riscv64 wheels
  .github/workflows/release-python.yml
Due: check-yaml

ci: bump run-on-arch-action to v3.2.0
  .github/workflows/release-python.yml
Due: check-yaml

ci(py-rattler): build and test aarch64 wheels on a native arm64 runner
  .github/workflows/release-python.yml
Due: check-yaml

ci(py-rattler): test ppc64le again and fix the riscv64 test distro
  .github/workflows/release-python.yml
Due: check-yaml

feat(conda-types): implement virtual package plugins
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_conda_types/src/sourced_virtual_package.rs
  crates/rattler_conda_types/src/utils/serde.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  test-data/sparse/generate.py
Due: fmt, clippy, test

ci: stop apt on the runner from stalling the emulated jobs
  .github/workflows/release-python.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
