Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix: file_url: Handle url-encoded windows paths
  crates/file_url/src/lib.rs
Due: fmt, clippy, test

fix: handle url-encoded windows paths in urls (#2200)
  crates/file_url/src/lib.rs
Due: fmt, clippy, test

chore: Rename `index-url` to `index` in v7 python packages
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

chore: Make AI disclosure in PR template clearer
  .github/pull_request_template.md
Due: none

chore: Make AI disclosure in PR template clearer (#2204)
  .github/pull_request_template.md
Due: none

feat: improve Windows GUI app launching and file extension registration (#2135)
  crates/rattler_menuinst/src/schema.rs
  crates/rattler_menuinst/src/windows.rs
  crates/rattler_menuinst/src/windows/registry.rs
Due: fmt, clippy, test

chore: Rename `index-url` to `index` in v7 python packages (#2203)
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

Rename `source` to `conda_source` (in envs and packages)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
  test-data/lock_parse_fails/v7/duplicate_platform.yml
  test-data/lock_parse_fails/v7/duplicate_platform_definition.yml
  test-data/lock_parse_fails/v7/duplicate_platform_use.yml
  test-data/lock_parse_fails/v7/invalid_platform_name.yml
  test-data/lock_parse_fails/v7/invalid_platform_subdir.yml
  test-data/lock_parse_fails/v7/missing_platform.yml
Due: check-yaml, fmt, clippy, test

refactor: Rename `sources` to `source-depends` in Conda source packages
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

refactor: rename `source` to `conda-source` (#2205)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
  test-data/lock_parse_fails/v7/duplicate_platform.yml
  test-data/lock_parse_fails/v7/duplicate_platform_definition.yml
  test-data/lock_parse_fails/v7/duplicate_platform_use.yml
  test-data/lock_parse_fails/v7/invalid_platform_name.yml
  test-data/lock_parse_fails/v7/invalid_platform_subdir.yml
  test-data/lock_parse_fails/v7/missing_platform.yml
Due: check-yaml, fmt, clippy, test

fix: address review issues in PR #2194 docs mike configuration
  .github/workflows/docs.yaml
  py-rattler/mkdocs.yml
Due: check-yaml

feat(js-rattler): add pixi environment and update CI to use pixi
  .github/workflows/js-bindings.yml
  .github/workflows/release-js.yml
  js-rattler/.gitattributes
  js-rattler/.gitignore
  js-rattler/README.md
  js-rattler/package-lock.json
  js-rattler/pixi.lock
  js-rattler/pixi.toml
Due: check-yaml

feat(js-rattler): add pack pixi task, remove NODE_AUTH_TOKEN from npm pack
  .github/workflows/release-js.yml
  js-rattler/pixi.toml
Due: check-yaml

fix: update lock-file
  js-rattler/Cargo.lock
Due: none

fixes from review
  .gitattributes
  js-rattler/.gitattributes
  js-rattler/pixi.toml
Due: none

feat(js): add pixi environment and update CI to use pixi (#2206)
  .gitattributes
  .github/workflows/js-bindings.yml
  .github/workflows/release-js.yml
  js-rattler/.gitattributes
  js-rattler/.gitignore
  js-rattler/Cargo.lock
  js-rattler/README.md
  js-rattler/package-lock.json
  js-rattler/pixi.lock
  js-rattler/pixi.toml
Due: check-yaml

style: format and clippy fixes
  crates/path_resolver/src/lib.rs
Due: fmt, clippy, test

fix: redirect to rattler rustDocs
  .github/workflows/docs.yaml
Due: check-yaml

feat(rattler_lock): add flatten_by_env and flatten_by_env_plat to LockFile
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

added final changes on lib.rs for lockfile and updated the formats
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

docs(py): add versioning to py-rattler documentation (#2194)
  .github/workflows/docs.yaml
  py-rattler/mkdocs.yml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
Due: check-yaml

test: Improve path_resolver robustness with expanded test suite (#2192)
  crates/path_resolver/src/lib.rs
Due: fmt, clippy, test

fix(virtual_packages): handle invalid chars in LibC family
  crates/rattler_virtual_packages/src/lib.rs
Due: fmt, clippy, test

fix: keep removed packages in repodata maps, only add to removed set
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_1.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_2.snap
Due: fmt, clippy, test

fix: unconditionally add removed packages to the removed set
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_1.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_2.snap
Due: fmt, clippy, test

fix: only mark .conda equivalent as removed if it exists in conda_packages
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_1.snap
Due: fmt, clippy, test

style: apply cargo fmt
  crates/rattler_conda_types/src/repo_data/patches.rs
Due: fmt, clippy, test

Create CNAME
  CNAME
Due: none

refactor: remove duplication in cache path resolution
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/mod.rs
Due: fmt, clippy, test

fix(docs): correct rustdoc merge and add /py-rattler/ redirect so docs URLs work
  .github/workflows/docs.yaml
Due: check-yaml

fix: return error instead of panicking in sort_paths when path is not under base_path
  crates/rattler_package_streaming/src/write.rs
Due: fmt, clippy, test

Fix review: replace for loop with idiomatic iterator pattern
  crates/rattler_package_streaming/src/write.rs
Due: fmt, clippy, test

chore: fix lint errors in rattler_package_streaming
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/write.rs
Due: fmt, clippy, test

Fix CI: resolve lint errors and rebase branch
  crates/rattler_package_streaming/src/write.rs
Due: fmt, clippy, test

feat: make package record data optional in source record
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

fix: python bindings
  py-rattler/Cargo.lock
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

feat: store source identifier for easier roundtrip
  Cargo.lock
  Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

fix(docs): correct rustdoc merge and add /py-rattler/ redirect so docs URLs work (#2212)
  .github/workflows/docs.yaml
Due: check-yaml

Delete CNAME
  CNAME
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
