Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix
  py-rattler/Cargo.lock
  py-rattler/src/solver.rs
Due: fmt, clippy, test

wip
  crates/rattler_solve/benches/bench.rs
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/tests/backends.rs
Due: fmt, clippy, test

error on path subdir
  crates/rattler_lock/src/parse/models/v6/source_data.rs
Due: fmt, clippy, test

fix
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/package/package_name_matcher.py
  py-rattler/src/lib.rs
  py-rattler/src/match_spec.rs
  py-rattler/src/package_name.rs
  py-rattler/src/package_name_matcher.rs
Due: fmt, clippy, test

fix
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/package/package_name_matcher.py
  py-rattler/tests/unit/test_matchspec.py
Due: none

Delete crates/rattler_solve/tests/snapshots/backends__resolvo__issue_717.snap.new
  crates/rattler_solve/tests/snapshots/backends__resolvo__issue_717.snap.new
Due: none

Installed pkgs handle hash
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

Linter
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

More linting
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

fix
  py-rattler/src/error.rs
  py-rattler/src/package_name_matcher.rs
Due: fmt, clippy, test

feat(js): return checksums from simpleSolve (#1720)
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

fix
  crates/rattler_solve/tests/snapshots/backends__resolvo__issue_717.snap
Due: none

fix
  crates/rattler_conda_types/src/match_spec/mod.rs
Due: fmt, clippy, test

make platform more flexible
  crates/rattler-bin/src/commands/create.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/mod.rs
  crates/rattler/src/install/transaction.rs
  crates/rattler_conda_types/src/channel/channel_url.rs
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/platform.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_menuinst/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  crates/rattler_shell/src/activation.rs
  crates/rattler_solve/tests/backends.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_virtual_packages/src/lib.rs
  py-rattler/src/channel/mod.rs
  tools/create-resolvo-snapshot/src/main.rs
Due: fmt, clippy, test

undo changes to github actions
  .github/workflows/docs.yaml
  .github/workflows/e2e-s3-tests.yml
  .github/workflows/enforce-sha.yml
  .github/workflows/js-bindings.yml
  .github/workflows/lint-pr.yml
  .github/workflows/lint.yaml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/python-bindings.yml
  .github/workflows/release-js.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yaml
  .github/workflows/rust-compile.yml
Due: check-yaml

chore: small improvements when setting bearer token headers (mark as sensitive)
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

also in auth.rs
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

undo unrelated changes in this pr
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

another bearer_auth
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: fmt, clippy, test

fix lint
  crates/rattler/src/cli/auth.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: fmt, clippy, test

undo cargo changes
  Cargo.lock
  crates/rattler_upload/Cargo.toml
Due: none

add new github workflow and some refactoring
  .github/workflows/test-cosign-attestation.yml
  crates/rattler_upload/src/upload/attestation.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: check-yaml, fmt, clippy, test

chore: small bearer token improvements (#1727)
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/oci_middleware.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: fmt, clippy, test

move arguments
  crates/rattler_upload/src/upload/attestation.rs
Due: fmt, clippy, test

fix lint
  crates/rattler_upload/src/upload/attestation.rs
  typos.toml
Due: fmt, clippy, test

fix
  .github/workflows/test-cosign-attestation.yml
Due: check-yaml

..
  crates/rattler_upload/src/upload/attestation.rs
Due: fmt, clippy, test

feat: read index.json directly from local files
  crates/rattler_repodata_gateway/src/gateway/direct_url_query.rs
Due: fmt, clippy, test

feat: read index.json directly from local files (#1729)
  crates/rattler_repodata_gateway/src/gateway/direct_url_query.rs
Due: fmt, clippy, test

fix: pin generic-array
  Cargo.lock
  Cargo.toml
Due: none

remove S3 related changes for now
  crates/rattler_s3/src/clap.rs
  crates/rattler_s3/src/lib.rs
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/s3.rs
Due: fmt, clippy, test

fix: opendal issue
  crates/rattler_index/tests/integration/etag_memory_backend.rs
Due: fmt, clippy, test

derive more for `EntryPoint`
  crates/rattler_conda_types/src/package/entry_point.rs
Due: fmt, clippy, test

feat: derive `PartialEq`, `Eq` and `Hash` for `EntryPoint` (#1731)
  crates/rattler_conda_types/src/package/entry_point.rs
Due: fmt, clippy, test

Prevent noarch installer from installing non-noarch packages
  crates/rattler/src/install/installer/error.rs
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

run cargo fmt
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

formatting for linter
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

Add progressbar for gateway query/names
  Cargo.lock
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/indicatif.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/lib.rs
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
Due: fmt, clippy, test

add envs from env_vars and add a test case
  crates/rattler_shell/src/activation.rs
  crates/rattler_shell/src/snapshots/rattler_shell__activation__tests__after_activation_fast_path.snap
Due: fmt, clippy, test

allow dead code for test_run_activation_fast_path
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
