Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

rename to --workload-identity
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/oidc_exchange.rs
Due: fmt, clippy, test

add 81414 autodiscovery
  clippy.toml
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/oidc_exchange.rs
Due: fmt, clippy, test

chore: prepare py-rattler v0.27.1 release
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pyproject.toml
Due: none

chore: fix typo in generated crate changelogs
  crates/rattler_boot_id/CHANGELOG.md
  crates/rattler_environment_digest/CHANGELOG.md
  crates/rattler_virtual_package_detectors/CHANGELOG.md
Due: none

chore: prepare py-rattler v0.27.1 release (#2900)
  crates/rattler_boot_id/CHANGELOG.md
  crates/rattler_environment_digest/CHANGELOG.md
  crates/rattler_virtual_package_detectors/CHANGELOG.md
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pyproject.toml
Due: none

fix(Version): fix hash collisions for versions with a `0` middle segment
  crates/rattler_conda_version/src/version/mod.rs
  crates/rattler_lock/src/snapshots/rattler_lock__builder__test__run_exports_snapshot.snap
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  pixi.lock
  pixi.toml
Due: fmt, clippy, test

feat(auth)!: Add RFC 8693 workload-identity login (#2897)
  clippy.toml
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
  crates/rattler_networking/src/challenge_middleware.rs
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/oauth_refresh.rs
  crates/rattler_networking/src/oidc_exchange.rs
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

chore: Delete clippy overrides
  clippy.toml
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
Due: fmt, clippy, test

feat(js): add Gateway.whoNeeds, clearRepodataCache, Config (#2895)
  crates/rattler_config/src/config/channel_config.rs
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  js-rattler/crate/config.rs
  js-rattler/crate/error.rs
  js-rattler/crate/gateway.rs
  js-rattler/crate/lib.rs
  js-rattler/src/Config.test.ts
  js-rattler/src/Config.ts
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  js-rattler/src/RattlerError.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

chore: Delete clippy overrides (#2907)
  clippy.toml
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
Due: fmt, clippy, test

chore: Fix js-rattler ci
  js-rattler/Cargo.lock
Due: none

fix: include optional dependencies in virtual package demand
  crates/rattler_conda_types/src/virtual_package_demand.rs
Due: fmt, clippy, test

chore: Fix js-rattler ci (#2908)
  js-rattler/Cargo.lock
Due: none

feat(solve): Add exemptions to exclude-newer
  crates/rattler-bin/src/solver_args.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/min_age_tests.rs
Due: fmt, clippy, test

fix(Version)!: fix hash collisions for non-trailing `0` segments (#2901)
  crates/rattler_conda_version/src/version/mod.rs
  crates/rattler_lock/src/snapshots/rattler_lock__builder__test__run_exports_snapshot.snap
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  pixi.lock
  pixi.toml
Due: fmt, clippy, test

chore: bump rust to 1.98.1
  .github/workflows/docs.yaml
  js-rattler/pixi.lock
  js-rattler/pixi.toml
  pixi.lock
  pixi.toml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  rust-toolchain
Due: check-yaml

fix clippy
  .cargo/config.toml
  crates/rattler/src/install/entry_point.rs
  crates/rattler/src/install/python.rs
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_conda_types/src/channel/channel_url.rs
  crates/rattler_conda_types/src/generic_virtual_package.rs
  crates/rattler_conda_types/src/utils/url_with_trailing_slash.rs
  crates/rattler_conda_version/src/version/parse.rs
  crates/rattler_conda_version/src/version/with_source.rs
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_package_streaming/tests/extract.rs
  crates/rattler_package_streaming/tests/write.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_shell/src/shell/mod.rs
  crates/rattler_solve/src/resolvo/mod.rs
  tools/create-resolvo-snapshot/src/main.rs
Due: fmt, clippy, test

fix deps
  pixi.lock
  pixi.toml
Due: none

restore `exclude-newer` config
  pixi.toml
Due: none

bump cargo-semver-checks
  .github/workflows/breaking-changes.yml
Due: check-yaml

deprecate package cutoffs
  crates/rattler-bin/src/exclude_newer.rs
  crates/rattler-bin/src/solver_args.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/tests/backends/min_age_tests.rs
  crates/rattler_solve/tests/backends/timestamp_policy_tests.rs
Due: fmt, clippy, test

refactor(rattler_package_streaming): remove num_cpus crate
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/write.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

fix(detectors): preserve successful stderr diagnostics
  crates/rattler_virtual_package_detectors/src/cache.rs
  crates/rattler_virtual_package_detectors/src/detect.rs
  crates/rattler_virtual_package_detectors/src/lib.rs
  crates/rattler_virtual_package_detectors/tests/detect.rs
  crates/rattler_virtual_package_detectors/tests/integration.rs
  py-rattler/rattler/__init__.py
  py-rattler/rattler/virtual_package/__init__.py
  py-rattler/rattler/virtual_package/detectors.py
  py-rattler/src/lib.rs
  py-rattler/src/virtual_package_detectors.rs
  py-rattler/tests/unit/test_virtual_package_detectors.py
Due: fmt, clippy, test

fix(rattler-bin): keep channels dimmed and don't link defaults to prefix.dev
  crates/rattler-bin/src/commands/hyperlink.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler-bin/src/commands/solve.rs
Due: fmt, clippy, test

docs: clarify sig equality, rename canonical to redacted
  crates/rattler_azure/src/channel_url.rs
Due: fmt, clippy, test

chore: drop items unused until later azure PRs
  Cargo.lock
  crates/rattler_azure/Cargo.toml
  crates/rattler_azure/src/credentials.rs
  crates/rattler_azure/src/error.rs
  crates/rattler_azure/src/lib.rs
  crates/rattler_azure/src/names.rs
Due: fmt, clippy, test

docs: drop credential minting from crate doc
  crates/rattler_azure/src/lib.rs
Due: fmt, clippy, test

refactor: drop test-only Auth::is_granted
  crates/rattler_azure/src/options.rs
Due: fmt, clippy, test

fix: reject path segments that decode to a separator
  crates/rattler_azure/src/channel_url.rs
  crates/rattler_azure/src/error.rs
  crates/rattler_azure/src/snapshots/rattler_azure__channel_url__tests__rejected_urls.snap
Due: fmt, clippy, test

try excluding proc-macro crates from breaking-changes check?
  scripts/check-breaking-changes.nu
  scripts/test-breaking-changes.nu
Due: none

chore: bump rust to 1.98.1 (#2906)
  .cargo/config.toml
  .github/workflows/breaking-changes.yml
  .github/workflows/docs.yaml
  crates/rattler/src/install/entry_point.rs
  crates/rattler/src/install/python.rs
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_conda_types/src/channel/channel_url.rs
  crates/rattler_conda_types/src/generic_virtual_package.rs
  crates/rattler_conda_types/src/utils/url_with_trailing_slash.rs
  crates/rattler_conda_version/src/version/parse.rs
  crates/rattler_conda_version/src/version/with_source.rs
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_package_streaming/tests/extract.rs
  crates/rattler_package_streaming/tests/write.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_shell/src/shell/mod.rs
  crates/rattler_solve/src/resolvo/mod.rs
  js-rattler/pixi.lock
  js-rattler/pixi.toml
  pixi.lock
  pixi.toml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  rust-toolchain
  scripts/check-breaking-changes.nu
  scripts/test-breaking-changes.nu
  tools/create-resolvo-snapshot/src/main.rs
Due: check-yaml, fmt, clippy, test

fix: include optional dependencies in virtual package demand (#2912)
  crates/rattler_conda_types/src/virtual_package_demand.rs
Due: fmt, clippy, test

feat(py-rattler): expose PackageCache in py-rattler (#632)
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/package_cache/__init__.py
  py-rattler/rattler/package_cache/package_cache.py
  py-rattler/src/lib.rs
  py-rattler/src/package_cache.rs
  py-rattler/tests/unit/test_package_cache.py
Due: fmt, clippy, test

fix(solve): check subdir and file name of exclude-newer exemptions
  crates/rattler-bin/src/solver_args.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/min_age_tests.rs
Due: fmt, clippy, test

no pub
  crates/rattler_solve/src/lib.rs
Due: fmt, clippy, test

style(py-rattler): fix formatting and linting
  py-rattler/rattler/package_cache/package_cache.py
  py-rattler/tests/unit/test_package_cache.py
Due: none

feat(solve): Add exemptions to exclude-newer, deprecate package_cutoffs (#2910)
  crates/rattler-bin/src/exclude_newer.rs
  crates/rattler-bin/src/solver_args.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/min_age_tests.rs
  crates/rattler_solve/tests/backends/timestamp_policy_tests.rs
Due: fmt, clippy, test

fix(detectors): preserve successful stderr diagnostics (#2913)
  crates/rattler_virtual_package_detectors/src/cache.rs
  crates/rattler_virtual_package_detectors/src/detect.rs
  crates/rattler_virtual_package_detectors/src/lib.rs
  crates/rattler_virtual_package_detectors/tests/detect.rs
  crates/rattler_virtual_package_detectors/tests/integration.rs
  py-rattler/rattler/__init__.py
  py-rattler/rattler/virtual_package/__init__.py
  py-rattler/rattler/virtual_package/detectors.py
  py-rattler/src/lib.rs
  py-rattler/src/virtual_package_detectors.rs
  py-rattler/tests/unit/test_virtual_package_detectors.py
Due: fmt, clippy, test

fix: reject characters URL parsing would silently drop
  crates/rattler_azure/src/channel_url.rs
  crates/rattler_azure/src/error.rs
  crates/rattler_azure/src/host.rs
  crates/rattler_azure/src/snapshots/rattler_azure__channel_url__tests__rejected_urls.snap
  crates/rattler_azure/src/snapshots/rattler_azure__host__tests__host_rejects_anything_that_is_not_a_bare_authority.snap
Due: fmt, clippy, test

fix: require a single account label on known azure hosts
  crates/rattler_azure/src/host.rs
Due: fmt, clippy, test
