Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

chore: Extract v7 of the lockfile (#1981)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
Due: fmt, clippy, test

refactor: replace miette::Result with typed error enums in upload
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/anaconda.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

fix(networking): cache GCS OAuth2 token across requests (#2114)
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/gcs_middleware.rs
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

chore: Do not persist pypi-prerelease-mode (#2053)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/options.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform.yml.snap
Due: fmt, clippy, test

refactor: remove pypi `extras` from lock-file v7 (#2095)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  py-rattler/rattler/lock/package.py
  py-rattler/src/lib.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

refactor: Make version optional when storing pypi packages (#2069)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

feat: Add index_url into Pypi packages
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  py-rattler/src/lock/mod.rs
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

feat(py): add timeout parameter to Client (#2151)
  py-rattler/rattler/networking/client.py
  py-rattler/src/networking/client.rs
  py-rattler/src/networking/mod.rs
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_timeout.py
Due: fmt, clippy, test

feat: Add index_url into Pypi packages (#2113)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  py-rattler/src/lock/mod.rs
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

feat: make package record data optional in source record
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

feat: store source identifier for easier roundtrip
  Cargo.lock
  Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

fix: python bindings
  py-rattler/Cargo.lock
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

refactor(upload)!: add proper errors and tests to rattler upload (#2157)
  Cargo.lock
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/anaconda.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/prefix.rs
  crates/rattler_upload/src/upload/test_utils.rs
Due: fmt, clippy, test

WIP
  Cargo.lock
Due: none

fix: use pub rs-async-zip source for CI
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

fix: harden and simplify range metadata fetching
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

lockfile
  Cargo.lock
  py-rattler/Cargo.lock
Due: none

fix: satisfy clippy in range metadata path
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

fix(repodata-gateway): throttle shard cache reads with IO semaphore
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
Due: fmt, clippy, test

feat(py): add enum-based package file fetch API
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
  py-rattler/tests/unit/test_package_streaming.py
Due: fmt, clippy, test

refactor(py): remove specialized package metadata fetch wrappers
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
  py-rattler/tests/unit/test_package_streaming.py
Due: fmt, clippy, test

fix(py): raise ValueError for unsupported package file enum
  py-rattler/rattler/package_streaming/__init__.py
Due: none

fix(networking): replace panicking unwraps in OCIUrl::new
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

WIP
  Cargo.lock
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

WIP
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

fix
  py-rattler/Cargo.lock
Due: none

style(networking): fix rustfmt formatting in OCIUrl::new
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

style(networking): fix clippy lints in OCIUrl::new
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix(repodata-gateway): add dedicated io_concurrency_semaphore to gate shard cache reads
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
Due: fmt, clippy, test

fix(repodata-gateway): fix missing io_concurrency_semaphore arg in test call sites
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
Due: fmt, clippy, test

docs(py-rattler): add 'Raises' sections to Python API docstrings and verify
  py-rattler/rattler/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/lock/environment.py
  py-rattler/rattler/lock/lock_file.py
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/rattler/solver/solver.py
  py-rattler/scripts/verify_docstrings.py
  py-rattler/tests/unit/test_exceptions.py
Due: none

fix(cache): include subdir in CacheKey to prevent cross-platform collisions
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

fix: replace panicking unwraps in `OCIUrl::new` (#2162)
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

simplify
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

simplify
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
Due: none

WIP
  crates/rattler_package_streaming/src/lib.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
