Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

test: keep favored packages regardless of spec order
  Cargo.lock
  Cargo.toml
  crates/rattler_solve/tests/backends/favored_tests.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

Add tests
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

Add package format selection query option
  crates/rattler_repodata_gateway/src/gateway/query.rs
Due: fmt, clippy, test

Filter subdir query by package format
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
Due: fmt, clippy, test

Add test for custom source
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

Thread package format selection thru pyrattler solve api
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/repo_data/source.py
  py-rattler/rattler/solver/solver.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/src/repo_data/source.rs
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_custom_source.py
  py-rattler/tests/unit/test_gateway.py
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

Fix tests
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/source.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/source.rs
  py-rattler/tests/unit/test_custom_source.py
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

Fix lint
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/source.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  py-rattler/rattler/repo_data/source.py
  py-rattler/src/repo_data/source.rs
  py-rattler/tests/unit/test_custom_source.py
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

Make loading package records consistent across subdir types
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

Add 'All' package format selection option
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/gateway/who_needs_query.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/rattler/repo_data/source.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/rattler/solver/solver.py
  py-rattler/src/repo_data/sparse.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

chore(js-rattler): remove wee_alloc in favor of the default allocator (#2856)
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  js-rattler/crate/lib.rs
Due: fmt, clippy, test

Fix platform -> subdir
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

feat(rattler-bin): use configured default channels in all commands
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/gateway.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/commands/whoneeds.rs
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

Fix type hints
  py-rattler/rattler/repo_data/gateway.py
Due: none

Rely on sparse repodata package selection
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/source.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

refactor(rattler-bin): reject extras and flags in `inspect` matchspecs, trim channel help
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler-bin/src/commands/whoneeds.rs
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

fix(solve): solve with extras
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/extras_tests.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

refactor(networking)!: replace anyhow with typed thiserror errors
  Cargo.lock
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/authentication_storage/mod.rs
  crates/rattler_networking/src/authentication_storage/storage.rs
  crates/rattler_networking/src/gcs_middleware.rs
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/s3_middleware.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

also matchspec
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

test(rattler_config): update snapshots for write_lookup field
  crates/rattler_config/tests/snapshots/compat__parse__deprecated-and-unknown.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__override-layer.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__snake-case-aliases.toml.snap
Due: none

test(rattler-bin): update skill snapshot and unwrap miette output in whoprovides test
  crates/rattler-bin/tests/cli.rs
  crates/rattler-bin/tests/snapshots/cli__skill.snap
Due: fmt, clippy, test

fix(rattler_lookup): fall back to the URL path for non-native file URLs
  crates/rattler_lookup/src/location.rs
Due: fmt, clippy, test

refactor(rattler_package_streaming): use std::fs::canonicalize for extraction destination
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/read.rs
Due: fmt, clippy, test

test(rattler_package_streaming): extract directories longer than MAX_PATH
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

chore: drop dunce from binding lockfiles
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

refactor(rattler_index): tighten the on-disk cache format
  crates/rattler_index/src/cache.rs
  crates/rattler_index/tests/integration/resumable_indexing.rs
Due: fmt, clippy, test

chore: prepare py-rattler v0.27.0 release
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pyproject.toml
Due: none

fix(rattler-bin): ignore broken pipe in fetch-file and download
  crates/rattler-bin/src/commands/completion.rs
  crates/rattler-bin/src/commands/download.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/tests/cli.rs
Due: fmt, clippy, test

feat(package_streaming): single-pass multi-range reads of one file
  crates/rattler_package_streaming/src/archive.rs
  crates/rattler_package_streaming/src/reqwest/test_server.rs
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/archive.rs
  py-rattler/tests/unit/test_package_archive.py
Due: fmt, clippy, test

fix(rattler_package_streaming): compare verbatim paths in extraction containment check (#2857)
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/tests/extract.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

ci: stop labeling vouched PRs
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

Update py-rattler/CHANGELOG.md
  py-rattler/CHANGELOG.md
Due: none

changelog: use keyword args for S3Config example, drop MinIO mention
  py-rattler/CHANGELOG.md
Due: none

feat(rattler_index): store the package cache in the channel
  crates/rattler_index/README.md
  crates/rattler_index/src/cache.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/resumable_indexing.rs
Due: fmt, clippy, test

build(sigstore): take the sigstore crates from crates.io 0.14
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/verify_attestation.rs
  crates/rattler_sigstore/src/verify.rs
  crates/rattler_upload/src/upload/attestation.rs
  py-rattler/Cargo.lock
Due: fmt, clippy, test

feat(sigstore): add FulcioCiClaims from `1.3.6.1.4.1.57264.1` (#2844)
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/verify_attestation.rs
  crates/rattler-bin/tests/cli.rs
  crates/rattler-bin/tests/snapshots/cli__attestation__verify_attestation.snap
  crates/rattler-bin/tests/snapshots/cli__attestation__verify_attestation_json.snap
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_sigstore/src/error.rs
  crates/rattler_sigstore/src/lib.rs
  crates/rattler_sigstore/src/policy.rs
  crates/rattler_sigstore/src/sidecar.rs
  crates/rattler_sigstore/src/verify.rs
  crates/rattler_sigstore/tests/verify.rs
  crates/rattler_upload/src/upload/attestation.rs
  py-rattler/Cargo.lock
  py-rattler/docs/sigstore.md
  py-rattler/rattler/__init__.py
  py-rattler/rattler/sigstore/__init__.py
  py-rattler/rattler/sigstore/sigstore.py
  py-rattler/src/lib.rs
  py-rattler/src/sigstore.rs
  py-rattler/tests/unit/test_sigstore.py
  test-data/sigstore/README.md
  test-data/sigstore/agent-skill-conda-forge-0.0.21-h4616a5c_0.conda
  test-data/sigstore/agent-skill-conda-forge-0.0.21-h4616a5c_0.conda.sigs
Due: fmt, clippy, test

refactor(networking)!: replace anyhow with typed thiserror (#2869)
  Cargo.lock
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/authentication_storage/mod.rs
  crates/rattler_networking/src/authentication_storage/storage.rs
  crates/rattler_networking/src/gcs_middleware.rs
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/s3_middleware.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

changelog: add #2844 and #2857, rebase onto main
  py-rattler/CHANGELOG.md
Due: none

feat(rattler-bin): support matchspecs in `rattler inspect` (#2867)
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/gateway.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/commands/whoneeds.rs
  crates/rattler-bin/src/solver_args.rs
  crates/rattler-bin/tests/snapshots/cli__skill.snap
Due: fmt, clippy, test
