Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix: sign dylibs
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

fix: sign dylibs even if they don't have the executable bit set (#1753)
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

fix: update lockfile
  js-rattler/package-lock.json
Due: none

chore(js): bump to 0.3.4 (#1752)
  js-rattler/package-lock.json
  js-rattler/package.json
Due: none

feat: Expose rattler_pty in py-rattler (#1746)
  .github/workflows/release-python.yml
  Cargo.lock
  crates/rattler_pty/Cargo.toml
  crates/rattler_pty/src/unix/pty_process.rs
  crates/rattler_pty/src/unix/pty_session.rs
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pixi.toml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/pty/__init__.py
  py-rattler/rattler/pty/pty_process.py
  py-rattler/rattler/pty/pty_session.py
  py-rattler/src/lib.rs
  py-rattler/src/pty/mod.rs
  py-rattler/src/pty/pty_process.rs
  py-rattler/src/pty/pty_session.rs
  py-rattler/tests/unit/test_pty.py
Due: check-yaml, fmt, clippy, test

feat: use bin 8 instead of array for hash encoding
  Cargo.lock
  Cargo.toml
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_digest/Cargo.toml
  crates/rattler_digest/src/serde.rs
Due: fmt, clippy, test

fix: clippy errors
  crates/rattler_digest/src/serde.rs
Due: fmt, clippy, test

fix: use byte string instead of array for hash encoding (#1755)
  Cargo.lock
  Cargo.toml
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_digest/Cargo.toml
  crates/rattler_digest/src/serde.rs
Due: fmt, clippy, test

fix: add time feature to tokio for rattler_pty
  crates/rattler_pty/Cargo.toml
Due: none

feat: make read_package_file_content public
  crates/rattler_package_streaming/src/seek.rs
Due: fmt, clippy, test

Add try_from_magic_bytes
  crates/rattler_conda_types/src/package/archive_type.rs
Due: fmt, clippy, test

comment
  crates/rattler_conda_types/src/package/archive_type.rs
Due: fmt, clippy, test

test
  crates/rattler_conda_types/src/package/archive_type.rs
Due: fmt, clippy, test

asref
  crates/rattler_conda_types/src/package/archive_type.rs
Due: fmt, clippy, test

fix
  crates/rattler_conda_types/src/package/archive_type.rs
Due: fmt, clippy, test

feat: make read_package_file_content public, add try_from_magic_bytes (#1757)
  crates/rattler_conda_types/src/package/archive_type.rs
  crates/rattler_package_streaming/src/seek.rs
Due: fmt, clippy, test

rattler_lock: Enable the extensions in the `pep508_rs` crate
  Cargo.toml
Due: none

rattler_lock: Add a new FileFormatVersion
  crates/rattler_lock/src/file_format_version.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/snapshots/rattler_lock__builder__test__merge_records_and_purls.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__numpy-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__pypi-matplotlib-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__python-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__absolute-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__flat-index-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__similar-with-and-without-purl.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__options-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/empty-lock.yml
  test-data/conda-lock/v7/numpy-as-pypi-lock.yml
  test-data/conda-lock/v7/options-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/python-from-conda-only-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

Use macos-15-intel
  .github/workflows/release-python.yml
Due: check-yaml

chore(ci): migrate to macos-15-intel runners (#1759)
  .github/workflows/release-python.yml
Due: check-yaml

chore: Make lockfile pixi-0.57.0 compatible
  pixi.lock
Due: none

update actionlint
  pixi.lock
Due: none

fix
  pixi.lock
Due: none

chore: make lockfile pixi-0.57.0 compatible (#1761)
  pixi.lock
Due: none

rattler_lock: Add API to read a lock file with a work directory
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  test-data/conda-lock/v7/pypi_absolute_url.yml
  test-data/conda-lock/v7/pypi_relative_outside_url.yml
  test-data/conda-lock/v7/pypi_relative_url.yml
Due: check-yaml, fmt, clippy, test

rattler_lock: Keep relative paths intact when loading/saving a `LockFile`
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  crates/rattler_lock/src/url_or_path.rs
  crates/rattler_lock/src/verbatim.rs
Due: fmt, clippy, test

wip: plan
  specs/source-packages-v7-plan.md
Due: none

wip: expose parsed lock version and tidy deserializer
  crates/rattler/src/install/mod.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/v3.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

wip: increase lock-file version
  crates/rattler_lock/src/file_format_version.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/snapshots/rattler_lock__builder__test__merge_records_and_purls.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__numpy-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__pypi-matplotlib-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__python-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__absolute-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__flat-index-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__similar-with-and-without-purl.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__options-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
Due: fmt, clippy, test

wip: v7 structure
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

wip: roundtrip issues with v7
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
Due: fmt, clippy, test

wip: v7 with variants
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
Due: fmt, clippy, test

perf: Improve performance of bash shell activation on Windows
  crates/rattler_shell/src/shell/mod.rs
Due: fmt, clippy, test

perf: Improve performance of bash shell activation on Windows (#1758)
  crates/rattler_shell/src/shell/mod.rs
Due: fmt, clippy, test

Update crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

feat(lock): add path to package_build_source (#1719)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v6/source_data.rs
Due: fmt, clippy, test

update dependencies
  Cargo.lock
  Cargo.toml
  crates/rattler_cache/src/package_cache/cache_lock.rs
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_digest/src/serde.rs
  js-rattler/Cargo.lock
  pixi.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

update zip to 6.0
  Cargo.lock
  Cargo.toml
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

chore: zip crate to 6.0 (#1774)
  Cargo.lock
  Cargo.toml
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none
