Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

test(rattler): import file mode in link tests
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

ci: Replace RELEASE_PLZ_TOKEN with octo-sts
  .github/chainguard/write.sts.yaml
  .github/workflows/release-rust.yaml
Due: check-yaml

ci: Replace RELEASE_PLZ_TOKEN with octo-sts (#2479)
  .github/chainguard/write.sts.yaml
  .github/workflows/release-rust.yaml
Due: check-yaml

test(rattler): fix binary patch padding expectation
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

feat(rattler_shell): add support for the brush shell
  crates/rattler-bin/src/commands/shell_hook.rs
  crates/rattler_shell/src/shell/mod.rs
Due: fmt, clippy, test

fix: abbreviate long version lists in unsolvable errors
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

feat: Add --limit to `rattler inspect`
  crates/rattler-bin/src/commands/inspect.rs
Due: fmt, clippy, test

feat: add support for the brush shell (#2480)
  crates/rattler-bin/src/commands/shell_hook.rs
  crates/rattler_shell/src/shell/mod.rs
Due: fmt, clippy, test

feat: Add --limit to `rattler inspect` (#2482)
  crates/rattler-bin/src/commands/inspect.rs
Due: fmt, clippy, test

feat(rattler): allow setting alternative target prefix on Installer
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

feat(py-rattler): expose alternative target prefix in install
  py-rattler/rattler/install/installer.py
  py-rattler/src/installer.rs
Due: fmt, clippy, test

Align info.repodata_revisions with the CEP-146 dictionary form
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/tests/unit/test_index.py
  test-data/channels/with-wheels/noarch/repodata.json
Due: fmt, clippy, test

style(py-rattler): satisfy ruff format in install
  py-rattler/rattler/install/installer.py
Due: none

lint
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/progress.rs
Due: fmt, clippy, test

remove sanitized check
  crates/rattler-bin/src/commands/exec.rs
Due: fmt, clippy, test

lint
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/progress.rs
Due: fmt, clippy, test

lint
  crates/rattler-bin/src/commands/progress.rs
Due: fmt, clippy, test

feat: rattler exec implementation (#2463)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/progress.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_cache/src/consts.rs
  crates/rattler_cache/src/lib.rs
Due: fmt, clippy, test

fix(oci): return 404 for sharded repodata requests
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

Enable `clap`'s `env` feature
  Cargo.toml
Due: none

Add env in clap macros
  crates/rattler-bin/src/commands/list.rs
  crates/rattler-bin/src/commands/run.rs
Due: fmt, clippy, test

fix: abbreviate long version lists in unsolvable errors (#2481)
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

fix: gracefully handle missing components in py-rattler package parsing (#2349)
  py-rattler/Cargo.lock
  py-rattler/rattler/package/about_json.py
  py-rattler/rattler/package/index_json.py
  py-rattler/rattler/package/paths_json.py
  py-rattler/rattler/package/run_exports_json.py
  py-rattler/src/about_json.rs
  py-rattler/src/index_json.rs
  py-rattler/src/paths_json.rs
  py-rattler/src/run_exports_json.rs
Due: fmt, clippy, test

fix: Handling missing components in py-rattler package parsing (#2488)
  py-rattler/Cargo.lock
  py-rattler/rattler/package/about_json.py
  py-rattler/rattler/package/index_json.py
  py-rattler/rattler/package/paths_json.py
  py-rattler/rattler/package/run_exports_json.py
  py-rattler/src/about_json.rs
  py-rattler/src/index_json.rs
  py-rattler/src/paths_json.rs
  py-rattler/src/run_exports_json.rs
Due: fmt, clippy, test

fix: make package extraction resilient to filesystem mtime limitations
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

test(package-streaming): enable serde_json preserve_order for deterministic snapshot
  crates/rattler_package_streaming/Cargo.toml
Due: none

fix(package-streaming): set mtime on sanitized path during sync extraction
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

fix(package-streaming): Handle pre-1980 timestamps in tar extraction for exFAT compatibility (#2110)
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

test: enable serde_json preserve_order for deterministic tests (#2489)
  crates/rattler_package_streaming/Cargo.toml
Due: none

refactor: standardise target prefix across commands (#2311)
  Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/list.rs
  crates/rattler-bin/src/commands/menu.rs
  crates/rattler-bin/src/commands/run.rs
  crates/rattler-bin/src/commands/shell_hook.rs
Due: fmt, clippy, test

fix: (de)serialize `info.repodata_revisions` as dictionary (#2485)
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/tests/unit/test_index.py
  test-data/channels/with-wheels/noarch/repodata.json
Due: fmt, clippy, test

chore: prepare py-rattler v0.25.0 release
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: none

chore: prepare py-rattler v0.25.0 release (#2494)
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: none

feat(rattler): support win-arm64/win-32 entry points via signed launchers
  crates/rattler/resources/cli-32.exe
  crates/rattler/resources/cli-64.exe
  crates/rattler/resources/cli-arm64.exe
  crates/rattler/resources/launcher64.exe
  crates/rattler/src/install/entry_point.rs
  scripts/update-launchers.py
Due: fmt, clippy, test

feat: add signed entry-point launchers for win x86/x64/arm64 (#2493)
  crates/rattler/resources/cli-32.exe
  crates/rattler/resources/cli-64.exe
  crates/rattler/resources/cli-arm64.exe
  crates/rattler/resources/launcher64.exe
  crates/rattler/src/install/entry_point.rs
  scripts/update-launchers.py
Due: fmt, clippy, test

feat(rattler-bin): use VirtualPackageOverrides::from_env() for virtual package detection
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/commands/virtual_packages.rs
Due: fmt, clippy, test

feat: support CONDA_OVERRIDE_* in rattler cli (#2496)
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/commands/virtual_packages.rs
Due: fmt, clippy, test

feat(lock): store binary conda package locations verbatim
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
Due: fmt, clippy, test

chore: unify pr template between pixi and rattler
  .github/pull_request_template.md
Due: none

feat: add `rattler search --json`
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/search.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
