Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

completely move to ContentComparable
  crates/rattler/src/install/transaction.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__menuinst-1_4_19-py311h1ea47a8_1_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__pysocks-1_7_1-pyh0701188_6_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__urllib3-1_26_14-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__xz-5_2_6-h8d14728_0_json.snap
Due: fmt, clippy, test

feat: lock package build source
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/source_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  test-data/conda-lock/v6/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v6/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v6/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v6/pixi-build-url-source-lock.yml
Due: check-yaml, fmt, clippy, test

feat: lock package build source (#1650)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/source_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  test-data/conda-lock/v6/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v6/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v6/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v6/pixi-build-url-source-lock.yml
Due: check-yaml, fmt, clippy, test

fix: move force_path_style
  Cargo.lock
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_s3/Cargo.toml
  crates/rattler_s3/src/clap.rs
  crates/rattler_s3/src/lib.rs
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/s3.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/index/index.py
  py-rattler/src/index.rs
  scripts/e2e/s3-aws.nu
Due: fmt, clippy, test

dont use deprecated api
  scripts/e2e/s3-minio.nu
Due: none

chore: remove provider name
  crates/rattler_networking/src/s3_middleware.rs
Due: fmt, clippy, test

fix: auth for prefix
  crates/rattler/src/cli/auth.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

test: fix tests
  Cargo.lock
  crates/rattler/Cargo.toml
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

fix: `auth` for prefix.dev (#1652)
  Cargo.lock
  crates/rattler/Cargo.toml
  crates/rattler/src/cli/auth.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

chore(rattler_lock): release v0.24.0
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_lock/CHANGELOG.md
  crates/rattler_lock/Cargo.toml
Due: none

chore: release (#1651)
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_lock/CHANGELOG.md
  crates/rattler_lock/Cargo.toml
Due: none

chore: don't autofix typos
  pixi.toml
Due: none

Update crates/rattler_s3/src/lib.rs
  crates/rattler_s3/src/lib.rs
Due: fmt, clippy, test

fix: integration test
  py-rattler/tests/unit/test_index.py
Due: none

fix: struct ordering
  crates/rattler_s3/src/lib.rs
Due: fmt, clippy, test

chore: don't autofix typos (#1653)
  pixi.toml
Due: none

feat: derive default credentials from aws sdk (#1629)
  .github/workflows/e2e-s3-tests.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/pixi.toml
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/menu.rs
  crates/rattler-bin/src/commands/virtual_packages.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/pixi.lock
  crates/rattler_index/pixi.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
  crates/rattler_s3/Cargo.toml
  crates/rattler_s3/src/clap.rs
  crates/rattler_s3/src/lib.rs
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/s3.rs
  js-rattler/Cargo.lock
  pixi.lock
  pixi.toml
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/src/error.rs
  py-rattler/src/index.rs
  py-rattler/tests/unit/test_index.py
  scripts/e2e/s3-aws.nu
  scripts/e2e/s3-minio.nu
Due: check-yaml, fmt, clippy, test

fix: only run AWS s3 test on main
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: only run AWS s3 test on main (#1655)
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

chore: release
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_cache/CHANGELOG.md
  crates/rattler_cache/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/CHANGELOG.md
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/CHANGELOG.md
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_s3/CHANGELOG.md
  crates/rattler_s3/Cargo.toml
  crates/rattler_sandbox/CHANGELOG.md
  crates/rattler_sandbox/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
Due: none

chore: release (#1654)
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_cache/CHANGELOG.md
  crates/rattler_cache/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/CHANGELOG.md
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/CHANGELOG.md
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_s3/CHANGELOG.md
  crates/rattler_s3/Cargo.toml
  crates/rattler_sandbox/CHANGELOG.md
  crates/rattler_sandbox/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
Due: none

Update desktop database when installing packages with shortcuts
  crates/rattler_menuinst/src/lib.rs
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

fix: update pixi.lock
  pixi.lock
Due: none

fix: update release-plz workflow to update pixi.lock
  .github/workflows/release-rust.yaml
Due: check-yaml

fix: update correct desktop database when installing packages with shortcuts (#1656)
  crates/rattler_menuinst/src/lib.rs
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

fix: release-plz PR action failing on commits with no changes (#1658)
  .github/workflows/release-rust.yaml
Due: check-yaml

fix: lint issue
  .github/workflows/release-rust.yaml
  js-rattler/Cargo.lock
Due: check-yaml

feat: add clear on coalesced_map
  crates/coalesced_map/src/lib.rs
Due: fmt, clippy, test

fix: lint issue
  .github/workflows/release-rust.yaml
Due: check-yaml

feat: add clear on coalesced_map (#1659)
  .github/workflows/release-rust.yaml
  crates/coalesced_map/src/lib.rs
Due: check-yaml, fmt, clippy, test

fix: reapply
  Cargo.lock
  Cargo.toml
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

chore: slim down dependency tree (#1382)
  Cargo.lock
  Cargo.toml
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

fix: menuinst on linux with `%` command
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__linux__tests__installation.snap
Due: fmt, clippy, test

fix: menuinst on linux with `%` command (#1671)
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__linux__tests__installation.snap
Due: fmt, clippy, test

fmt
  crates/rattler_upload/src/upload/opt.rs
Due: fmt, clippy, test

feat: add support for post-activation environment variables in Activator
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

docs: fix quickstart solve_and_install.py example
  py-rattler/examples/solve_and_install.py
Due: none

docs: fix quickstart solve_and_install.py example (#1675)
  py-rattler/examples/solve_and_install.py
Due: none

chore: Replace fxhash with ahash
  Cargo.lock
  Cargo.toml
  crates/path_resolver/Cargo.toml
  crates/path_resolver/src/lib.rs
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
  crates/rattler_conda_types/src/utils/serde.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/utils/serde/match_spec_map_or_vec.rs
  crates/rattler_lock/src/utils/serde/pep440_map_or_vec.rs
Due: fmt, clippy, test

Update pixi lockfile
  pixi.lock
Due: none
