Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix: failing release-plz release workflow
  .github/chainguard/write.sts.yaml
Due: check-yaml

fix: failing release-plz release workflow (#2800)
  .github/chainguard/write.sts.yaml
Due: check-yaml

refactor!: Remove timestamp_for_indexing function (#2799)
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

also add to rattler-bin
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

feat(rattler-bin): Add duration support for `--exclude-newer`
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/exclude_newer.rs
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

add package/channel cutoffs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/exclude_newer.rs
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

WIP
  crates/rattler-bin/src/exclude_newer.rs
Due: fmt, clippy, test

test: Switch from minio to rustfs
  .github/workflows/e2e-s3-tests.yml
  pixi.lock
  pixi.toml
  scripts/e2e/s3-minio.nu
  scripts/e2e/s3-rustfs.nu
Due: check-yaml

WIP
  pixi.lock
  pixi.toml
Due: none

ci: move the Linux musl runner to Ubuntu 24.04
  .github/workflows/rust-compile.yml
Due: check-yaml

fix: use the bundled libsolv sorter on musl
  crates/rattler_libsolv_c/build.rs
Due: fmt, clippy, test

fix: support Ubuntu 24.04 in the Linux musl build (#2805)
  .github/workflows/rust-compile.yml
  crates/rattler_libsolv_c/build.rs
Due: check-yaml, fmt, clippy, test

fix(networking): narrow unsupported shard detection
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix: report OCI sharded repodata as a 404 instead of erroring
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix: cap aws-smithy-types below 1.7 to keep aws-smithy-json building
  Cargo.lock
  Cargo.toml
  crates/rattler_s3/Cargo.toml
  py-rattler/Cargo.lock
Due: none

Update py-rattler, paths_json.rs to get the right formatting
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

fix(ci): unblock lint and python bindings for CEP-37 lockfiles
  .dprint.jsonc
  lefthook.yaml
  py-rattler/Cargo.lock
Due: check-yaml

chore(rattler_conda_types): drop unused memchr dependency
  Cargo.lock
  crates/rattler_conda_types/Cargo.toml
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

fix: adapt chris-only Platform::current() call sites to Option return
  crates/rattler-bin/src/commands/mount.rs
  crates/rattler_vfs/src/virtual_fs.rs
Due: fmt, clippy, test

refactor(install): premerge link.rs signing block with upstream iOS change
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

feat(rattler): replace the prefix under every encoding the CEP defines
  crates/rattler/src/install/link.rs
  crates/rattler_conda_types/src/package/mod.rs
  crates/rattler_conda_types/src/package/paths.rs
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

docs: call it the draft CEP and link to conda/ceps#179
  crates/rattler/src/install/link.rs
  crates/rattler_conda_types/src/package/paths.rs
Due: fmt, clippy, test

refactor(conda_lock): typed diagnostics and a conversion API on the models
  .dprint.jsonc
  Cargo.lock
  crates/rattler_conda_lock/CHANGELOG.md
  crates/rattler_conda_lock/Cargo.toml
  crates/rattler_conda_lock/src/document.rs
  crates/rattler_conda_lock/src/error.rs
  crates/rattler_conda_lock/src/lib.rs
  crates/rattler_conda_lock/src/model.rs
  crates/rattler_conda_lock/src/parse.rs
  crates/rattler_conda_lock/src/serialize.rs
  crates/rattler_conda_lock/src/validation.rs
  crates/rattler_conda_lock/tests/compatibility.rs
  crates/rattler_conda_lock/tests/error_messages.rs
  crates/rattler_conda_lock/tests/snapshots/error_messages__metadata_validation_errors.snap
  crates/rattler_conda_lock/tests/snapshots/error_messages__package_validation_errors.snap
  crates/rattler_conda_lock/tests/snapshots/error_messages__syntax_and_schema_errors.snap
  crates/rattler_lock/src/conda_lock/dependencies.rs
  crates/rattler_lock/src/conda_lock/error.rs
  crates/rattler_lock/src/conda_lock/export.rs
  crates/rattler_lock/src/conda_lock/import.rs
  crates/rattler_lock/src/conda_lock/mod.rs
  crates/rattler_lock/tests/conda_lock_conversion.rs
  crates/rattler_lock/tests/conda_lock_errors.rs
  crates/rattler_lock/tests/snapshots/conda_lock_errors__artifacts_that_cannot_be_installed_as_written.snap
  crates/rattler_lock/tests/snapshots/conda_lock_errors__dependencies_that_cannot_be_represented.snap
  crates/rattler_lock/tests/snapshots/conda_lock_errors__selections_that_do_not_describe_one_environment.snap
  py-rattler/Cargo.lock
  test-data/cep37/LICENSE
  test-data/cep37/README.md
Due: fmt, clippy, test

fixed some warnings & the python lint run error's
  crates/rattler_conda_types/src/package/paths.rs
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

fixing lint error's
  crates/rattler/src/install/link.rs
  crates/rattler_cache/src/validation.rs
  crates/rattler_conda_types/src/package/paths.rs
Due: fmt, clippy, test

improved c-string function, improved permission checking, improved error message, improved slice usage in link.rs, Still have to look at the v2 backwards incompatibility comment
  crates/rattler/src/install/link.rs
  crates/rattler_cache/src/validation.rs
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

paths version 2 support
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/snapshots/rattler__install__link__test__replace_long_prefix_in_text_file_offsets.snap
  crates/rattler_cache/src/validation.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_v2.snap
Due: fmt, clippy, test

implemented keeping version 1 and the executable field
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_excecutable.snap
Due: fmt, clippy, test

formatting in the py-rattler paths_json
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

feat(rattler_conda_types): restructure offsets as encoding-tagged groups
  Cargo.lock
  crates/rattler/src/install/link.rs
  crates/rattler_conda_types/src/package/mod.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_with_offsets.snap
  py-rattler/Cargo.lock
  py-rattler/rattler/package/paths_json.py
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

docs(rattler_conda_types): align offsets & shebang_length with CEP
  crates/rattler_conda_types/src/package/paths.rs
Due: fmt, clippy, test

rename snap file
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_executable.snap
Due: none

feat(rattler_fs): initial virtual filesystem crate
  crates/rattler_fs/Cargo.toml
  crates/rattler_fs/src/fuse_directory.rs
  crates/rattler_fs/src/main.rs
  crates/rattler_fs/src/prefix_replacement.rs
  crates/rattler_fs/src/virtual_fs.rs
Due: fmt, clippy, test

feat(rattler-bin): add `mount` subcommand
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/mount.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

feat(py-rattler): expose offsets and shebang_length
  py-rattler/rattler/package/paths_json.py
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

refactor(rattler): apply review feedback on paths.json offsets
  crates/rattler/src/install/link.rs
  crates/rattler_conda_types/src/package/paths.rs
Due: fmt, clippy, test

feat(rattler): record prefix-replacement offsets in paths.json
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
  crates/rattler_cache/src/validation.rs
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/package/mod.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_with_offsets.snap
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

PyPrefixPlaceholder empty offstes field flag
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

fix(rattler): resolve CI failures (private doc link + CRLF-robust test)
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

feat(rattler_vfs): build out the mountable filesystem crate
  Cargo.toml
  crates/rattler_fs/Cargo.toml
  crates/rattler_fs/src/fuse_directory.rs
  crates/rattler_fs/src/main.rs
  crates/rattler_fs/src/prefix_replacement.rs
  crates/rattler_fs/src/virtual_fs.rs
  crates/rattler_vfs/Cargo.toml
  crates/rattler_vfs/build.rs
  crates/rattler_vfs/src/codesign.rs
  crates/rattler_vfs/src/fuse_adapter.rs
  crates/rattler_vfs/src/lib.rs
  crates/rattler_vfs/src/metadata_tree.rs
  crates/rattler_vfs/src/nfs_adapter.rs
  crates/rattler_vfs/src/overlay.rs
  crates/rattler_vfs/src/overlay_fs.rs
  crates/rattler_vfs/src/overlay_fs/inode.rs
  crates/rattler_vfs/src/prefix_replacement.rs
  crates/rattler_vfs/src/projfs_adapter.rs
  crates/rattler_vfs/src/vfs_ops.rs
  crates/rattler_vfs/src/virtual_fs.rs
  crates/rattler_vfs/tests/install_vs_mount_parity.rs
  typos.toml
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
