Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

refactor(rattler_upload): rename base64_md5 to md5_base64 for consistent md5_<format> naming
  crates/rattler_upload/src/upload/anaconda.rs
  crates/rattler_upload/src/upload/package.rs
Due: fmt, clippy, test

feat: implement lazy PrefixData primitive with tests (#2074)
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/prefix_data.rs
Due: fmt, clippy, test

chore: prepare py-rattler v0.23.2 release
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.toml
Due: none

fix: update tests to use ExternalSymlinkPolicy enum instead of bool
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

chore: Extract v7 of the lockfile (#1981)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
Due: fmt, clippy, test

refactor: introduce legacy package data (#1985)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

chore: Remove `editable` flag from Pypi packages (#1982)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

chore: Remove `input` hash from Conda packages (#1983)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
Due: fmt, clippy, test

refactor: split v7 (de)serialization of source and binary packages (#1987)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

feat: add allow external symlinks to options builder (#2258)
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

fix(rattler_upload): use APP_USER_AGENT instead of hardcoded rattler-build
  crates/rattler_upload/src/upload/anaconda.rs
  crates/rattler_upload/src/upload/cloudsmith.rs
  crates/rattler_upload/src/upload/mod.rs
Due: fmt, clippy, test

refactor: remove pypi `extras` from lock-file v7 (#2095)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  py-rattler/rattler/lock/package.py
  py-rattler/src/lib.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

fix: handle url-encoded windows paths in urls (#2200)
  crates/file_url/src/lib.rs
Due: fmt, clippy, test

chore: Do not persist pypi-prerelease-mode (#2053)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/options.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform.yml.snap
Due: fmt, clippy, test

refactor: rename `source` to `conda-source` (#2205)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
  test-data/lock_parse_fails/v7/duplicate_platform.yml
  test-data/lock_parse_fails/v7/duplicate_platform_definition.yml
  test-data/lock_parse_fails/v7/duplicate_platform_use.yml
  test-data/lock_parse_fails/v7/invalid_platform_name.yml
  test-data/lock_parse_fails/v7/invalid_platform_subdir.yml
  test-data/lock_parse_fails/v7/missing_platform.yml
Due: check-yaml, fmt, clippy, test

chore: Rename `index-url` to `index` in v7 python packages (#2203)
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

refactor: Make version optional when storing pypi packages (#2069)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

feat: Add index_url into Pypi packages (#2113)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  py-rattler/src/lock/mod.rs
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

refactor: make package record optional for source dependencies (#1995) resolve conflicts in mqrssxnx
  Cargo.lock
  Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v6/source_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/source.rs
  crates/rattler_lock/src/source_identifier.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

fix: Fix pypi source package identifiers mismatching the package location (#2247)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

Scaffold CLI run
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/run.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_shell/src/run/mod.rs
Due: fmt, clippy, test

fix: Fall back to mkdir when clonefile fails on non-APFS filesystems (#2260)
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

feat(rattler_upload): add Cloudsmith upload target (#2233)
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/anaconda.rs
  crates/rattler_upload/src/upload/cloudsmith.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/package.rs
Due: fmt, clippy, test

Fix return types
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/run.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_shell/src/lib.rs
  crates/rattler_shell/src/run/mod.rs
Due: fmt, clippy, test

Avoid dangling reference
  crates/rattler-bin/src/commands/run.rs
Due: fmt, clippy, test

Changed cli to align more with conda create, aliases were provided for backware compatibility where applicable.
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

A few edits.
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

The code doesn't need to be have a alias as it never provided it in the first place.
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

Make run_command_in_environment async
  crates/rattler-bin/src/commands/run.rs
  crates/rattler_shell/Cargo.toml
  crates/rattler_shell/src/run/mod.rs
Due: fmt, clippy, test

chore: prepare py-rattler v0.23.2 release (#2261)
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.toml
Due: none

fix: fetch release branch before updating pixi lockfile
  .github/workflows/release-rust.yaml
Due: check-yaml

fix: stale snapshot
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_subdir.yml.snap
  pixi.lock
Due: none

refactor: Do not extract hash data for local pypi sources
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__absolute-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__flat-index-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_subdir.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  pixi.lock
  test-data/conda-lock/v7/pypi_absolute_url.yml
  test-data/conda-lock/v7/pypi_custom_index.yml
  test-data/conda-lock/v7/pypi_relative_outside_url.yml
  test-data/conda-lock/v7/pypi_relative_url.yml
Due: check-yaml, fmt, clippy, test

feat: `rattler create` doc improvements and `conda create` alignment (#2264)
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

PrefixData: Implement iterator
  crates/rattler_conda_types/src/prefix_data.rs
Due: fmt, clippy, test

PrefixData: Error out if prefix does not exist or is not a conda environment
  crates/rattler_conda_types/src/prefix_data.rs
Due: fmt, clippy, test

Implement `rattler list` subcommand
  crates/rattler-bin/src/commands/list.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

Cleanup
  crates/rattler-bin/src/commands/list.rs
Due: fmt, clippy, test
