Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

Add missing is_post method and add corresponding tests
  crates/rattler_conda_types/src/version/mod.rs
Due: fmt, clippy, test

Add comments to tests
  crates/rattler_conda_types/src/version/mod.rs
Due: fmt, clippy, test

Ad tests for is_dev method
  crates/rattler_conda_types/src/version/mod.rs
Due: fmt, clippy, test

Fix ordering of dev and post components
  crates/rattler_conda_types/src/version/mod.rs
  crates/rattler_conda_types/src/version/parse.rs
Due: fmt, clippy, test

chore(ci): automerge patch lockfile bumps and cap concurrent PRs
  .github/renovate.json5
Due: none

chore(ci): lower prHourlyLimit to 2 instead of capping concurrent PRs
  .github/renovate.json5
Due: none

feat(repodata): add CEP-42 channel_relations fields
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  py-rattler/rattler/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/src/lib.rs
  py-rattler/src/repo_data/mod.rs
Due: fmt, clippy, test

fix: remove redundant explicit doc link targets in CancellationToken
  crates/rattler_solve/src/lib.rs
Due: fmt, clippy, test

refactor(rattler_lock)!: drop unused Ord/PartialOrd impls on package data types
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/pypi.rs
Due: fmt, clippy, test

refactor(py-rattler): make ChannelInfo/RepoData read-only views
  crates/rattler_conda_types/src/repo_data/mod.rs
  py-rattler/rattler/repo_data/record.py
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/src/repo_data/mod.rs
Due: fmt, clippy, test

refactor(py-rattler): drop RepoData/ChannelInfo/ChannelRelations constructors
  crates/rattler_conda_types/src/repo_data/mod.rs
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/src/repo_data/mod.rs
Due: fmt, clippy, test

feat(py-rattler): expose write_repodata for record metadata
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/src/index.rs
  py-rattler/src/lib.rs
  py-rattler/tests/unit/test_index.py
Due: fmt, clippy, test

chore: Make the SelectorId include the type of package to lock for
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__flat-index-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-source-build-host-packages-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  py-rattler/Cargo.lock
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/conda-source-build-host-packages-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/multiple-source-packages-with-variants-lock.yml
  test-data/conda-lock/v7/numpy-as-pypi-lock.yml
  test-data/conda-lock/v7/options-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/pypi_absolute_url.yml
  test-data/conda-lock/v7/pypi_custom_index.yml
  test-data/conda-lock/v7/pypi_relative_outside_url.yml
  test-data/conda-lock/v7/pypi_relative_url.yml
  test-data/conda-lock/v7/python-from-conda-only-lock.yml
  test-data/conda-lock/v7/source-package-with-variants-lock.yml
  test-data/conda-lock/v7/source-timestamps-map-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

feat(solve): derive Hash for ChannelPriority
  crates/rattler_solve/src/lib.rs
Due: fmt, clippy, test

feat(rattler_lock)!: serialize build/host packages as tagged selectors
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/package_selector.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-source-build-host-packages-lock.yml.snap
  test-data/conda-lock/v7/conda-source-build-host-packages-lock.yml
Due: check-yaml, fmt, clippy, test

refactor(rattler_lock): store SelectorId as kind + id
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

refactor(rattler_lock): drop SerializablePackageSelector duplicate
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v7/package_selector.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

refactor: Render selector ids better in the lock file v7 (#2374)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/package_selector.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-source-build-host-packages-lock.yml.snap
  test-data/conda-lock/v7/conda-source-build-host-packages-lock.yml
Due: check-yaml, fmt, clippy, test

add py-rattler skill
  .claude/skills/py-rattler-release-notes/SKILL.md
  skills/py-rattler/SKILL.md
  skills/py-rattler/references/channels-platforms.md
  skills/py-rattler/references/exceptions.md
  skills/py-rattler/references/gateway-repodata.md
  skills/py-rattler/references/indexing.md
  skills/py-rattler/references/lock-files.md
  skills/py-rattler/references/match-spec.md
  skills/py-rattler/references/networking.md
  skills/py-rattler/references/package-metadata.md
  skills/py-rattler/references/package-records.md
  skills/py-rattler/references/package-streaming.md
  skills/py-rattler/references/prefix-records.md
  skills/py-rattler/references/pty.md
  skills/py-rattler/references/shell-activation.md
  skills/py-rattler/references/solving-installing.md
  skills/py-rattler/references/version.md
  skills/py-rattler/references/virtual-packages.md
Due: none

add update-skills
  .claude/skills/update-skills/SKILL.md
Due: none

mention skill in docs
  py-rattler/docs/index.md
Due: none

typo
  skills/py-rattler/references/channels-platforms.md
Due: none

review from opus 4.7
  skills/py-rattler/SKILL.md
  skills/py-rattler/references/channels-platforms.md
  skills/py-rattler/references/gateway-repodata.md
  skills/py-rattler/references/indexing.md
  skills/py-rattler/references/networking.md
  skills/py-rattler/references/package-metadata.md
  skills/py-rattler/references/package-records.md
  skills/py-rattler/references/prefix-records.md
  skills/py-rattler/references/shell-activation.md
  skills/py-rattler/references/solving-installing.md
  skills/py-rattler/references/version.md
Due: none

add rattler skill
  .claude/skills/update-skills/SKILL.md
  skills/rattler/SKILL.md
  skills/rattler/references/auth.md
  skills/rattler/references/environments.md
  skills/rattler/references/misc.md
  skills/rattler/references/packages.md
  skills/rattler/references/upload.md
Due: none

rename
  skills/rattler-bin/SKILL.md
  skills/rattler-bin/references/auth.md
  skills/rattler-bin/references/environments.md
  skills/rattler-bin/references/misc.md
  skills/rattler-bin/references/packages.md
  skills/rattler-bin/references/upload.md
Due: none

mention in agents.md as well
  AGENTS.md
Due: none

Update SKILL.md
  skills/py-rattler/SKILL.md
Due: none

add recipe
  .claude/skills/update-skills/SKILL.md
  skills/py-rattler/pixi.toml
  skills/py-rattler/recipe.yaml
  skills/rattler-bin/pixi.toml
  skills/rattler-bin/recipe.yaml
Due: check-yaml

feat(solve): derive Hash for SolveStrategy
  crates/rattler_solve/src/lib.rs
Due: fmt, clippy, test

refactor: Render selector ids better in the lock file v7 (#2374) feat(rattler_lock): expose handle resolution + include source_data packages in serialized used-set
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/package_selector.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-source-build-host-packages-lock.yml.snap
  test-data/conda-lock/v7/conda-source-build-host-packages-lock.yml
Due: check-yaml, fmt, clippy, test

feat(rattler_lock): expose handle resolution + include source_data pa… (#2376)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

fix skip existing
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

fix lint
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

add repodata revisions as proposed in CEP
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

feat(rattler_lock): expose package-table indexing accessors
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

feat(rattler_lock): expose raw_handles() on EnvironmentPackages
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

feat(rattler_lock): add indexed_packages() iterator on Environment
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

refactor: Poke some holes into the encapsulation of rattler_lock for pixi (#2380)
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

Add repodata revision indexing support
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_index/src/cache.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_index/tests/integration/concurrent_indexing.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/src/index.rs
  py-rattler/tests/unit/test_index.py
Due: fmt, clippy, test
