Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix(conda-types): retain legacy repodata revision name
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/parse_mode.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/reporter.rs
Due: fmt, clippy, test

refactor(index): separate revision selection from metadata
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  py-rattler/src/index.rs
Due: fmt, clippy, test

fix(conda-types): keep v3 data inside shards
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
Due: fmt, clippy, test

fix(index): keep legacy revision implicit
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/README.md
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  py-rattler/rattler/index/index.py
  py-rattler/tests/unit/test_index.py
Due: fmt, clippy, test

test(repodata): define shard shapes before statements
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

test(index): update unsupported revision error
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

test(index): keep legacy metadata implicit
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

feat(py-rattler): align v3 revision metadata
  py-rattler/rattler/__init__.py
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/rattler/repo_data/revisions.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/repo_data/mod.rs
  py-rattler/src/repo_data/sparse.rs
  py-rattler/tests/unit/test_package_record.py
Due: fmt, clippy, test

test(py-rattler): type flags roundtrip fixture
  py-rattler/tests/unit/test_package_record.py
Due: none

test(py-rattler): terminate flags doctest
  py-rattler/rattler/repo_data/package_record.py
Due: none

style: format Python revision metadata
  py-rattler/src/repo_data/mod.rs
Due: fmt, clippy, test

ci: add workflow concurrency limits
  .github/workflows/docs.yaml
  .github/workflows/enforce-sha.yml
  .github/workflows/lint-pr.yml
  .github/workflows/lint.yaml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/release-rust.yaml
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

chore(ci): add workflow concurrency limits (#2678)
  .github/workflows/docs.yaml
  .github/workflows/enforce-sha.yml
  .github/workflows/lint-pr.yml
  .github/workflows/lint.yaml
  .github/workflows/merge-gatekeeper.yml
  .github/workflows/release-rust.yaml
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

feat(conda-types): add canonical MatchSpec formatter
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/canonical_matchspec.rs
  crates/rattler_redaction/src/lib.rs
  py-rattler/rattler/match_spec/match_spec.py
Due: fmt, clippy, test

test(bindings): use unknown revision fixture
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

feat(bindings): expose unsupported repodata revisions
  js-rattler/Cargo.lock
  js-rattler/crate/gateway.rs
  js-rattler/package-lock.json
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  py-rattler/rattler/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/lib.rs
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

style: format binding source
  js-rattler/crate/gateway.rs
  py-rattler/rattler/repo_data/gateway.py
Due: fmt, clippy, test

feat(js-rattler): preserve extra dependencies
  js-rattler/crate/package_record.d.ts
  js-rattler/crate/package_record.rs
  js-rattler/crate/solve.rs
  js-rattler/src/PackageRecord.test.ts
  js-rattler/src/solve.test.ts
Due: fmt, clippy, test

feat(index): emit consistent v3 repodata
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

style: match Python binding CI formatting
  py-rattler/src/repo_data/gateway.rs
Due: fmt, clippy, test

test(repodata): separate metadata from selection input
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

style: format locked metadata fallback
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

refactor(js-rattler): simplify repodata metadata lookup
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

test: cover CEP 146 integration
  crates/rattler_index/Cargo.toml
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

style: match CI Rust formatting
  crates/rattler_index/tests/integration/basic_indexing.rs
  py-rattler/tests/unit/test_index.py
Due: fmt, clippy, test

only platform
  crates/rattler_conda_types/src/platform.rs
  js-rattler/js/platform.js
  py-rattler/rattler/platform/platform.py
Due: fmt, clippy, test

format
  crates/rattler_conda_types/src/platform.rs
Due: fmt, clippy, test

update test snapshot
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_subdir.yml.snap
Due: none

fix doctest
  py-rattler/rattler/platform/platform.py
Due: none

feat: adding emscripten-wasm64 platform (#2680)
  crates/rattler_conda_types/src/platform.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_subdir.yml.snap
  js-rattler/js/platform.js
  py-rattler/rattler/platform/platform.py
Due: fmt, clippy, test

fix: honor max-age without public cache directive (#2664)
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
Due: fmt, clippy, test

fix(rattler_networking): retry a digest-addressed OCI blob 404 through the manifest (#2653)
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

feat: expose repodata revision metadata in Python (#2674)
  py-rattler/rattler/__init__.py
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/rattler/repo_data/revisions.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/repo_data/mod.rs
  py-rattler/src/repo_data/sparse.rs
  py-rattler/tests/unit/test_package_record.py
Due: fmt, clippy, test

feat: preserve extra dependencies in JavaScript records (#2673)
  js-rattler/crate/package_record.d.ts
  js-rattler/crate/package_record.rs
  js-rattler/crate/solve.rs
  js-rattler/src/PackageRecord.test.ts
  js-rattler/src/solve.test.ts
Due: fmt, clippy, test

test(js): use supported Jest matcher
  js-rattler/src/Gateway.test.ts
Due: none

fix(ci): use newer ppc64le manylinux image
  .github/workflows/release-python.yml
Due: check-yaml

feat: add the CEP 146 repodata wire model (#2669)
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/parse_mode.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/README.md
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/src/index.rs
  py-rattler/tests/unit/test_index.py
Due: fmt, clippy, test

feat(repodata): add virtual package plugin registrations
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/Cargo.toml
Due: fmt, clippy, test

feat(repodata_gateway): collect virtual package plugins
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

feat(rattler): inspect virtual package plugin registrations
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/virtual_packages.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_repodata_gateway/docs/virtual-package-plugins.md
  test-data/channels/virtual-package-plugins/linux-64/repodata.json
  test-data/channels/virtual-package-plugins/noarch/repodata.json
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
