Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix: set strict default to false in Python bindings for backward compatibility
  py-rattler/src/match_spec.rs
  py-rattler/src/nameless_match_spec.rs
Due: fmt, clippy, test

fix: add From trait for ParseStrictnessWithNameMatcher to ParseMatchSpecOptions
  crates/rattler_conda_types/src/parse_mode.rs
Due: fmt, clippy, test

feat(lock): add optional variants field to lock-file v6
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  test-data/conda-lock/v6/multiple-source-packages-with-variants-lock.yml
  test-data/conda-lock/v6/source-package-with-variants-lock.yml
Due: check-yaml, fmt, clippy, test

fix(lock): remove variants from package selectors in v6
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  test-data/conda-lock/v6/multiple-source-packages-with-variants-lock.yml
  test-data/conda-lock/v6/source-package-with-variants-lock.yml
Due: check-yaml, fmt, clippy, test

feat: add `rattler extract` utility to the rattler-bin crate (#1832)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
  pixi.lock
Due: fmt, clippy, test

chore: fix linting issues and apply formatting
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

fix: remove unused imports in Python bindings
  py-rattler/src/match_spec.rs
Due: fmt, clippy, test

fix: add normalized property to PyPackageNameMatcher
  py-rattler/src/package_name_matcher.rs
Due: fmt, clippy, test

feat: implement async .conda archive extraction
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/async_seek.rs
  crates/rattler_package_streaming/src/tokio/mod.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

fix: add normalized property to PackageNameMatcher Python wrapper
  py-rattler/rattler/package/package_name_matcher.py
Due: none

fix: preserve mtime
  crates/rattler_package_streaming/src/tokio/async_read.rs
Due: fmt, clippy, test

feat: add accessor methods to PackageNameMatcher
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
Due: fmt, clippy, test

feat: add accessor methods to PackageNameMatcher (#1857)
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
Due: fmt, clippy, test

style: fix Rust formatting in py-rattler
  py-rattler/src/match_spec.rs
Due: fmt, clippy, test

refactor: Make MatchSpec deserializable
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
Due: fmt, clippy, test

feat: add cache clean method for on-disk data
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/lib.rs
Due: fmt, clippy, test

fmt
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

feat: implement From<T> for PackageNameMatcher variants
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
Due: fmt, clippy, test

feat: implement From<T> for PackageNameMatcher variants (#1861)
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
Due: fmt, clippy, test

refactor: make `extras` and `conditionals` runtime-configurable (#1816)
  .github/workflows/rust-compile.yml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/src/parse_mode.rs
  crates/rattler_solve/Cargo.toml
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends.rs
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/match_spec/nameless_match_spec.py
  py-rattler/rattler/package/package_name_matcher.py
  py-rattler/src/match_spec.rs
  py-rattler/src/nameless_match_spec.rs
  py-rattler/src/package_name_matcher.rs
  py-rattler/tests/unit/test_matchspec.py
Due: check-yaml, fmt, clippy, test

feat: enable wasm for `rattler_package_streaming` (#1838)
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
Due: none

add python bindings
  js-rattler/crate/gateway.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
Due: fmt, clippy, test

improve implementation
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  js-rattler/Cargo.lock
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.ts
  js-rattler/src/index.ts
  py-rattler/src/repo_data/gateway.rs
Due: fmt, clippy, test

format
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

fix clippy
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

fix docs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

feat: add conditional dependency support to libsolv backend
  crates/rattler_libsolv_c/build.rs
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/libsolv_c/wrapper/pool.rs
Due: fmt, clippy, test

test: add comprehensive tests for conditional dependencies
  crates/rattler_solve/tests/backends/conditional_tests.rs
  crates/rattler_solve/tests/backends/helpers/mod.rs
  crates/rattler_solve/tests/backends/helpers/package_builder.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__exclude_newer_error.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__issue_717.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__panic_on_constraint.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_dummy_repo_install_non_existent.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_locked.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_python.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_python_numpy.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_quetz.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_tensorboard.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_tensorflow.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_with_error.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__solve_xtensor_xsimd.snap
  crates/rattler_solve/tests/backends/snapshots/backends__backends__resolvo__virtual_package_constrains.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__exclude_newer_error.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__issue_717.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__panic_on_constraint.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_dummy_repo_install_non_existent.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_locked.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_python.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_python_numpy.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_quetz.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_tensorboard.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_tensorflow.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_with_error.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__solve_xtensor_xsimd.snap
  crates/rattler_solve/tests/backends/snapshots/backends__resolvo__virtual_package_constrains.snap
  crates/rattler_solve/tests/snapshots/backends__libsolv_c__solve_dummy_repo_install_non_existent.snap
  crates/rattler_solve/tests/snapshots/backends__libsolv_c__solve_with_error.snap
  crates/rattler_solve/tests/snapshots/backends__libsolv_c__virtual_package_constrains.snap
  crates/rattler_solve/tests/snapshots/backends__resolvo__solve_dummy_repo_extra_depends_conflict_resolvo.snap
  crates/rattler_solve/tests/snapshots/backends__resolvo__solve_dummy_repo_extra_depends_feature_conflict.snap
  crates/rattler_solve/tests/snapshots/backends__resolvo__solve_dummy_repo_extra_depends_recursive_feature.snap
Due: fmt, clippy, test

test: add comprehensive conditional dependency tests with unusual package names
  crates/rattler_solve/tests/backends/conditional_tests.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

feat: implement extras support for libsolv backend
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/libsolv_c/mod.rs
  crates/rattler_solve/src/libsolv_c/wrapper/pool.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

refactor: move extras tests to dedicated module
  crates/rattler_solve/tests/backends/conditional_tests.rs
  crates/rattler_solve/tests/backends/extras_tests.rs
  crates/rattler_solve/tests/backends/helpers/package_builder.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

refactor: make extras and conditionals runtime-configurable
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/libsolv_c/mod.rs
  crates/rattler_solve/tests/backends/helpers/package_builder.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

feat: add __cuda_arch virtual package for CUDA compute capability detection
  crates/rattler_virtual_packages/src/cuda.rs
  crates/rattler_virtual_packages/src/lib.rs
Due: fmt, clippy, test

chore(python): bump version from 0.16.0 to 0.17.0
  py-rattler/Cargo.toml
Due: none

chore(python): bump version from 0.16.0 to 0.17.0 (#1865)
  py-rattler/Cargo.toml
Due: none

feat: upgrade to uv crates
  Cargo.lock
  Cargo.toml
  crates/rattler/Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/utils/serde/pep440_map_or_vec.rs
  py-rattler/Cargo.toml
  py-rattler/src/lock/mod.rs
  rust-toolchain
Due: fmt, clippy, test

feat: update rust version
  pixi.toml
Due: none

feat: update pixi lock
  pixi.lock
Due: none

fix: clippy and lock warnings
  crates/rattler_conda_types/src/channel_data.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/package/run_exports.rs
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  pixi.lock
  pixi.toml
Due: fmt, clippy, test

fix: final clippy warning
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
