Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix(py): No pty feature on Windows
  py-rattler/pixi.toml
Due: none

fix(py): No pty feature on Windows (#2754)
  py-rattler/pixi.toml
Due: none

refactor(repodata-gateway): move the boxed future/stream helpers to a shared module
  crates/rattler_repodata_gateway/src/gateway/boxed.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/who_needs_query.rs
  crates/rattler_repodata_gateway/src/who_needs.rs
Due: fmt, clippy, test

reset comment
  crates/rattler_repodata_gateway/src/who_needs.rs
Due: fmt, clippy, test

perf(package-streaming): hash packages on the async pump
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

chore(js-rattler): update Cargo.lock
  js-rattler/Cargo.lock
Due: none

feat(rattler-bin): add --constraint flag to rattler solve
  crates/rattler-bin/src/commands/solve.rs
Due: fmt, clippy, test

fix(menuinst): resolve `..` before checking link_in_bundle containment
  crates/rattler_menuinst/src/macos.rs
Due: fmt, clippy, test

fix(networking): require a path-segment boundary in MirrorMiddleware prefix match
  crates/rattler_networking/src/mirror_middleware.rs
Due: fmt, clippy, test

feat(rattler-bin): extend inspect with about, run exports, sizes and --json
  crates/rattler-bin/src/commands/inspect.rs
Due: fmt, clippy, test

fix(menuinst): resolve `..` before checking link_in_bundle containment (#2758)
  crates/rattler_menuinst/src/macos.rs
Due: fmt, clippy, test

feat(rattler-bin): share solver flags between solve and create, add --channel-priority
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

refactor(rattler-bin): drop the info/files fallback from inspect
  crates/rattler-bin/src/commands/inspect.rs
Due: fmt, clippy, test

refactor(rattler-bin): polish inspect output and flags
  crates/rattler-bin/src/commands/inspect.rs
Due: fmt, clippy, test

feat(rattler-bin): print the archive size in inspect
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler_package_streaming/src/archive.rs
Due: fmt, clippy, test

perf: extract packages on a blocking worker (#2748)
  Cargo.lock
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/fs.rs
  crates/rattler_package_streaming/tests/extract.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

feat(rattler-bin): add --constraint flag to rattler solve (#2761)
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
  crates/rattler-bin/src/solver_args.rs
Due: fmt, clippy, test

feat(rattler-bin): extend inspect with about, run exports, sizes and --json (#2760)
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler_package_streaming/src/archive.rs
Due: fmt, clippy, test

feat: add repodata whoneeds for reverse dependency lookup (#2738)
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/whoneeds.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_repodata_gateway/src/gateway/boxed.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/gateway/who_needs_query.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/who_needs.rs
  py-rattler/docs/who_needs.md
  py-rattler/examples/benchmark_whoneeds.py
  py-rattler/mkdocs.yml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/repo_data/who_needs.py
  py-rattler/src/lib.rs
  py-rattler/src/repo_data/gateway.rs
  py-rattler/src/who_needs.rs
  py-rattler/tests/unit/test_who_needs.py
Due: fmt, clippy, test

feat(install): hardlink executables and native libraries on macOS
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

perf(rattler-bin): honor configured download concurrency
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

perf(rattler-bin): honor configured download concurrency (#2762)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

feat(repodata-gateway): report removed packages from queries
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/repo_data.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/source.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/docs/removed_package.md
  py-rattler/mkdocs.yml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/repo_data/removed_package.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/lib.rs
  py-rattler/src/repo_data/gateway.rs
  py-rattler/src/repo_data/sparse.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

perf: overlap package linking on ReFS and Unix
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

refactor(rattler-bin): dependency cleanup, solve warnings, CLI tests
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/compare_packages.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

test(rattler-bin): add --help snapshot files
  crates/rattler-bin/src/snapshots/rattler__tests__help-auth.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-compare-packages.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-completion.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-create.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-download.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-exec.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-extract.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-fetch-file.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-help.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-info.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-inject-into-prefix.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-inspect.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-install-menu.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-link.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-list.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-remove-from-prefix.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-remove-menu.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-run.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-search.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-shell-hook.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-solve.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-upload.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-virtual-packages.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-whoneeds.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help.snap
Due: none

feat(rattler-bin): accept local paths and URLs in inspect, fetch-file and inject
  crates/rattler-bin/src/commands/compare_packages.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/package_source.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

feat(lock): add opt-in URL validation for durable exports
  Cargo.lock
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/export.rs
  crates/rattler_lock/src/export_tests.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_redaction/src/lib.rs
Due: fmt, clippy, test

feat: Support remote URLs in inject, fetch-file, and inspect commands (#2538)
  crates/rattler-bin/src/commands/compare_packages.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/package_source.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

test(rattler-bin): snapshot command output instead of --help text
  crates/rattler-bin/src/commands/compare_packages.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/source.rs
  crates/rattler-bin/src/main.rs
  crates/rattler-bin/src/snapshots/rattler__tests__help-auth.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-compare-packages.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-completion.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-create.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-download.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-exec.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-extract.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-fetch-file.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-help.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-info.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-inject-into-prefix.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-inspect.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-install-menu.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-link.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-list.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-remove-from-prefix.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-remove-menu.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-run.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-search.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-shell-hook.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-solve.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-upload.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-virtual-packages.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help-whoneeds.snap
  crates/rattler-bin/src/snapshots/rattler__tests__help.snap
  crates/rattler-bin/tests/cli.rs
  crates/rattler-bin/tests/snapshots/cli__compare_different_packages.snap
  crates/rattler-bin/tests/snapshots/cli__compare_identical_packages.snap
  crates/rattler-bin/tests/snapshots/cli__inspect_local_package.snap
  crates/rattler-bin/tests/snapshots/cli__inspect_local_package_json.snap
Due: fmt, clippy, test

feat(rattler-bin): add `whoneeds --urls-only`
  crates/rattler-bin/src/commands/whoneeds.rs
Due: fmt, clippy, test

ci: add zizmor to lefthook pre-commit and fix high-severity findings
  .github/workflows/breaking-changes-comment.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-js.yml
  .github/workflows/release-python.yml
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  lefthook.yaml
  pixi.lock
  pixi.toml
Due: check-yaml

ci: rename zizmor pixi task to zizmor-check
  lefthook.yaml
  pixi.toml
Due: check-yaml

FreeBSD PPC patch
  crates/rattler_conda_types/src/platform.rs
Due: fmt, clippy, test

ci: scope zizmor to this repo's .github directory
  pixi.toml
Due: none

Revert "ci: scope zizmor to this repo's .github directory"
  pixi.toml
Due: none

feat(gateway): prefer full repodata for `who_needs` on sharded gateways
  crates/rattler-bin/src/commands/whoneeds.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  crates/rattler_repodata_gateway/src/gateway/who_needs_query.rs
  py-rattler/examples/benchmark_whoneeds.py
  py-rattler/rattler/repo_data/gateway.py
Due: fmt, clippy, test

test(gateway): satisfy clippy in the who_needs remote channel tests
  crates/rattler_repodata_gateway/src/gateway/who_needs_query.rs
Due: fmt, clippy, test

feat(gateway): expose repodata revisions and package format selection
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  py-rattler/CHANGELOG.md
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
