Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

perf: probe reflink support once per filesystem instead of per file
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

test: cover delete_entry cache behavior and secret-free key listing
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/authentication_storage/backends/keyring.rs
  crates/rattler_networking/src/authentication_storage/storage.rs
Due: fmt, clippy, test

fix: don't poison the host cache in delete_entry
  crates/rattler_networking/src/authentication_storage/storage.rs
Due: fmt, clippy, test

perf: probe reflink support once per filesystem instead of per file (#2508)
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

test: keep middleware tests off the OS keyring
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/authentication_storage/backends/keyring.rs
Due: fmt, clippy, test

test(networking): pin AuthChallengeMiddleware guards and edge cases
  crates/rattler_networking/src/challenge_middleware.rs
Due: fmt, clippy, test

test(networking): make stale-token test self-discriminating, assert hit counts
  crates/rattler_networking/src/challenge_middleware.rs
Due: fmt, clippy, test

feat(networking): add AuthFlow trait for pluggable challenge auth
  crates/rattler_networking/src/challenge_middleware.rs
  crates/rattler_networking/src/lib.rs
Due: fmt, clippy, test

feat(networking): add WWW-Authenticate challenge parser
  crates/rattler_networking/src/challenge_middleware.rs
  crates/rattler_networking/src/lib.rs
Due: fmt, clippy, test

fix(networking): collapse nested if-lets to satisfy clippy
  crates/rattler_networking/src/challenge_middleware.rs
Due: fmt, clippy, test

docs(networking): document credential-sink contract and mint_path requirements
  crates/rattler_networking/src/challenge_middleware.rs
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

feat(networking): add TrustedPublishingFlow implementing AuthFlow
  Cargo.lock
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

feat(networking): add host-scoped challenge-reactive AuthChallengeMiddleware
  crates/rattler_networking/src/challenge_middleware.rs
  crates/rattler_networking/src/lib.rs
Due: fmt, clippy, test

feat(networking): add BearerToken and token cache primitives
  crates/rattler_networking/src/challenge_middleware.rs
Due: fmt, clippy, test

fix(networking): validate bearer tokens before caching in AuthChallengeMiddleware
  crates/rattler_networking/src/challenge_middleware.rs
Due: fmt, clippy, test

test(e2e): surface mint endpoint error body in step 1 diagnostics
  scripts/e2e/prefix-dev-oidc.nu
Due: none

docs(networking): document for_host caller obligations, extract mint path const
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

feat(networking): shared prefix.dev audience via TrustedPublishingOptions::for_server
  crates/rattler-bin/src/commands/client.rs
  crates/rattler_networking/src/trusted_publishing.rs
  crates/rattler_upload/src/upload/prefix.rs
  scripts/e2e/prefix-dev-oidc.nu
Due: fmt, clippy, test

feat(upload): derive trusted publishing audience from the upload host
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

ci: add prefix.dev OIDC e2e workflow
  .github/workflows/e2e-prefix-dev-tests.yml
Due: check-yaml

test(e2e): allow read-path-only verification via skip_upload dispatch input
  .github/workflows/e2e-prefix-dev-tests.yml
  scripts/e2e/prefix-dev-oidc.nu
Due: check-yaml

feat(networking): add TrustedPublishingOptions::for_host
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

fix(networking): reject malformed auth-params, normalize mint_path, add e2e test
  crates/rattler_networking/src/challenge_middleware.rs
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

test(e2e): harden prefix.dev OIDC script preconditions and error paths
  scripts/e2e/prefix-dev-oidc.nu
Due: none

test(e2e): add authenticated-read probe to discriminate 403 causes
  scripts/e2e/prefix-dev-oidc.nu
Due: none

docs(networking): clarify challenge-reactive auth wording
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

ci: bound prefix.dev e2e job to 30 minutes
  .github/workflows/e2e-prefix-dev-tests.yml
Due: check-yaml

test(e2e): add prefix.dev OIDC end-to-end script and pixi task
  pixi.lock
  pixi.toml
  scripts/e2e/prefix-dev-oidc.nu
Due: none

feat(networking)!: remove TrustedPublishingMiddleware in favor of AuthChallengeMiddleware
  crates/rattler_networking/src/trusted_publishing.rs
Due: fmt, clippy, test

test(e2e): probe sharded index challenge, serialize runs, trim host slash
  .github/workflows/e2e-prefix-dev-tests.yml
  scripts/e2e/prefix-dev-oidc.nu
Due: check-yaml

feat(rattler-bin): wire AuthChallengeMiddleware for prefix.dev channel hosts
  crates/rattler-bin/src/commands/client.rs
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

fix(rattler-bin): port-aware middleware dedup, document auth wiring caveats
  crates/rattler-bin/src/commands/client.rs
  crates/rattler_networking/src/challenge_middleware.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
