Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

also add denounced label
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

revert
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

chore: Add `vouched` and `denounced` labels to PRs (#2138)
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

chore: Auto-close and label PRs on denounce keyword
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

chore: Auto-close and label PRs on denounce keyword (#2139)
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

fix(ci): update GCSMiddleware call sites to use ::default()
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/search.rs
  py-rattler/Cargo.lock
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

code review
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_solve/benches/bench.rs
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/src/libsolv_c/mod.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/sorting.rs
  py-rattler/src/package_name_matcher.rs
Due: fmt, clippy, test

fix
  py-rattler/src/solver.rs
Due: fmt, clippy, test

fix(ci): run merge-gatekeeper after required jobs
  .github/workflows/merge-gatekeeper.yml
Due: check-yaml

add shard compatiblity and header cache policy
  crates/rattler_repodata_gateway/src/fetch/cache/mod.rs
  crates/rattler_repodata_gateway/src/fetch/mod.rs
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
Due: fmt, clippy, test

remve global pachake bottle neck
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_cache/src/package_cache/cache_lock.rs
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

fix: enable deletion of memory mapped repodata on windows (#2084)
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

global_cache_lock block removed
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

corrected indendation
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

feat: Add index_url into Pypi packages
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  py-rattler/src/lock/mod.rs
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

fix: validate symlink targets to prevent prefix escape
  crates/rattler/src/install/link.rs
  crates/rattler_cache/src/validation.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

small fix
  crates/rattler_cache/src/validation.rs
Due: fmt, clippy, test

feat: add dependency override option to solver (#2090)
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/solver_case_tests.rs
  crates/rattler_solve/tests/sorting.rs
  py-rattler/src/solver.rs
  tools/create-resolvo-snapshot/src/main.rs
Due: fmt, clippy, test

feat: add support for glob and regex patterns in package name matching
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix: js bindings
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix: simplify pattern matching logic and improve test assertions
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix: improve handling of asterisk in package name matching
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

fix: improve documentation and streamline pattern matching in load_matching_records
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

chore: update pixi.lock to fix CI
  pixi.lock
Due: none

feat!: Make name in MatchSpec non-optional (#2132)
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/utils/serde/match_spec_map_or_vec.rs
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_solve/benches/bench.rs
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/src/libsolv_c/mod.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/sorting.rs
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/match_spec.rs
  py-rattler/src/package_name_matcher.rs
  py-rattler/src/solver.rs
Due: fmt, clippy, test

fix: refactor package name matching to consolidate exact and pattern specs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix: update dependency override handling to use reference types for package names
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

reduce the code duplication in package matching test
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

lint
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix: fix wasm build after non-optional MatchSpec name change
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

feat(js-rattler): export MatchSpec
  js-rattler/Cargo.lock
  js-rattler/crate/lib.rs
  js-rattler/crate/match_spec.rs
  js-rattler/src/MatchSpec.test.ts
  js-rattler/src/MatchSpec.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

refactor(js-rattler): use options object for MatchSpec constructor, add setters
  js-rattler/crate/error.rs
  js-rattler/crate/match_spec.rs
  js-rattler/src/MatchSpec.test.ts
Due: fmt, clippy, test

feat(js-rattler): address review - options object, setters, BuildNumberSpec type, inline hex
  js-rattler/crate/build_number_spec.rs
  js-rattler/crate/error.rs
  js-rattler/crate/lib.rs
  js-rattler/crate/match_spec.rs
  js-rattler/src/BuildNumberSpec.test.ts
  js-rattler/src/BuildNumberSpec.ts
  js-rattler/src/MatchSpec.test.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

refactor(networking): replace tokio Mutex with std Mutex and match on CacheState
  crates/rattler_networking/src/gcs_middleware.rs
Due: fmt, clippy, test

fixing the pr
  py-rattler/rattler/exceptions.py
  py-rattler/src/error.rs
  py-rattler/src/exceptions.rs
  py-rattler/src/lib.rs
Due: fmt, clippy, test
