Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix: pixel
  py-rattler/docs/overrides/partials/footer.html
Due: none

docs(py-rattler): update the docs style (#1933)
  py-rattler/docs/assets/paxton-rattler.png
  py-rattler/docs/assets/prefix-logo-white.png
  py-rattler/docs/assets/prefix_logo_dark.svg
  py-rattler/docs/assets/prefix_logo_light.svg
  py-rattler/docs/assets/rattler-logo.svg
  py-rattler/docs/index.md
  py-rattler/docs/layouts/custom.yml
  py-rattler/docs/layouts/download-font-to-cache.sh
  py-rattler/docs/overrides/home.html
  py-rattler/docs/overrides/partials/footer.html
  py-rattler/docs/overrides/partials/mycontent.html
  py-rattler/docs/stylesheets/extra.css
  py-rattler/docs/stylesheets/fonts.css
  py-rattler/mkdocs.yml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
Due: check-yaml

fix: add section to the llmstxt
  py-rattler/mkdocs.yml
Due: none

fix: default false for llmstxt
  py-rattler/mkdocs.yml
Due: none

fix(docs): add section to the llmstxt (#1936)
  py-rattler/mkdocs.yml
Due: none

support tar.bz2 as well
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

add python bindings
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
  py-rattler/tests/unit/test_package_streaming.py
Due: fmt, clippy, test

feat: Add support for downloading index files via range requests
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/reqwest/mod.rs
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

clippy
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

fix
  py-rattler/pyproject.toml
  py-rattler/tests/unit/test_package_streaming.py
Due: none

some debug logging
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

fix: fix and update snapshots
  crates/rattler/src/install/snapshots/rattler__install__clobber_registry__tests__transaction_with_clobber-5.snap
  crates/rattler/src/install/snapshots/rattler__install__clobber_registry__tests__transaction_with_clobber.snap
  crates/rattler/src/install/snapshots/rattler__install__entry_point__test__entry_point_script.snap
  crates/rattler/src/install/snapshots/rattler__install__entry_point__test__windows.snap
  crates/rattler_conda_types/src/match_spec/snapshots/rattler_conda_types__match_spec__parse__tests__test_nameless_from_string_Lenient.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__entry_point__test__entry_point.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__index__test__reconstruct_index_json.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__link__test__link-json__jupyterlab-link.json.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__link__test__link-json__setuptools-link.json.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__link__test__link-json__tzdata-link.json.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__paths_sorted.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__reconstruct_paths_json.snap
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__roundtrip_paths_json.snap
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__patch_purl.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__patching.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_1.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__patches__test__removing_2.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__serialize.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__environment_yaml__tests__deserialize_environment_yaml@asymmetric_vqgan.environment.yaml.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__environment_yaml__tests__deserialize_environment_yaml@channel_inversion.environment.yaml.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__environment_yaml__tests__deserialize_environment_yaml@conda_lock_dev.environment.yaml.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__environment_yaml__tests__deserialize_environment_yaml@mamba_dev_extra.environment.yaml.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__environment_yaml__tests__deserialize_environment_yaml@variables.environment.yaml.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__environment_yaml__tests__pip_section.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__explicit_environment_spec__test__explicit-envs__ros-noetic_linux-64.txt.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__explicit_environment_spec__test__explicit-envs__vs2015_runtime_win-64.txt.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__explicit_environment_spec__test__explicit-envs__xtensor_linux-64.txt.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__packages_for_platform-2.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__packages_for_platform.snap
  crates/rattler_lock/src/utils/snapshots/rattler_lock__utils__derived_fields__test__location_derived_fields-4.snap
  crates/rattler_lock/src/utils/snapshots/rattler_lock__utils__derived_fields__test__location_derived_fields-5.snap
  crates/rattler_lock/src/utils/snapshots/rattler_lock__utils__derived_fields__test__location_derived_fields-6.snap
  crates/rattler_lock/src/utils/snapshots/rattler_lock__utils__derived_fields__test__location_derived_fields-7.snap
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state_one.snap
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state_two.snap
  crates/rattler_shell/src/shell/snapshots/rattler_shell__shell__tests__bash.snap
  crates/rattler_shell/src/shell/snapshots/rattler_shell__shell__tests__fish.snap
  crates/rattler_shell/src/shell/snapshots/rattler_shell__shell__tests__xonsh_bash.snap
  crates/rattler_shell/src/shell/snapshots/rattler_shell__shell__tests__xonsh_xsh.snap
Due: fmt, clippy, test

fix: remaining snapshot
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__index__test__reconstruct_index_json_with_symlinks.snap
Due: none

fix: bump pixi to 0.62.0
  pixi.lock
  pixi.toml
Due: none

fix: remove pixi lock update hack
  .github/workflows/release-rust.yaml
Due: check-yaml

fix: bump pixi to 0.62.0 (#1937)
  .github/workflows/release-rust.yaml
  pixi.lock
  pixi.toml
Due: check-yaml

fix: validate new prefix length against old prefix
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

fix: validate new prefix length against old prefix (#1938)
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

Amend examples and default values in (py-)rattler.shell
  py-rattler/rattler/shell/shell.py
Due: none

WIP
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/reqwest/range.rs
Due: fmt, clippy, test

Add support for riscv64a23-unknown-linux-gnu
  .github/workflows/rust-compile.yml
Due: check-yaml

WIP
  .github/workflows/rust-compile.yml
Due: check-yaml

bump lockfile
  pixi.lock
Due: none

chore: Add support for riscv64gc-unknown-linux-musl (#1949)
  .github/workflows/rust-compile.yml
  pixi.lock
Due: check-yaml

fix lint errors
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

fix: preserve entitlements when codesigning on macOS
  crates/rattler/src/install/apple_codesign.rs
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

fix: preserve entitlements when codesigning on macOS (#1950)
  crates/rattler/src/install/apple_codesign.rs
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

fix: correctly handle channel_alias with path segments (#1953)
  crates/rattler_conda_types/src/channel/mod.rs
Due: fmt, clippy, test

use ad-hoc codesign in Rust
  Cargo.lock
  crates/rattler/Cargo.toml
  crates/rattler/src/install/apple_codesign.rs
Due: fmt, clippy, test

feat: Add `link` functionality to rattler-bin
  crates/rattler-bin/src/commands/link.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

style: Fix some typos in comments
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

refactor: rename loong64 to loongarch64
  crates/rattler_conda_types/src/platform.rs
  crates/rattler_virtual_packages/src/lib.rs
  js-rattler/Cargo.lock
  js-rattler/src/Platform.ts
  py-rattler/Cargo.lock
  py-rattler/rattler/platform/arch.py
  py-rattler/rattler/platform/platform.py
Due: fmt, clippy, test

refactor: rename `loong64` to `loongarch64` (#1957)
  crates/rattler_conda_types/src/platform.rs
  crates/rattler_virtual_packages/src/lib.rs
  js-rattler/Cargo.lock
  js-rattler/src/Platform.ts
  py-rattler/Cargo.lock
  py-rattler/rattler/platform/arch.py
  py-rattler/rattler/platform/platform.py
Due: fmt, clippy, test

refactor: apply maintainer feedback using functional stripping and struct updates
  crates/rattler_conda_types/src/channel/mod.rs
Due: fmt, clippy, test

fix: correctly handle channel_alias with path segments (#1953) (#1954)
  crates/rattler_conda_types/src/channel/mod.rs
Due: fmt, clippy, test

feat: Limit tokio runtime thread count in rattler-bin
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

feat: Sync mtime/atime when linking files
  Cargo.lock
  Cargo.toml
  crates/rattler/Cargo.toml
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

fix: more reproducible builds with pixi install and source date epoch (#1956)
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/link.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/Cargo.toml
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

refactor: Make s3 optional for rattler_index
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_s3/Cargo.toml
Due: fmt, clippy, test
