Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix: split on ';' when fetching dependencies in repodata (#1919)
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_solve/tests/backends/conditional_tests.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

fix: regression in `Version::starts_with` (#1920)
  crates/rattler_conda_types/src/version/mod.rs
  pixi.lock
  pixi.toml
Due: fmt, clippy, test

update to latest sigstore release
  Cargo.lock
  Cargo.toml
Due: none

chore: bump py-rattler from 0.18.0 to 0.19.0
  py-rattler/Cargo.toml
Due: none

chore: bump py-rattler from 0.18.0 to 0.19.0 (#1921)
  py-rattler/Cargo.toml
Due: none

Enable sharded configuration in channel settings
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
Due: fmt, clippy, test

saving progress so far
  crates/rattler_conda_types/src/package/archive_type.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_config/src/config/build.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_package_streaming/src/fs.rs
  crates/rattler_package_streaming/src/reqwest/tokio.rs
  crates/rattler_package_streaming/src/seek.rs
  crates/rattler_package_streaming/src/tokio/fs.rs
  crates/rattler_repodata_gateway/CLAUDE.md
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

this should be a functioning state of packages.whl support for rattler
  crates/rattler_conda_types/src/package/archive_type.rs
  crates/rattler_repodata_gateway/CLAUDE.md
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

feat: add PackageName::from_matchspec_str methods
  crates/rattler_conda_types/src/package_name.rs
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  py-rattler/rattler/package/package_name.py
  py-rattler/src/package_name.rs
Due: fmt, clippy, test

feat: add PackageName::from_matchspec_str methods
  crates/rattler_conda_types/src/package_name.rs
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

also change python
  py-rattler/rattler/repo_data/gateway.py
Due: none

feat: enable sharded repodata by default (#1922)
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
  py-rattler/rattler/repo_data/gateway.py
Due: fmt, clippy, test

feat: add common function to extract package name from matchspec (#1923)
  crates/rattler_conda_types/src/package_name.rs
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
  py-rattler/rattler/package/package_name.py
  py-rattler/src/package_name.rs
Due: fmt, clippy, test

chore: bump py-rattler from 0.19.0 to 0.20.0
  py-rattler/Cargo.toml
Due: none

chore: bump py-rattler from 0.19.0 to 0.20.0 (#1924)
  py-rattler/Cargo.toml
Due: none

use sigstore-sign as feature name and remove workflow file
  .github/workflows/build-and-upload.yml
  .github/workflows/rust-compile.yml
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: check-yaml, fmt, clippy, test

test: add reproducer for conditional python issues
  py-rattler/Cargo.lock
  py-rattler/tests/unit/test_solver.py
  test-data/channels/conditional-repodata/noarch/repodata.json
Due: none

Update README.md with new banner image
  README.md
Due: none

chore: update README.md with new banner image (#1926)
  README.md
Due: none

test: add reproducer for conditional solver python issues (#1925)
  py-rattler/Cargo.lock
  py-rattler/tests/unit/test_solver.py
  test-data/channels/conditional-repodata/noarch/repodata.json
Due: none

Update crates/rattler_upload/src/upload/prefix.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

Delete .github/test-recipe/recipe.yaml
  .github/test-recipe/recipe.yaml
Due: check-yaml

feat: align CUDA arch sanitization with CEP-26 PR #5
  crates/rattler_virtual_packages/src/cuda.rs
Due: fmt, clippy, test

feat: integrate sigstore-sign for automatic signing of attestations (#1897)
  .github/workflows/rust-compile.yml
  .github/workflows/test-cosign-attestation.yml
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/attestation.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/prefix.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: check-yaml, fmt, clippy, test

Fix race condition in concurrent indexing by adding conditional retry logic
  Cargo.lock
  crates/rattler_index/src/error.rs
  pixi.lock
Due: fmt, clippy, test

Expose Gateway
  js-rattler/src/index.ts
Due: none

fix(js): expose `Gateway` (#1930)
  js-rattler/src/index.ts
Due: none

add verify subcommand for rattler-bin
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/verify.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

fix formatting
  crates/rattler-bin/src/commands/verify.rs
Due: fmt, clippy, test

add rattler_sigstore and verification policy, integrated with package cache
  Cargo.lock
  Cargo.toml
  crates/rattler_cache/Cargo.toml
  crates/rattler_cache/src/lib.rs
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_sigstore/Cargo.toml
  crates/rattler_sigstore/src/error.rs
  crates/rattler_sigstore/src/lib.rs
  crates/rattler_sigstore/src/policy.rs
  crates/rattler_sigstore/src/verify.rs
Due: fmt, clippy, test

fix: always emit depends in index.json
  crates/rattler_conda_types/src/package/index.rs
Due: fmt, clippy, test

Update index.rs
  crates/rattler_conda_types/src/package/index.rs
Due: fmt, clippy, test

docs(py-rattler): update the docs style
  py-rattler/docs/assets/paxton-rattler.png
  py-rattler/docs/assets/prefix-logo-white.png
  py-rattler/docs/assets/prefix_logo_dark.svg
  py-rattler/docs/assets/prefix_logo_light.svg
  py-rattler/docs/assets/rattler-logo.svg
  py-rattler/docs/index.md
  py-rattler/docs/layouts/custom.yml
  py-rattler/docs/layouts/download-font-to-cache.sh
  py-rattler/docs/overrides/partials/footer.html
  py-rattler/docs/stylesheets/extra.css
  py-rattler/docs/stylesheets/fonts.css
  py-rattler/mkdocs.yml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
Due: check-yaml

fix: avoid the use of threaded python
  py-rattler/pixi.lock
  py-rattler/pixi.toml
Due: none

Move over more styling and footer info from pixi
  py-rattler/docs/assets/paxton-rattler.png
  py-rattler/docs/index.md
  py-rattler/docs/overrides/home.html
  py-rattler/docs/overrides/partials/footer.html
  py-rattler/docs/overrides/partials/mycontent.html
  py-rattler/mkdocs.yml
Due: none

fix flaky test
  crates/rattler_package_streaming/tests/extract.rs
Due: fmt, clippy, test

chore: Use lefthook no_auto_install
  lefthook.yaml
  pixi.lock
Due: check-yaml

fix
  pixi.toml
Due: none

chore: Use lefthook no_auto_install (#1934)
  lefthook.yaml
  pixi.lock
  pixi.toml
Due: check-yaml

docs(py-rattler): update paxton image
  py-rattler/docs/assets/paxton-rattler.png
Due: none
