Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

feat(rattler-index): implement virtual package plugins
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

feat(rattler-repodata-gateway): implement virtual package plugins
  crates/rattler_repodata_gateway/src/gateway/channel_expander.rs
  crates/rattler_repodata_gateway/src/gateway/channel_relations.rs
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

feat(rattler-bin): implement virtual package plugins
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/virtual_packages.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_virtual_package_plugins/src/demand.rs
  test-data/channels/virtual-package-plugins/linux-64/repodata.json
  test-data/channels/virtual-package-plugins/noarch/change-me-detect-1.0.0-h0000000_0.tar.bz2
  test-data/channels/virtual-package-plugins/noarch/change-me-probe-1.0.0-even.tar.bz2
  test-data/channels/virtual-package-plugins/noarch/change-me-probe-1.0.0-odd.tar.bz2
  test-data/channels/virtual-package-plugins/noarch/foobar-detect-1.0.0-h0000000_0.tar.bz2
  test-data/channels/virtual-package-plugins/noarch/foobar-probe-1.0.0-with_foobar.tar.bz2
  test-data/channels/virtual-package-plugins/noarch/foobar-probe-1.0.0-without_foobar.tar.bz2
  test-data/channels/virtual-package-plugins/noarch/repodata.json
  test-data/channels/virtual-package-plugins/regenerate.py
Due: fmt, clippy, test

feat(rattler-virtual-package-plugins): implement virtual package plugins
  Cargo.lock
  Cargo.toml
  crates/rattler_virtual_package_plugins/Cargo.toml
  crates/rattler_virtual_package_plugins/src/activation.rs
  crates/rattler_virtual_package_plugins/src/assemble.rs
  crates/rattler_virtual_package_plugins/src/contract.rs
  crates/rattler_virtual_package_plugins/src/demand.rs
  crates/rattler_virtual_package_plugins/src/detect.rs
  crates/rattler_virtual_package_plugins/src/environment.rs
  crates/rattler_virtual_package_plugins/src/factory.rs
  crates/rattler_virtual_package_plugins/src/lib.rs
  crates/rattler_virtual_package_plugins/src/overrides.rs
  crates/rattler_virtual_package_plugins/src/protocol.rs
  crates/rattler_virtual_package_plugins/src/resolve.rs
  crates/rattler_virtual_package_plugins/src/runner.rs
  crates/rattler_virtual_package_plugins/tests/detect_from_channel.rs
  test-data/channels/virtual-package-plugins-base/linux-64/repodata.json
  test-data/channels/virtual-package-plugins-base/noarch/repodata.json
  test-data/channels/virtual-package-plugins-base/noarch/vendor-lib-1.0.0-h0000000_0.tar.bz2
  test-data/channels/virtual-package-plugins-derived/linux-64/repodata.json
  test-data/channels/virtual-package-plugins-derived/noarch/repodata.json
  test-data/channels/virtual-package-plugins-derived/noarch/vendor-cuda-detect-1.0.0-h0000000_0.tar.bz2
Due: fmt, clippy, test

feat(rattler-cache): implement virtual package plugins
  Cargo.lock
  crates/rattler_cache/Cargo.toml
  crates/rattler_cache/src/consts.rs
  crates/rattler_cache/src/lib.rs
  crates/rattler_cache/src/virtual_package_plugin_cache/cache_key.rs
  crates/rattler_cache/src/virtual_package_plugin_cache/mod.rs
  py-rattler/Cargo.lock
Due: fmt, clippy, test

ci(py-rattler): build aarch64 windows and riscv64 wheels (#2700)
  .github/workflows/release-python.yml
Due: check-yaml

chore: prepare py-rattler v0.26.0 release
  .agents/skills/prepare-py-rattler-release/SKILL.md
  .claude/skills
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pyproject.toml
Due: none

feat(js): support custom fetch and record queries in the gateway
  Cargo.lock
  Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/fetch/mod.rs
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/utils/js_fetch.rs
  crates/rattler_repodata_gateway/src/utils/mod.rs
  js-rattler/.gitignore
  js-rattler/Cargo.lock
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  py-rattler/Cargo.lock
Due: fmt, clippy, test

feat(js): support custom fetch and record queries in the gateway (#2687)
  Cargo.lock
  Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/fetch/mod.rs
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/utils/js_fetch.rs
  crates/rattler_repodata_gateway/src/utils/mod.rs
  js-rattler/.gitignore
  js-rattler/Cargo.lock
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  py-rattler/Cargo.lock
Due: fmt, clippy, test

feat(js): add error codes and a warning callback to the gateway
  js-rattler/crate/error.rs
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  js-rattler/src/RattlerError.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

feat(js): add error codes and a warning callback to the gateway (#2688)
  js-rattler/crate/error.rs
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  js-rattler/src/RattlerError.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

test(conda-types): snapshot the awkward corners of matchspec rendering
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/tests/matchspec_display_edge_cases.rs
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__channels.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__conditions.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__legacy_placement.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__list_fields.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__nameless_specs.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__package_names.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__parser_edges.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__scalar_quoting.snap
Due: fmt, clippy, test

chore: prepare js-rattler v0.4.0 release
  js-rattler/CHANGELOG.md
  js-rattler/package-lock.json
  js-rattler/package.json
Due: none

Update Cargo.lock
  js-rattler/Cargo.lock
Due: none

feat(conda-types): canonical track features as a list, URLs without secrets
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/tests/canonical_matchspec.rs
  crates/rattler_conda_types/tests/matchspec_display_edge_cases.rs
  crates/rattler_conda_types/tests/matchspec_proptest.rs
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__channels.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__list_fields.snap
  crates/rattler_redaction/src/lib.rs
Due: fmt, clippy, test

chore: prepare js-rattler v0.4.0 release (#2709)
  js-rattler/CHANGELOG.md
  js-rattler/Cargo.lock
  js-rattler/package-lock.json
  js-rattler/package.json
Due: none

fix(conda-types): keep the channel name in the canonical form
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/tests/matchspec_display_edge_cases.rs
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__channels.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__legacy_placement.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__list_fields.snap
  crates/rattler_redaction/src/lib.rs
  py-rattler/rattler/match_spec/match_spec.py
Due: fmt, clippy, test

Select package format selection when solving
  crates/rattler_repodata_gateway/src/gateway/local_subdir.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/solver/solver.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

Add package format selection option to custom repodata sources
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/source.rs
Due: fmt, clippy, test

Update pyrattler to support package_format_selection querying the gateway
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/repo_data/source.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/src/repo_data/source.rs
  py-rattler/tests/unit/test_custom_source.py
Due: fmt, clippy, test

Surface package format selection to RemoteSubdirClient
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
Due: fmt, clippy, test

Surface package format selection for Channel sources
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
Due: fmt, clippy, test

Add tests for Gateway query
  py-rattler/tests/unit/test_gateway.py
Due: none

Test pyrattler gateway
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

ci: use npm trusted publishing
  .github/workflows/release-js.yml
Due: check-yaml

ci: restrict npm publishing to environment
  .github/workflows/release-js.yml
Due: check-yaml

ci: use release environment for npm publishing
  .github/workflows/release-js.yml
Due: check-yaml

ci(js): use npm trusted publishing for js-rattler (#2710)
  .github/workflows/release-js.yml
Due: check-yaml

feat: add canonical MatchSpec formatting (#2670)
  Cargo.lock
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/canonical_matchspec.rs
  crates/rattler_conda_types/tests/matchspec_display_edge_cases.rs
  crates/rattler_conda_types/tests/matchspec_proptest.proptest-regressions
  crates/rattler_conda_types/tests/matchspec_proptest.rs
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__channels.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__conditions.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__legacy_placement.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__list_fields.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__nameless_specs.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__package_names.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__parser_edges.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__scalar_quoting.snap
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_redaction/src/lib.rs
  crates/rattler_solve/tests/backends/main.rs
  py-rattler/rattler/exceptions.py
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/src/error.rs
  py-rattler/src/exceptions.rs
  py-rattler/src/lib.rs
  py-rattler/src/match_spec.rs
Due: fmt, clippy, test

feat: expose repodata revision metadata in Python (#2674)
  py-rattler/rattler/__init__.py
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/rattler/repo_data/revisions.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/repo_data/mod.rs
  py-rattler/src/repo_data/sparse.rs
  py-rattler/tests/unit/test_package_record.py
Due: fmt, clippy, test

feat: preserve extra dependencies in JavaScript records (#2673)
  js-rattler/crate/package_record.d.ts
  js-rattler/crate/package_record.rs
  js-rattler/crate/solve.rs
  js-rattler/src/PackageRecord.test.ts
  js-rattler/src/solve.test.ts
Due: fmt, clippy, test

feat: add canonical MatchSpec formatting (#2670)
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/format.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/tests/canonical_matchspec.rs
  crates/rattler_conda_types/tests/matchspec_display_edge_cases.rs
  crates/rattler_conda_types/tests/matchspec_proptest.proptest-regressions
  crates/rattler_conda_types/tests/matchspec_proptest.rs
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__channels.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__conditions.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__legacy_placement.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__list_fields.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__nameless_specs.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__package_names.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__parser_edges.snap
  crates/rattler_conda_types/tests/snapshots/matchspec_display_edge_cases__scalar_quoting.snap
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_redaction/src/lib.rs
  crates/rattler_solve/tests/backends/main.rs
  py-rattler/rattler/exceptions.py
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/src/error.rs
  py-rattler/src/exceptions.rs
  py-rattler/src/lib.rs
  py-rattler/src/match_spec.rs
Due: fmt, clippy, test

feat(virtual_packages): expose the per-platform baseline
  crates/rattler_virtual_packages/src/lib.rs
Due: fmt, clippy, test

feat: expose the per-platform baseline (#2713)
  crates/rattler_virtual_packages/src/lib.rs
Due: fmt, clippy, test

refactor: extract conda version handling into its own crate
  Cargo.lock
  Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/parse_mode.rs
  crates/rattler_conda_types/src/version_spec/mod.rs
  crates/rattler_conda_types/src/version_spec/version_tree.rs
  crates/rattler_conda_version/Cargo.toml
  crates/rattler_conda_version/src/lib.rs
  crates/rattler_conda_version/src/parse_strictness.rs
  crates/rattler_conda_version/src/version/bump.rs
  crates/rattler_conda_version/src/version/flags.rs
  crates/rattler_conda_version/src/version/mod.rs
  crates/rattler_conda_version/src/version/parse.rs
  crates/rattler_conda_version/src/version/segment.rs
  crates/rattler_conda_version/src/version/semver.rs
  crates/rattler_conda_version/src/version/snapshots/rattler_conda_version__version__parse__test__parse.snap
  crates/rattler_conda_version/src/version/with_source.rs
  crates/rattler_conda_version/src/version_spec/constraint.rs
  crates/rattler_conda_version/src/version_spec/mod.rs
  crates/rattler_conda_version/src/version_spec/parse.rs
  crates/rattler_conda_version/src/version_spec/snapshots/rattler_conda_version__version_spec__parse__test__exact_strict.snap
Due: fmt, clippy, test

fix: satisfy documentation markdown lint
  crates/rattler_conda_version/src/lib.rs
  crates/rattler_conda_version/src/version/mod.rs
  crates/rattler_conda_version/src/version_spec/mod.rs
Due: fmt, clippy, test

fix: update py-rattler lockfile after release rebase
  py-rattler/Cargo.lock
Due: none

refactor: extract conda version handling into its own crate (#2714)
  Cargo.lock
  Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/parse_mode.rs
  crates/rattler_conda_types/src/version_spec/mod.rs
  crates/rattler_conda_types/src/version_spec/version_tree.rs
  crates/rattler_conda_version/Cargo.toml
  crates/rattler_conda_version/src/lib.rs
  crates/rattler_conda_version/src/parse_strictness.rs
  crates/rattler_conda_version/src/version/bump.rs
  crates/rattler_conda_version/src/version/flags.rs
  crates/rattler_conda_version/src/version/mod.rs
  crates/rattler_conda_version/src/version/parse.rs
  crates/rattler_conda_version/src/version/segment.rs
  crates/rattler_conda_version/src/version/semver.rs
  crates/rattler_conda_version/src/version/snapshots/rattler_conda_version__version__parse__test__parse.snap
  crates/rattler_conda_version/src/version/with_source.rs
  crates/rattler_conda_version/src/version_spec/constraint.rs
  crates/rattler_conda_version/src/version_spec/mod.rs
  crates/rattler_conda_version/src/version_spec/parse.rs
  crates/rattler_conda_version/src/version_spec/snapshots/rattler_conda_version__version_spec__parse__test__exact_strict.snap
  py-rattler/Cargo.lock
Due: fmt, clippy, test

perf(solve): cache dependency tie-break sorting
  crates/rattler_solve/src/resolvo/conda_sorting.rs
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
