Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

add docs readme
  crates/coalesced_map/README.md
Due: none

pre-commit fixes
  crates/coalesced_map/Cargo.toml
  crates/coalesced_map/README.md
  crates/coalesced_map/src/lib.rs
  py-rattler/README.md
Due: fmt, clippy, test

fix: py-rattler readme
  py-rattler/README.md
Due: none

feat: populate requested spec
  crates/rattler/src/install/installer/mod.rs
  py-rattler/rattler/install/installer.py
  py-rattler/src/installer.rs
  test-data/packages/empty-0.1.0-h4616a5c_0.conda
  test-data/packages/recipe.yaml
Due: check-yaml, fmt, clippy, test

make requested_spec a Vec
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_conda_types/src/prefix_record.rs
Due: fmt, clippy, test

fmt and clippy
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

empty if set
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fetch from package file directly
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/run_exports_extractor.rs
  crates/rattler_repodata_gateway/src/lib.rs
Due: fmt, clippy, test

feat: add progress reporting of the run-exports
  Cargo.lock
  crates/rattler_repodata_gateway/src/fetch/jlap/mod.rs
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/run_exports_extractor.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  js-rattler/Cargo.lock
Due: fmt, clippy, test

fmt
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/lib.rs
Due: fmt, clippy, test

fix: js bindings
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
Due: fmt, clippy, test

chore: sync cargo.lock
  Cargo.lock
Due: none

fix: py-rattler compilation
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  py-rattler/src/networking/mod.rs
Due: fmt, clippy, test

fix: py-rattler fix
  py-rattler/src/networking/mod.rs
Due: fmt, clippy, test

simplify
  crates/rattler-bin/src/commands/create.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/test_utils.rs
  crates/rattler/src/install/unlink.rs
  crates/rattler_conda_types/src/prefix_record.rs
Due: fmt, clippy, test

fixes
  py-rattler/README.md
  py-rattler/rattler/prefix/prefix_record.py
  py-rattler/src/installer.rs
  py-rattler/src/record.rs
  py-rattler/tests/unit/test_prefix_record.py
  test-data/conda-meta/requests-2.28.2-pyhd8ed1ab_0.json
  test-data/packages/recipe.yaml
Due: check-yaml, fmt, clippy, test

fixes
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__requests-2_28_2-pyhd8ed1ab_0_json.snap
  py-rattler/README.md
Due: fmt, clippy, test

fixes
  py-rattler/README.md
  py-rattler/rattler/prefix/prefix_record.py
  py-rattler/src/record.rs
Due: fmt, clippy, test

fix: README
  py-rattler/README.md
Due: none

fixes from code review
  crates/coalesced_map/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/run_exports_extractor.rs
Due: fmt, clippy, test

fix type error
  crates/coalesced_map/src/lib.rs
Due: fmt, clippy, test

refactor: replace RegExp with URL parsing
  Cargo.lock
  crates/rattler_upload/src/utils/server_util.rs
Due: fmt, clippy, test

feat(gateway): add method to ensure `run_exports.json` (#1540)
  Cargo.lock
  Cargo.toml
  crates/coalesced_map/Cargo.toml
  crates/coalesced_map/README.md
  crates/coalesced_map/src/lib.rs
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data_record.rs
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/fetch/jlap/mod.rs
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/repo_data.rs
  crates/rattler_repodata_gateway/src/gateway/run_exports_extractor.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/mod.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/index.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/wasm/mod.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  crates/rattler_repodata_gateway/src/utils/mod.rs
  js-rattler/Cargo.lock
  py-rattler/src/networking/mod.rs
Due: fmt, clippy, test

chore: release
  Cargo.lock
  Cargo.toml
  crates/coalesced_map/CHANGELOG.md
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_cache/CHANGELOG.md
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/CHANGELOG.md
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_config/CHANGELOG.md
  crates/rattler_config/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_lock/CHANGELOG.md
  crates/rattler_lock/Cargo.toml
  crates/rattler_menuinst/CHANGELOG.md
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/CHANGELOG.md
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/CHANGELOG.md
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_shell/CHANGELOG.md
  crates/rattler_shell/Cargo.toml
  crates/rattler_solve/CHANGELOG.md
  crates/rattler_solve/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
  crates/rattler_virtual_packages/CHANGELOG.md
  crates/rattler_virtual_packages/Cargo.toml
Due: none

chore: update default region
  crates/rattler_upload/src/utils/server_util.rs
Due: fmt, clippy, test

use rayon
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fmt
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

implement passing conditions to resolvo
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

make it work for extras in conditions
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

fix clippy
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

update parser
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/snapshots/rattler_conda_types__match_spec__condition__tests__condition_parsing_snapshots.snap
Due: fmt, clippy, test

merge
  crates/rattler_conda_types/src/match_spec/condition.rs
Due: fmt, clippy, test

chore: release (#1594)
  Cargo.lock
  Cargo.toml
  crates/coalesced_map/CHANGELOG.md
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_cache/CHANGELOG.md
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/CHANGELOG.md
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_config/CHANGELOG.md
  crates/rattler_config/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_lock/CHANGELOG.md
  crates/rattler_lock/Cargo.toml
  crates/rattler_menuinst/CHANGELOG.md
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/CHANGELOG.md
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/CHANGELOG.md
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_shell/CHANGELOG.md
  crates/rattler_shell/Cargo.toml
  crates/rattler_solve/CHANGELOG.md
  crates/rattler_solve/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
  crates/rattler_virtual_packages/CHANGELOG.md
  crates/rattler_virtual_packages/Cargo.toml
Due: none

chore(coalesced_map): release v0.1.1
  Cargo.lock
  Cargo.toml
  crates/coalesced_map/CHANGELOG.md
  crates/coalesced_map/Cargo.toml
Due: none

fix lint
  Cargo.lock
  crates/rattler_conda_types/src/match_spec/condition.rs
Due: fmt, clippy, test

prevent double semicolon
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

add new field
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/test_utils.rs
  crates/rattler/src/install/unlink.rs
  crates/rattler_conda_types/src/prefix_record.rs
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/prefix/prefix_record.py
  py-rattler/src/record.rs
  py-rattler/tests/unit/test_prefix_record.py
Due: fmt, clippy, test

fix: lint
  py-rattler/tests/unit/test_prefix_record.py
Due: none

fix: python lints
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
  py-rattler/src/record.rs
Due: fmt, clippy, test

fix: python test
  py-rattler/rattler/prefix/prefix_record.py
Due: none
