Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

chore: Introduce vouch (#2125)
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  pixi.lock
  pixi.toml
Due: check-yaml

Test vouch
  README.md
Due: none

chore: fix linting issues
  crates/rattler_config/src/lib.rs
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_networking/tests/s3_integration_test.rs
  py-rattler/rattler/networking/middleware.py
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

chore: Fix vouch workflow
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

fix: resolve lint violations in artifactory oauth auth flow
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

chore: Fix vouch workflow (#2128)
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

fix: preserve oidc env var errors for clippy
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

chore: Fix vouch setup?
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

fix: add docs for oidc env var error fields
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

WIP
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

chore: Fix and enable vouch setup (#2129)
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

fix: allow large command enum variant in rattler-bin
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

chore: Set proper vouched-file
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

chore: Set proper vouched-file (#2131)
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

fix error
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

fix tests
  crates/rattler_networking/src/s3_middleware.rs
Due: fmt, clippy, test

fix linting
  crates/rattler_networking/src/s3_middleware.rs
Due: fmt, clippy, test

feat(py-rattler): allow passing PyPI packages to Environment constructor
  py-rattler/rattler/lock/environment.py
  py-rattler/src/lock/mod.rs
  py-rattler/tests/unit/test_lock_environment.py
Due: fmt, clippy, test

fix(networking): cache CacheableResource via ETag with singleflight
  crates/rattler_networking/src/gcs_middleware.rs
Due: fmt, clippy, test

feat!: Make name in MatchSpec non-optional
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/utils/serde/match_spec_map_or_vec.rs
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_solve/benches/bench.rs
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/src/libsolv_c/mod.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/sorting.rs
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/src/match_spec.rs
  py-rattler/src/solver.rs
Due: fmt, clippy, test

fix: gate fs_err import to avoid unused-import error on Windows
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

chore: get rid of dynamic force-path-style addressing
  crates/rattler_config/src/config/s3.rs
  crates/rattler_config/src/lib.rs
  crates/rattler_config/src/snapshots/rattler_config__tests__comprehensive_config_edit.snap
  crates/rattler_config/src/snapshots/rattler_config__tests__config_save_roundtrip.snap
  crates/rattler_config/src/snapshots/rattler_config__tests__s3_config_edit.snap
  crates/rattler_config/test-data/config.toml
  crates/rattler_s3/src/clap.rs
Due: fmt, clippy, test

apply suggestions
  crates/coalesced_map/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  crates/rattler_repodata_gateway/src/utils/simple_channel_server.rs
Due: fmt, clippy, test

fix: remove test from fs_err import cfg gate to fix unused-import on Windows
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

Update crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

review: inline open_for_mmap, use fs_err inline, move test into mod test
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

feat: support glob/regex PackageNameMatchers in rattler_repodata_gateway
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix(menuinst): fix Windows file extension icons, type names, and console window
  crates/rattler_menuinst/src/schema.rs
  crates/rattler_menuinst/src/windows.rs
  crates/rattler_menuinst/src/windows/registry.rs
Due: fmt, clippy, test

fix(menuinst): capitalize only first char of friendly type name
  crates/rattler_menuinst/src/windows.rs
Due: fmt, clippy, test

revert(menuinst): remove PowerShell console-hiding for activate=false
  crates/rattler_menuinst/src/schema.rs
  crates/rattler_menuinst/src/windows.rs
Due: fmt, clippy, test

chore: update py-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: none

minor optimization and fixes
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix linting
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
  crates/rattler_repodata_gateway/src/utils/simple_channel_server.rs
Due: fmt, clippy, test

fix(networking): prevent GCS auth deadlock on cancellation
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/gcs_middleware.rs
Due: fmt, clippy, test

chore: Add "vouched" label to vouched PRs
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

WIP
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

skill issue 💀
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
