Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

chore: typo fix
  Cargo.toml
Due: none

fix
  scripts/check-native-tls.sh
  tools/create-resolvo-snapshot/Cargo.toml
Due: none

WIP
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/Cargo.toml
Due: none

chore: Extract v7 of the lockfile (#1981)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
Due: fmt, clippy, test

chore: Remove `input` hash from Conda packages (#1983)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
Due: fmt, clippy, test

chore: Remove `editable` flag from Pypi packages (#1982)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

refactor: introduce legacy package data (#1985)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

refactor: split v7 (de)serialization of source and binary packages (#1987)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

Claude: Update py-rattler to new rust lockfile API
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/examples/cli.py
  py-rattler/examples/install_to_prefix.py
  py-rattler/rattler/__init__.py
  py-rattler/rattler/lock/__init__.py
  py-rattler/rattler/lock/environment.py
  py-rattler/rattler/lock/lock_file.py
  py-rattler/rattler/lock/package.py
  py-rattler/rattler/lock/platform.py
  py-rattler/src/error.rs
  py-rattler/src/lib.rs
  py-rattler/src/lock/mod.rs
  py-rattler/tests/unit/test_lock_file.py
Due: fmt, clippy, test

Handle duplicate platform names
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
Due: fmt, clippy, test

Better error handling for lockfile builder
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/platform.rs
Due: fmt, clippy, test

rattler_lock: Add platform deserialization code
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/platform.rs
Due: fmt, clippy, test

rattler_lock: Fix and test platform handling
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/platform.rs
  crates/rattler_lock/src/snapshots/rattler_lock__builder__test__merge_records_and_purls.snap
  crates/rattler_lock/src/snapshots/rattler_lock__builder__test__pypi_prerelease_mode.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__numpy-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__pypi-matplotlib-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__python-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__duplicate_platform_definition.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__duplicate_platform_use.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_name.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_subdir.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__missing_platform.yml.snap
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/lock_parse_fails/v7/duplicate_platform.yml
  test-data/lock_parse_fails/v7/duplicate_platform_definition.yml
  test-data/lock_parse_fails/v7/duplicate_platform_use.yml
  test-data/lock_parse_fails/v7/invalid_platform_name.yml
  test-data/lock_parse_fails/v7/invalid_platform_subdir.yml
  test-data/lock_parse_fails/v7/missing_platform.yml
Due: check-yaml, fmt, clippy, test

Fix fallout in rattler crate
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

rattler_lock: Move `Package` type out of the way
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/utils/derived_fields.rs
Due: fmt, clippy, test

Claude: Add stuff to help py-rattler
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/platform.rs
Due: fmt, clippy, test

chore(ci): ensure rustls is not used when using native-tls (#2024)
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/Cargo.toml
  lefthook.yaml
  scripts/check-native-tls.sh
Due: check-yaml

bump reqwest, rename rustls-tls feature to rustls
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler/Cargo.toml
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_redaction/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_s3/Cargo.toml
  crates/rattler_upload/Cargo.toml
  crates/tools/Cargo.toml
  py-rattler/Cargo.toml
  tools/create-resolvo-snapshot/Cargo.toml
Due: none

WIP
  scripts/check-native-tls.sh
Due: none

WIP
  crates/rattler_upload/Cargo.toml
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: none

WIP
  Cargo.lock
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
Due: fmt, clippy, test

WIP
  .github/workflows/release-python.yml
  .github/workflows/rust-compile.yml
  crates/rattler_networking/src/oci_middleware.rs
Due: check-yaml, fmt, clippy, test

WIP
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
Due: none

WIP
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
Due: fmt, clippy, test

chore: Replace macos-15-intel with macos-latest
  .github/workflows/release-python.yml
Due: check-yaml

improved c-string function, improved permission checking, improved error message, improved slice usage in link.rs, Still have to look at the v2 backwards incompatibility comment
  crates/rattler/src/install/link.rs
  crates/rattler_cache/src/validation.rs
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

feat: support glob and regex patterns in repodata queries
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
Due: fmt, clippy, test

feat(rattler-bin): add search command with glob/regex support
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

WIP
  pixi.lock
Due: none

ci: fix lockfile after release
  pixi.lock
Due: none

ci: fix lockfile after release (#2037)
  pixi.lock
Due: none

docs(py-rattler): add doctest example for glob pattern queries
  py-rattler/rattler/repo_data/gateway.py
Due: none

WIP
  py-rattler/Cargo.lock
  py-rattler/rattler/repo_data/gateway.py
Due: none

Remove jlap
  crates/rattler_config/src/config/repodata_config.rs
  crates/rattler_config/src/lib.rs
  crates/rattler_config/src/snapshots/rattler_config__tests__comprehensive_config_edit.snap
  crates/rattler_config/src/snapshots/rattler_config__tests__repodata_config_edit.snap
  crates/rattler_config/test-data/config.toml
  crates/rattler_networking/src/mirror_middleware.rs
  crates/rattler_networking/src/oci_middleware.rs
  crates/rattler_package_streaming/tests/extract.rs
  crates/rattler_repodata_gateway/src/fetch/cache/mod.rs
  crates/rattler_repodata_gateway/src/fetch/jlap/mod.rs
  crates/rattler_repodata_gateway/src/fetch/mod.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
  crates/rattler_repodata_gateway/src/gateway/indicatif.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  js-rattler/crate/gateway.rs
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/networking/middleware.rs
  py-rattler/src/networking/mod.rs
  py-rattler/src/repo_data/gateway.rs
  typos.toml
Due: fmt, clippy, test

Removed unused snapshots
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state.snap
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state_one.snap
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state_two.snap
Due: none

Fix flaky activation test
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

fixed some warnings & the python lint run error's
  crates/rattler_conda_types/src/package/paths.rs
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

also with experimental extras
  crates/rattler-bin/src/commands/search.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
