Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix comments
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/prefix_record.rs
Due: fmt, clippy, test

update snapshots
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__libsqlite-3_40_0-hcfcfb64_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__menuinst-1_4_19-py311h1ea47a8_1_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__pip-23_0-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__pysocks-1_7_1-pyh0701188_6_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__requests-2_28_2-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__tk-8_6_12-h8ffe710_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__urllib3-1_26_14-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__vc-14_3-hb6edc58_10_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__wheel-0_38_4-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__xz-5_2_6-h8d14728_0_json.snap
Due: none

fix: linting
  crates/rattler_conda_types/src/no_arch_type.rs
Due: fmt, clippy, test

fix: fmt
  crates/rattler_conda_types/src/no_arch_type.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

feat: extend noarch key parser to support empty string
  crates/rattler_conda_types/src/no_arch_type.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__deserialize_no_noarch_empty_str.snap
  test-data/channels/dummy-noarch-str-not-empty/linux-64/repodata.json
  test-data/channels/dummy-noarch-str/linux-64/repodata.json
Due: fmt, clippy, test

chore: release (#1632)
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_menuinst/CHANGELOG.md
  crates/rattler_menuinst/Cargo.toml
Due: none

fix up logic to get to `prefix.dev` host
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

chore(rattler_index): release v0.24.12
  Cargo.lock
  Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
Due: none

chore(rattler_index): release v0.24.12
  Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
Due: none

chore: cleanup code a bit
  crates/rattler_conda_types/src/no_arch_type.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

cleaned up python bindings
  Cargo.lock
  crates/rattler_index/src/lib.rs
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
  crates/rattler_s3/Cargo.toml
  crates/rattler_s3/src/lib.rs
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/index/__init__.py
  py-rattler/rattler/index/index.py
  py-rattler/src/error.rs
  py-rattler/src/index.rs
Due: fmt, clippy, test

fix: cleanup pixi lock
  pixi.lock
Due: none

fix: update lockfile
  pixi.lock
Due: none

fix: compatibility with older Artifactory repodata format (#1599)
  crates/rattler_conda_types/src/no_arch_type.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__deserialize_no_noarch_empty_str.snap
  test-data/channels/dummy-noarch-str-not-empty/linux-64/repodata.json
  test-data/channels/dummy-noarch-str/linux-64/repodata.json
Due: fmt, clippy, test

fix: logic to get to `prefix.dev` host (#1646)
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

chore: release
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_cache/CHANGELOG.md
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/CHANGELOG.md
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_config/CHANGELOG.md
  crates/rattler_config/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_lock/CHANGELOG.md
  crates/rattler_lock/Cargo.toml
  crates/rattler_menuinst/CHANGELOG.md
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/CHANGELOG.md
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/CHANGELOG.md
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_shell/CHANGELOG.md
  crates/rattler_shell/Cargo.toml
  crates/rattler_solve/CHANGELOG.md
  crates/rattler_solve/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
  crates/rattler_virtual_packages/CHANGELOG.md
  crates/rattler_virtual_packages/Cargo.toml
Due: none

chore: release (#1647)
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_cache/CHANGELOG.md
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/CHANGELOG.md
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_config/CHANGELOG.md
  crates/rattler_config/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_lock/CHANGELOG.md
  crates/rattler_lock/Cargo.toml
  crates/rattler_menuinst/CHANGELOG.md
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/CHANGELOG.md
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/CHANGELOG.md
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_shell/CHANGELOG.md
  crates/rattler_shell/Cargo.toml
  crates/rattler_solve/CHANGELOG.md
  crates/rattler_solve/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
  crates/rattler_virtual_packages/CHANGELOG.md
  crates/rattler_virtual_packages/Cargo.toml
Due: none

Add shellcheck
  Cargo.lock
  pixi.lock
  pixi.toml
Due: none

chore: switch from pre-commit to lefthook (#1549)
  .dprint.jsonc
  .github/workflows/lint.yaml
  .github/workflows/python-bindings.yml
  .github/workflows/release-js.yml
  .github/workflows/release-python.yml
  .github/workflows/rust-compile.yml
  .pre-commit-config.yaml
  lefthook.yaml
  pixi.lock
  pixi.toml
  py-rattler/mkdocs.yml
  test-data/conda-lock/forward-compatible-lock.yml
  test-data/conda-lock/v0/numpy-conda-lock.yml
  test-data/conda-lock/v0/pypi-matplotlib-conda-lock.yml
  test-data/conda-lock/v0/python-conda-lock.yml
  test-data/conda-lock/v3/robostack-turtlesim-conda-lock.yml
  test-data/conda-lock/v4/absolute-path-lock.yml
  test-data/conda-lock/v4/path-based-lock.yml
  test-data/conda-lock/v5/flat-index-lock.yml
  test-data/conda-lock/v5/similar-with-and-without-purl.yml
  test-data/conda-lock/v5/stability-original.yml
  test-data/conda-lock/v5/stability-shuffled.yml
  test-data/conda-lock/v6/conda-path-lock.yml
  test-data/conda-lock/v6/empty-lock.yml
  test-data/conda-lock/v6/numpy-as-pypi-lock.yml
  test-data/conda-lock/v6/options-lock.yml
  test-data/environments/asymmetric_vqgan.environment.yaml
  typos.toml
Due: check-yaml

add github attestation integration
  Cargo.lock
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/attestation.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/prefix.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: fmt, clippy, test

update cargo.lock
  Cargo.lock
Due: none

try to upload something
  .github/workflows/rust-compile.yml
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/main.rs
  crates/rattler_upload/src/upload/attestation.rs
  crates/rattler_upload/src/upload/prefix.rs
Due: check-yaml, fmt, clippy, test

add perms
  .github/workflows/rust-compile.yml
Due: check-yaml

Update .github/workflows/e2e-s3-tests.yml
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: update cargo lockfile
  Cargo.lock
  Cargo.toml
Due: none

fix
  .github/workflows/rust-compile.yml
Due: check-yaml

small refactor of bearer auth
  crates/rattler-bin/src/main.rs
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/oci_middleware.rs
  crates/rattler_upload/src/upload/attestation.rs
  crates/rattler_upload/src/upload/trusted_publishing.rs
Due: fmt, clippy, test

fix comment
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

fix comment
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/utils/serde.rs
Due: fmt, clippy, test

fix: update lockfile
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
  pixi.lock
Due: none

fix: linting
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

feat: read version from cargo.toml
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
  pixi.lock
Due: none

fix: formatting issues
  py-rattler/src/error.rs
  py-rattler/src/index.rs
Due: fmt, clippy, test

fix: ensure safety of memory map usage
  crates/rattler_conda_types/src/minimal_prefix_record.rs
Due: fmt, clippy, test

compare old and new format
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/benches/minimal_prefix_record.rs
Due: fmt, clippy, test

use old benchmark file
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/benches/minimal_prefix_record.rs
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
Due: fmt, clippy, test
