Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix: use cmake to build aws-lc-sys to avoid conda CFLAGS conflict
  pixi.toml
Due: none

fix: use cmake to build aws-lc-sys to avoid conda CFLAGS conflict (#2240)
  pixi.lock
  pixi.toml
Due: none

fix: set AWS_LC_SYS_CMAKE_BUILDER in pixi-build package configs
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
Due: none

ci: add pixi.toml and pixi.lock to E2E S3 test path filter
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

test: add error case, display roundtrip, and serde roundtrip tests for EntryPoint
  crates/rattler_conda_types/src/package/entry_point.rs
Due: fmt, clippy, test

chore(virtual_packages): remove obsolete TODO comment about converting LibC family name
  crates/rattler_virtual_packages/src/lib.rs
  pixi.lock
Due: fmt, clippy, test

allow external symlinks when extracting
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

fix: set AWS_LC_SYS_CMAKE_BUILDER in pixi-build package configs (#2241)
  .github/workflows/e2e-s3-tests.yml
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
Due: check-yaml

fix: allow external symlinks when extracting (#2245)
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

chore: More pypi round-tripping tests
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

pin back http cache until we reqwest update
  Cargo.lock
  Cargo.toml
  js-rattler/Cargo.lock
  pixi.lock
  py-rattler/Cargo.lock
Due: none

fix opendal
  crates/rattler_index/src/cache.rs
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

feat(s3): support vendor-neutral S3_* env vars in S3 middleware
  crates/rattler_networking/src/s3_middleware.rs
Due: fmt, clippy, test

fix(virtual_packages): handle invalid chars in LibC family (#2209)
  crates/rattler_virtual_packages/src/lib.rs
Due: fmt, clippy, test

fix warnings compilation error
  .cargo/config.toml
  crates/rattler_index/tests/integration/etag_memory_backend.rs
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
Due: fmt, clippy, test

feat(rattler_upload): add Cloudsmith upload target
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/cloudsmith.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/package.rs
Due: fmt, clippy, test

fix(rattler_upload): correct Cloudsmith API endpoint paths
  crates/rattler_upload/src/upload/cloudsmith.rs
  crates/rattler_upload/src/upload/mod.rs
Due: fmt, clippy, test

chore(rattler_upload): cargo fmt
  crates/rattler_upload/src/upload/cloudsmith.rs
Due: fmt, clippy, test

Perf: Improve download throughput with 128KB buffer and SpooledTempFile caching for tar.bz2 downloads
  crates/rattler_package_streaming/benches/extraction_benchmark.rs
  crates/rattler_package_streaming/src/reqwest/full_download.rs
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_package_streaming/src/reqwest/test_server.rs
  crates/rattler_package_streaming/src/reqwest/tokio.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/mod.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

Fix: Resolve CI formatting and clippy dead-code warnings
  crates/rattler_package_streaming/benches/extraction_benchmark.rs
  crates/rattler_package_streaming/src/reqwest/test_server.rs
Due: fmt, clippy, test

refactor: use tokio::io::duplex for true concurrent extraction and fix benchmark
  crates/rattler_package_streaming/benches/extraction_benchmark.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
Due: fmt, clippy, test

fix: also retry IoError(Other) to handle truncated-stream decompressor errors
  crates/rattler_package_streaming/src/lib.rs
Due: fmt, clippy, test

fix: Fix pypi source package identifiers mismatching
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

chore: bump dependency versions (#2237)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  crates/rattler_index/src/cache.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/etag_memory_backend.rs
  crates/rattler_package_streaming/src/seek.rs
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  py-rattler/Cargo.lock
Due: fmt, clippy, test

feat(rattler_upload): add tracing and include response body in errors
  crates/rattler_upload/src/upload/cloudsmith.rs
Due: fmt, clippy, test

fix(ci): update pixi.lock and sync it in release workflow
  .github/workflows/release-rust.yaml
  pixi.lock
Due: check-yaml

fix(ci): update pixi.lock and sync it in release workflow (#2250)
  .github/workflows/release-rust.yaml
  pixi.lock
Due: check-yaml

fix(rattler_upload): use div_ceil instead of manual reimplementation
  crates/rattler_upload/src/upload/cloudsmith.rs
Due: fmt, clippy, test

feat: add RichInstallerReporter and deprecate show_progress
  py-rattler/pyproject.toml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/install/__init__.py
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/install/rich_reporter.py
Due: none

fix(rattler_repodata_gateway): apply all matching pattern specs, not just the first
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
Due: fmt, clippy, test

fix: logic bug in collect_env_vars causing spurious warnings
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

chore: fix clippy::doc_markdown lint error in activation.rs
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

fix: logic bug in collect_env_vars causing spurious warnings (#2254)
  crates/rattler_shell/src/activation.rs
Due: fmt, clippy, test

feat: implement shell flavors and fix documentation clippy warnings
  crates/rattler/src/install/link_script.rs
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_menuinst/src/macos.rs
  crates/rattler_shell/src/activation.rs
  crates/rattler_shell/src/shell/mod.rs
  crates/rattler_shell/src/snapshots/rattler_shell__activation__tests__test_deactivation_dash.snap
  py-rattler/src/shell.rs
Due: fmt, clippy, test

add allow external symlinks to options builder
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix: Fall back to mkdir when clonefile fails on non-APFS filesystems
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

fix(docs): split workflow into rust and py-rattler jobs, fix tag matching
  .github/workflows/docs.yaml
  .github/workflows/release-python.yml
Due: check-yaml

fix(docs): split workflow into rust and py-rattler jobs, fix tag matching (#2257)
  .github/workflows/docs.yaml
  .github/workflows/release-python.yml
Due: check-yaml

add Warn option
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
Due: fmt, clippy, test

fix(rattler_upload): use -a short flag for Cloudsmith API key to match other subcommands
  crates/rattler_upload/src/upload/opt.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
