Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fixes
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__fetch__tests__fetch_full_download_conda.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__fetch__tests__fetch_full_download_tar_bz2.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__sparse__tests__fetch_package_file_sparse-2.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__sparse__tests__fetch_package_file_sparse.snap
Due: none

fix
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__sparse__tests__fetch_package_file_sparse-2.snap
Due: none

feat: Add support for downloading info files via range requests (#1935)
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_conda_types/src/package/about.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/package/link.rs
  crates/rattler_conda_types/src/package/mod.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/run_exports.rs
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/reqwest/fetch.rs
  crates/rattler_package_streaming/src/reqwest/mod.rs
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__fetch__tests__fetch_about_json.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__fetch__tests__fetch_full_download_conda.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__fetch__tests__fetch_full_download_tar_bz2.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__fetch__tests__fetch_index_json.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__sparse__tests__fetch_package_file_sparse-2.snap
  crates/rattler_package_streaming/src/reqwest/snapshots/rattler_package_streaming__reqwest__sparse__tests__fetch_package_file_sparse.snap
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_package_streaming/src/reqwest/test_server.rs
  crates/rattler_package_streaming/src/seek.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
Due: fmt, clippy, test

feat: Add support for range requests in py-rattler
  py-rattler/Cargo.lock
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
Due: fmt, clippy, test

fix: bz2 cache state overwritten with zst state in check_variant_availability
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
Due: fmt, clippy, test

WIP
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
Due: fmt, clippy, test

fix(package-streaming): propagate error instead of panic in read_package_file_content
  crates/rattler_package_streaming/src/seek.rs
Due: fmt, clippy, test

fix: bz2 cache overwritten with zst state in repodata cache (#2180)
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
Due: fmt, clippy, test

for each file instead
  py-rattler/rattler/package/about_json.py
  py-rattler/rattler/package/index_json.py
  py-rattler/rattler/package/paths_json.py
  py-rattler/rattler/package/run_exports_json.py
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/about_json.rs
  py-rattler/src/index_json.rs
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
  py-rattler/src/paths_json.rs
  py-rattler/src/run_exports_json.rs
Due: fmt, clippy, test

feat(py): Add support for range requests (#2178)
  py-rattler/Cargo.lock
  py-rattler/rattler/package/about_json.py
  py-rattler/rattler/package/index_json.py
  py-rattler/rattler/package/paths_json.py
  py-rattler/rattler/package/run_exports_json.py
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/about_json.rs
  py-rattler/src/index_json.rs
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/mod.rs
  py-rattler/src/paths_json.rs
  py-rattler/src/run_exports_json.rs
Due: fmt, clippy, test

fix: record actual link type in PrefixRecord (#2169)
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/mod.rs
  crates/rattler/src/install/test_utils.rs
Due: fmt, clippy, test

chore: Bump py-rattler 0.23.0
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: none

docs(py): add CHANGELOG.md for py-rattler 0.23.0
  py-rattler/CHANGELOG.md
Due: none

ci(py): attach changelog to GitHub Release
  .github/workflows/release-python.yml
Due: check-yaml

chore(py): bump py-rattler 0.23.0 (#2181)
  .github/workflows/release-python.yml
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: check-yaml

feat(js-rattler): export MatchSpec and BuildNumberSpec
  crates/rattler_conda_types/src/match_spec/parse.rs
  js-rattler/Cargo.lock
  js-rattler/crate/lib.rs
  js-rattler/crate/match_spec.rs
  js-rattler/package-lock.json
  js-rattler/src/MatchSpec.test.ts
  js-rattler/src/MatchSpec.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

feat(js-rattler): export MatchSpec and BuildNumberSpec with WASM fixes
  crates/rattler_conda_types/src/channel/mod.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/fetch/no_cache.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/run_exports_extractor.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_repodata_gateway/src/utils/encoding.rs
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  js-rattler/crate/error.rs
  js-rattler/crate/match_spec.rs
  js-rattler/package.json
  js-rattler/src/MatchSpec.test.ts
Due: fmt, clippy, test

fix: preserve mirror URL path when rewriting requests
  crates/rattler_networking/src/mirror_middleware.rs
Due: fmt, clippy, test

fix: preserve mirror URL path when rewriting requests (#1283)
  crates/rattler_networking/src/mirror_middleware.rs
Due: fmt, clippy, test

fix: preserve channel priority for direct dependencies
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

fix: address clippy lint for Solver construction
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

fix: exclude no-timestamp packages in resolvo min_age dedup
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

fix: exclude no-timestamp packages in resolvo min_age dedup (#2185)
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

feat(py): add custom progress reporter callbacks to installer
  py-rattler/Cargo.lock
  py-rattler/rattler/__init__.py
  py-rattler/rattler/install/__init__.py
  py-rattler/rattler/install/installer.py
  py-rattler/src/installer.rs
Due: fmt, clippy, test

fix: propagate stream_conda_info error instead of panic (#2182)
  crates/rattler_package_streaming/src/seek.rs
Due: fmt, clippy, test

fix: return error instead of panicking in sort_paths when path is not under base_path
  crates/rattler_package_streaming/src/write.rs
Due: fmt, clippy, test

chore: fix lint errors in rattler_package_streaming
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/write.rs
Due: fmt, clippy, test

fix: avoid double matching in accumulate_records
  crates/rattler_repodata_gateway/src/gateway/query.rs
Due: fmt, clippy, test

fix: enforce strict channel priority using channel package metadata
  crates/rattler-bin/src/commands/create.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/repo_data.rs
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/sorting.rs
  py-rattler/src/solver.rs
  tools/create-resolvo-snapshot/src/main.rs
Due: fmt, clippy, test

fix: wrap documentation identifiers in backticks
  crates/rattler_repodata_gateway/src/gateway/repo_data.rs
Due: fmt, clippy, test

fix: preserve conda-meta key order when updating requested_specs
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

test: add missing unit and property-based tests for path_resolver
  crates/path_resolver/src/lib.rs
Due: fmt, clippy, test

docs(py): add versioning to py-rattler documentation
  .github/workflows/docs.yaml
  py-rattler/mkdocs.yml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
Due: check-yaml

fix(rattler_index): Remove non-existent packages from repodata
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

fix
  py-rattler/pixi.toml
Due: none

chore(py-rattler): Add pixi-build
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  py-rattler/pyproject.toml
  py-rattler/scripts/ensure-version-synced.nu
Due: none

no yq
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  py-rattler/scripts/ensure-version-synced.nu
Due: none

fix test
  py-rattler/rattler/lock/lock_file.py
Due: none

feat(py-rattler): Add extra to AboutJson
  py-rattler/rattler/package/about_json.py
  py-rattler/src/about_json.rs
  py-rattler/tests/unit/test_about_json.py
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
