Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

remove slow test
  py-rattler/rattler/repo_data/gateway.py
Due: none

WIP
  crates/rattler_repodata_gateway/src/gateway/error.rs
Due: fmt, clippy, test

WIP
  crates/rattler-bin/src/commands/search.rs
Due: fmt, clippy, test

implemented keeping version 1 and the executable field
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/mod.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_excecutable.snap
Due: fmt, clippy, test

ran 'pixi run lint'
  py-rattler/Cargo.lock
Due: none

fix: version bump with alpha (a1/a2...)
  crates/rattler_conda_types/src/version/bump.rs
Due: fmt, clippy, test

feat: implement async .conda archive extraction
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/async_seek.rs
  crates/rattler_package_streaming/src/tokio/mod.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

refactor: replace async `conda` with `astral-async-zip`. (#1855)
  Cargo.lock
  Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/async_seek.rs
  crates/rattler_package_streaming/src/tokio/mod.rs
  crates/rattler_package_streaming/src/tokio/shared.rs
Due: fmt, clippy, test

fix pixi lockfile
  pixi.lock
Due: none

ran lint again
  crates/rattler/src/install/link.rs
  crates/rattler_conda_types/src/package/paths.rs
Due: fmt, clippy, test

pixi lock update
  pixi.lock
Due: none

fix: add python deprecations
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/repo_data/gateway.py
Due: none

fix: linting issues
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/repo_data/gateway.py
Due: none

fix: update lock-file again
  pixi.lock
Due: none

fix: update pixi lockfile (#2043)
  pixi.lock
Due: none

refactor!: remove support for JLAP (#2038)
  crates/rattler_config/src/config/repodata_config.rs
  crates/rattler_config/src/lib.rs
  crates/rattler_config/src/snapshots/rattler_config__tests__comprehensive_config_edit.snap
  crates/rattler_config/src/snapshots/rattler_config__tests__repodata_config_edit.snap
  crates/rattler_config/test-data/config.toml
  crates/rattler_networking/src/mirror_middleware.rs
  crates/rattler_networking/src/oci_middleware.rs
  crates/rattler_package_streaming/tests/extract.rs
  crates/rattler_repodata_gateway/src/fetch/cache/mod.rs
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state.snap
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state_one.snap
  crates/rattler_repodata_gateway/src/fetch/cache/snapshots/rattler_repodata_gateway__fetch__cache__test__parse_repo_data_state_two.snap
  crates/rattler_repodata_gateway/src/fetch/jlap/mod.rs
  crates/rattler_repodata_gateway/src/fetch/mod.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/channel_config.rs
  crates/rattler_repodata_gateway/src/gateway/indicatif.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/reporter.rs
  crates/rattler_shell/src/activation.rs
  js-rattler/crate/gateway.rs
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/networking/middleware.rs
  py-rattler/src/networking/mod.rs
  py-rattler/src/repo_data/gateway.rs
  typos.toml
Due: fmt, clippy, test

rename snap file
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_executable.snap
Due: none

chore: typo fix
  Cargo.toml
Due: none

chore: Extract v7 of the lockfile (#1981)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
Due: fmt, clippy, test

chore: Remove `editable` flag from Pypi packages (#1982)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

chore: Remove `input` hash from Conda packages (#1983)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
Due: fmt, clippy, test

refactor: split v7 (de)serialization of source and binary packages (#1987)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

refactor: introduce legacy package data (#1985)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

formatting in the py-rattler paths_json
  py-rattler/Cargo.lock
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

wip
  crates/rattler_cas/src/lib.rs
  crates/rattler_cas_tar/src/lib.rs
  pixi.lock
Due: fmt, clippy, test

PyPrefixPlaceholder empty offstes field flag
  py-rattler/src/paths_json.rs
Due: fmt, clippy, test

feat: implement Ord for PackageRecord, RepoDataRecord, and PrefixRecord
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data_record.rs
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/src/record.rs
Due: fmt, clippy, test

chore: update py-rattler Cargo.lock
  py-rattler/Cargo.lock
Due: none

feat: match PackageRecord ordering to solver candidate preference
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

fix: use ascending order for PackageRecord::Ord, keep track_features
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

Update Python docs and add snapshot test for PackageRecord ordering
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__ordering.snap
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/src/record.rs
Due: fmt, clippy, test

style: apply rustfmt formatting
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

fix: address clippy warnings in ordering test
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

refactor: add timestamp parameter to record helper in ordering test
  crates/rattler_conda_types/src/repo_data/mod.rs
Due: fmt, clippy, test

style: fix import order in py-rattler record.rs
  py-rattler/src/record.rs
Due: fmt, clippy, test

chore: clippy fixes
  crates/rattler-bin/src/main.rs
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/install/test_utils.rs
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_package_streaming/src/write.rs
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/tests/sorting.rs
  crates/rattler_upload/src/upload/conda_forge.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
