Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

bump: js-rattler 0.3.2
  js-rattler/package.json
Due: none

fix: retry policy for indexing operations
  crates/rattler_index/src/lib.rs
  crates/rattler_networking/src/retry_policies.rs
Due: fmt, clippy, test

Update retry duration in comment to 10 minutes
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

fix: retry policy for indexing operations (#1745)
  crates/rattler_index/src/lib.rs
  crates/rattler_networking/src/retry_policies.rs
Due: fmt, clippy, test

review comment
  crates/rattler_repodata_gateway/Cargo.toml
Due: none

update pkg format
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix __all__ exports
  crates/rattler_pty/src/unix/pty_process.rs
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/pty/__init__.py
  py-rattler/rattler/pty/pty_process.py
  py-rattler/rattler/pty/pty_session.py
  py-rattler/src/lib.rs
  py-rattler/src/pty/mod.rs
  py-rattler/src/pty/pty_process.rs
  py-rattler/src/pty/pty_session.rs
  py-rattler/tests/unit/test_pty.py
Due: fmt, clippy, test

Add asyncio PtyProcess
  crates/rattler_pty/Cargo.toml
  crates/rattler_pty/src/unix/pty_process.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/pty/pty_process.py
  py-rattler/src/pty/pty_process.rs
  py-rattler/tests/unit/test_pty.py
Due: fmt, clippy, test

enable pty feature on builds
  .github/workflows/release-python.yml
  Cargo.lock
  crates/rattler_pty/src/unix/pty_process.rs
  py-rattler/pixi.toml
  py-rattler/rattler/pty/__init__.py
  py-rattler/src/pty/mod.rs
  py-rattler/tests/unit/test_pty.py
Due: check-yaml, fmt, clippy, test

run cargo fmt again
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

also format py-rattler
  py-rattler/src/pty/pty_process.rs
Due: fmt, clippy, test

js-rattler: Do not set a user-agent
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

Linter
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

Add comment
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

Handle review comment
  js-rattler/Cargo.toml
Due: none

Update lock
  js-rattler/Cargo.lock
Due: none

Review comment
  js-rattler/Cargo.toml
Due: none

fix: js-rattler: do not set a user-agent (#1747)
  js-rattler/Cargo.lock
  js-rattler/Cargo.toml
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

chore(js): bump version from 0.3.2 to 0.3.3
  js-rattler/package.json
Due: none

Allow to create a Gateway without setting a user_agent
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  js-rattler/crate/gateway.rs
Due: fmt, clippy, test

Run linter
  crates/rattler_repodata_gateway/src/gateway/builder.rs
Due: fmt, clippy, test

Linter again
  crates/rattler_repodata_gateway/src/gateway/builder.rs
Due: fmt, clippy, test

Fix
  crates/rattler_repodata_gateway/src/gateway/builder.rs
Due: fmt, clippy, test

Update js-lock
  js-rattler/package-lock.json
Due: none

chore(js): update lock-file (#1749)
  js-rattler/package-lock.json
Due: none

js-rattler: simpleSolve no user-agent
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

Add comment
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

fix(js): simpleSolve no user-agent (#1750)
  js-rattler/crate/solve.rs
Due: fmt, clippy, test

fix: Prevent noarch installer from installing non-noarch packages (#1732)
  crates/rattler/src/install/installer/error.rs
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

feat: Add progress bar for gateway query/names (#1743)
  Cargo.lock
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/gateway/indicatif.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/lib.rs
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
Due: fmt, clippy, test

update pty test
  py-rattler/tests/unit/test_pty.py
Due: none

skip ptty tests on CI
  py-rattler/tests/unit/test_pty.py
Due: none

don't run pty tests in CI
  py-rattler/pixi.toml
  py-rattler/tests/unit/test_pty.py
Due: none

try to set CI explicitly
  .github/workflows/python-bindings.yml
Due: check-yaml

exclude pty from doctests
  py-rattler/pixi.toml
Due: none

try reenabling pty unit tests
  py-rattler/pixi.toml
  py-rattler/tests/unit/test_pty.py
Due: none

Also add exit() to PtySession to enable non-blocking cleanup
  .github/workflows/python-bindings.yml
  crates/rattler_pty/src/unix/pty_session.rs
  py-rattler/rattler/pty/pty_session.py
  py-rattler/src/pty/pty_session.rs
  py-rattler/tests/unit/test_pty.py
Due: check-yaml, fmt, clippy, test

bump version
  js-rattler/package.json
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
