Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

test: fix sha
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: precommit
  .github/workflows/e2e-s3-tests.yml
  .gitignore
Due: check-yaml

simpler minio
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

dont use pixi
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: cli args
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: setup role
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix(menuinst): correct environment variable quoting on Linux (#1625)
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

fix: enable ss3
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

refactor: remove unecessary 'rattler_progress'
  Cargo.lock
  Cargo.toml
  crates/rattler_progress/Cargo.toml
  crates/rattler_progress/src/lib.rs
  crates/rattler_progress/src/placement.rs
  crates/rattler_progress/src/style.rs
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/upload/prefix.rs
Due: fmt, clippy, test

removed unused binaries
  build_and_run.sh
  crates/rattler/src/bin/test_login.rs
Due: fmt, clippy, test

fix: always enable cli-tools for rattler bin
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

fix(menuinst): improve linux
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

fix: s3
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: s3 bucket name
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: fix login authentication (#1600)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/Cargo.toml
  crates/rattler/src/cli/auth.rs
  pixi.toml
Due: fmt, clippy, test

feat: change order of fields in prefix record
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/prefix_record.rs
Due: fmt, clippy, test

chore: stage fixes from cargo-fmt
  lefthook.yaml
Due: check-yaml

chore: remove gjson parser
  Cargo.lock
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__libsqlite-3_40_0-hcfcfb64_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__menuinst-1_4_19-py311h1ea47a8_1_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__pip-23_0-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__pysocks-1_7_1-pyh0701188_6_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__tk-8_6_12-h8ffe710_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__urllib3-1_26_14-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__vc-14_3-hb6edc58_10_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__wheel-0_38_4-pyhd8ed1ab_0_json.snap
  crates/rattler_conda_types/src/snapshots/rattler_conda_types__prefix_record__test__xz-5_2_6-h8d14728_0_json.snap
Due: fmt, clippy, test

Make it more functional
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

chore: put benchmarks in groups
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
Due: fmt, clippy, test

Adapt tests
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__linux__tests__installation.snap
Due: fmt, clippy, test

Format
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

fix some review comments
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/minimal_prefix_record.rs
Due: fmt, clippy, test

test: use pixi for e2e minio test
  .github/workflows/e2e-s3-tests.yml
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/pixi.toml
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler_index/pixi.lock
  crates/rattler_index/pixi.toml
  crates/rattler_upload/Cargo.toml
  pixi.lock
  pixi.toml
  scripts/e2e/s3-minio.nu
Due: check-yaml, fmt, clippy, test

fix(menuinst): improve linux (#1628)
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_menuinst/src/snapshots/rattler_menuinst__linux__tests__installation.snap
Due: fmt, clippy, test

chore: release
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_menuinst/CHANGELOG.md
  crates/rattler_menuinst/Cargo.toml
Due: none

fix: globs of rust backend
  pixi.lock
Due: none

fix: locked versions
  crates/rattler_index/pixi.toml
  pixi.lock
Due: none

test: enable sccache and fix sha
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: aws test script
  .github/workflows/e2e-s3-tests.yml
  pixi.lock
  pixi.toml
  scripts/e2e/s3-aws.nu
Due: check-yaml

fix: broken workflow
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

fix: update pixi.lock
  pixi.lock
Due: none

fix: streamline s3 access
  .github/workflows/e2e-s3-tests.yml
  Cargo.lock
  Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_s3/Cargo.toml
  crates/rattler_s3/src/clap.rs
  crates/rattler_s3/src/lib.rs
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/s3.rs
  pixi.lock
  scripts/e2e/s3-minio.nu
Due: check-yaml, fmt, clippy, test

fix: pre-commit
  .github/workflows/e2e-s3-tests.yml
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
  scripts/e2e/s3-minio.nu
Due: check-yaml

fix: `describe_same_content` logic
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test
