Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

refactor: Split PypiPackageData inte separate structs for Source and Distribution dependencies (#2276)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__absolute-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  py-rattler/Cargo.lock
  py-rattler/src/error.rs
  py-rattler/src/lock/mod.rs
  test-data/conda-lock/v7/pypi_absolute_url.yml
  test-data/conda-lock/v7/pypi_custom_index.yml
  test-data/conda-lock/v7/pypi_relative_outside_url.yml
  test-data/conda-lock/v7/pypi_relative_url.yml
Due: check-yaml, fmt, clippy, test

chore: Add exclude-newer to project configuration
  pixi.toml
Due: none

fix: CLI crash on malformed virtual package version
  crates/rattler-bin/src/commands/create.rs
Due: fmt, clippy, test

feat: add SourceTimestamps struct with per-channel and per-package timestamp support
  crates/rattler_conda_types/src/channel/channel_url.rs
  crates/rattler_conda_types/src/utils/url_with_trailing_slash.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__options-lock.yml.snap
  crates/rattler_lock/src/source_timestamps.rs
  crates/rattler_lock/src/utils/serde/mod.rs
  crates/rattler_lock/src/utils/serde/timestamp.rs
Due: fmt, clippy, test

feat: add SourceTimestamps with per-channel and per-package support (#2328)
  crates/rattler_conda_types/src/channel/channel_url.rs
  crates/rattler_conda_types/src/utils/url_with_trailing_slash.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__options-lock.yml.snap
  crates/rattler_lock/src/source_timestamps.rs
  crates/rattler_lock/src/utils/serde/mod.rs
  crates/rattler_lock/src/utils/serde/timestamp.rs
Due: fmt, clippy, test

fix: use latest in serialized format
  crates/rattler_lock/src/source_timestamps.rs
Due: fmt, clippy, test

refactor: rewrite SourceTimestamps ser/de using serde-untagged
  Cargo.lock
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-timestamps-map-lock.yml.snap
  crates/rattler_lock/src/source_timestamps.rs
  test-data/conda-lock/v7/source-timestamps-map-lock.yml
Due: check-yaml, fmt, clippy, test

refactor: rewrite SourceTimestamps ser/de using serde-untagged (#2329)
  Cargo.lock
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-timestamps-map-lock.yml.snap
  crates/rattler_lock/src/source_timestamps.rs
  test-data/conda-lock/v7/source-timestamps-map-lock.yml
Due: check-yaml, fmt, clippy, test

fix: warn when $NETRC points to a missing or invalid file
  Cargo.lock
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/authentication_storage/backends/netrc.rs
Due: fmt, clippy, test

fix: fall back to full download when sparse zip parsing fails on zip64 extra fields
  crates/rattler_package_streaming/src/reqwest/fetch.rs
  test-data/zip64-extra-field-test.conda
Due: fmt, clippy, test

chore: remove stray merge conflict marker comment
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

bump `zip`
  Cargo.toml
Due: none

fix: Hammer down the sort order of conda source packages
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

chore: Remove `input` hash from Conda packages (#1983)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
Due: fmt, clippy, test

chore: Remove `editable` flag from Pypi packages (#1982)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_absolute_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

chore: Extract v7 of the lockfile (#1981)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
Due: fmt, clippy, test

refactor: Make version optional when storing pypi packages (#2069)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

chore: Do not persist pypi-prerelease-mode (#2053)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/options.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform.yml.snap
Due: fmt, clippy, test

refactor: rename `source` to `conda-source` (#2205)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
  test-data/lock_parse_fails/v7/duplicate_platform.yml
  test-data/lock_parse_fails/v7/duplicate_platform_definition.yml
  test-data/lock_parse_fails/v7/duplicate_platform_use.yml
  test-data/lock_parse_fails/v7/invalid_platform_name.yml
  test-data/lock_parse_fails/v7/invalid_platform_subdir.yml
  test-data/lock_parse_fails/v7/missing_platform.yml
Due: check-yaml, fmt, clippy, test

refactor: introduce legacy package data (#1985)
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/mod.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

feat: Add index_url into Pypi packages (#2113)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  py-rattler/src/lock/mod.rs
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

fix: handle url-encoded windows paths in urls (#2200)
  crates/file_url/src/lib.rs
Due: fmt, clippy, test

refactor: split v7 (de)serialization of source and binary packages (#1987)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

refactor: remove pypi `extras` from lock-file v7 (#2095)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
  py-rattler/rattler/lock/package.py
  py-rattler/src/lib.rs
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

chore: Rename `index-url` to `index` in v7 python packages (#2203)
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
  test-data/conda-lock/v7/pypi_custom_index.yml
Due: check-yaml, fmt, clippy, test

refactor: make package record optional for source dependencies (#1995) resolve conflicts in mqrssxnx
  Cargo.lock
  Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v6/source_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/source.rs
  crates/rattler_lock/src/source_identifier.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/lock/package.py
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

chore: Make sure platforms are in sort order in the lockfile (#2312)
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_outside_url.yml.snap
Due: fmt, clippy, test

feat: add timestamps to source records (#2286)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  crates/rattler_lock/src/utils/serde/timestamp.rs
  test-data/conda-lock/v7/conda-path-lock.yml
  test-data/conda-lock/v7/derived-channel-lock.yml
  test-data/conda-lock/v7/pixi-build-git-rev-only-source-lock.yml
  test-data/conda-lock/v7/pixi-build-git-tag-source-lock.yml
  test-data/conda-lock/v7/pixi-build-pinned-source-lock.yml
  test-data/conda-lock/v7/pixi-build-url-source-lock.yml
  test-data/conda-lock/v7/sources-lock.yml
Due: check-yaml, fmt, clippy, test

fix: stale snapshot
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__invalid_platform_subdir.yml.snap
Due: none

refactor: make timestamp optional in source packages (#2310)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

fix: Fix pypi source package identifiers mismatching the package location (#2247)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

fix: Hammer down the sort order of conda source packages (#2332)
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

refactor: Change index-url handling in lock files (#2321)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
Due: fmt, clippy, test

fix: Duplicate source files in lockfile-v7 (#2318)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
