Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix: cleanup
  crates/rattler/src/install/mod.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v5/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/mod.rs
  crates/rattler_lock/src/parse/models/v6/deserialize.rs
  crates/rattler_lock/src/parse/models/v6/mod.rs
  crates/rattler_lock/src/parse/models/v7/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/mod.rs
Due: fmt, clippy, test

fix: cleanup
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/deserialize.rs
  crates/rattler_lock/src/parse/models/v6/deserialize.rs
  crates/rattler_lock/src/parse/models/v7/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

clean selector logic
  crates/rattler_lock/src/parse/models/v7/deserialize.rs
Due: fmt, clippy, test

cleanup matching
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v6/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

test: add unit tests for v5
  crates/rattler_lock/src/parse/models/v5/deserialize.rs
Due: fmt, clippy, test

feat: add variants selector and tests
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

test: parse tests
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v7/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__complex_multi_environment.lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple_source_package_different_name.lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple_source_package_different_variants.lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__single_binary_package.lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__single_source_package.lock.yml.snap
  test-data/conda-lock/v7/complex_multi_environment.lock.yml
  test-data/conda-lock/v7/multiple_source_package_different_name.lock.yml
  test-data/conda-lock/v7/multiple_source_package_different_variants.lock.yml
  test-data/conda-lock/v7/single_binary_package.lock.yml
  test-data/conda-lock/v7/single_source_package.lock.yml
Due: check-yaml, fmt, clippy, test

fix: bring back serialization of package data
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

fix: bring back serialization of package data
  test-data/conda-lock/v7/binary_with_derived_subdir.lock.yml
Due: check-yaml

feat: add display for VariantValue
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

feat: optional version
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
Due: fmt, clippy, test

wip: improve disambiguity error message
  Cargo.lock
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

feat: add dev
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  test-data/conda-lock/v7/dev_and_non_dev_source.lock.yml
  test-data/conda-lock/v7/dev_source_package.lock.yml
  tools/upgrade-lock-file/Cargo.toml
  tools/upgrade-lock-file/src/main.rs
Due: check-yaml, fmt, clippy, test

chore: Replace fxhash with ahash
  Cargo.lock
  Cargo.toml
  crates/path_resolver/Cargo.toml
  crates/path_resolver/src/lib.rs
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
  crates/rattler_conda_types/src/utils/serde.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/utils/serde/match_spec_map_or_vec.rs
  crates/rattler_lock/src/utils/serde/pep440_map_or_vec.rs
Due: fmt, clippy, test

Update pixi lockfile
  pixi.lock
Due: none

We don't need the ahash serde feature
  Cargo.lock
  Cargo.toml
Due: none

Update rattler_conda_types__repo_data__test__base_url_packages.snap test
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__base_url_packages.snap
Due: none

Update rattler_conda_types__repo_data__test__base_url_packages.snap test
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__base_url_packages.snap
Due: fmt, clippy, test

Fix tests
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
Due: fmt, clippy, test

Fix tests
  crates/rattler_lock/src/lib.rs
  py-rattler/rattler/lock/lock_file.py
Due: fmt, clippy, test

Use ahash wrapper types
  crates/path_resolver/src/lib.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_conda_types/src/repo_data/topological_sort.rs
  crates/rattler_conda_types/src/utils/serde.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/utils/serde/match_spec_map_or_vec.rs
  crates/rattler_lock/src/utils/serde/pep440_map_or_vec.rs
Due: fmt, clippy, test

Use indexmap for ordered packages
  Cargo.lock
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

Keep packages list alphabetically sorted to keep tests intact
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__base_url_packages.snap
  crates/rattler_conda_types/src/utils/serde.rs
  pixi.lock
Due: fmt, clippy, test

Use IndexMap for conda_packages as well
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/patches.rs
  crates/rattler_conda_types/src/repo_data/sharded.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__base_url_packages.snap
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

Drop sort_map_alphabetically / sort_indexmap_alphabetically
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__deserialize_no_noarch_empty_str.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__deserialize_no_packages_conda.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__serialize_packages-2.snap
  crates/rattler_conda_types/src/repo_data/snapshots/rattler_conda_types__repo_data__test__serialize_packages.snap
  crates/rattler_conda_types/src/utils/serde.rs
Due: fmt, clippy, test

We don't need to sort the environments anymore
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

Fix python test
  py-rattler/rattler/lock/lock_file.py
Due: none

update
  crates/rattler_index/src/cache.rs
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

Update pixi lockfile
  py-rattler/pixi.lock
Due: none

Don't use stdlib HashMap/HashSet
  crates/path_resolver/src/lib.rs
Due: fmt, clippy, test

improve docs slightly
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

feat: add support for layered package cache (#1003)
  crates/rattler_cache/src/package_cache/cache_lock.rs
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
