Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix: OIDC ambient token detection with sigstore-rust 0.6.1 (#2017)
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/src/upload/attestation.rs
Due: fmt, clippy, test

fix: openssl issue for ppc64le
  py-rattler/Cargo.lock
Due: none

fix(py): test
  py-rattler/tests/unit/test_add_headers_middleware.py
Due: none

fix: issue when run_exports.json is not in sync with the repodata (#2014)
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/run_exports_extractor.rs
  test-data/channels/openssl-run-exports-test/linux-64/repodata.json
  test-data/channels/openssl-run-exports-test/linux-64/run_exports.json
Due: fmt, clippy, test

feat: Add CACHEDIR.TAG to environments and global cache (#2011)
  crates/rattler-bin/src/commands/create.rs
  crates/rattler/src/install/clobber_registry.rs
  crates/rattler/src/install/unlink.rs
  crates/rattler_cache/src/lib.rs
  crates/rattler_conda_types/src/backup.rs
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/prefix.rs
Due: fmt, clippy, test

feat(py): middleware to inject headers into requests made by rattler (#2006)
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pyproject.toml
  py-rattler/rattler/networking/__init__.py
  py-rattler/rattler/networking/client.py
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/networking/middleware.py
  py-rattler/src/lib.rs
  py-rattler/src/networking/client.rs
  py-rattler/src/networking/middleware.rs
  py-rattler/tests/unit/test_add_headers_middleware.py
Due: fmt, clippy, test

Expose archspec in py-rattler
  py-rattler/rattler/virtual_package/virtual_package.py
  py-rattler/src/virtual_package.rs
  py-rattler/tests/unit/test_override.py
Due: fmt, clippy, test

Also enforce io concurrency in installer
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

feat(py): expose archspec in virtual package overrides (#2019)
  py-rattler/rattler/virtual_package/virtual_package.py
  py-rattler/src/virtual_package.rs
  py-rattler/tests/unit/test_override.py
Due: fmt, clippy, test

refactor: rename exceptions to follow Error suffix convention
  py-rattler/rattler/version/version.py
  py-rattler/src/error.rs
  py-rattler/src/lib.rs
Due: fmt, clippy, test

update lockfile
  pixi.lock
Due: none

use default-features = false in rattler_cache dependencies
  crates/rattler_repodata_gateway/Cargo.toml
Due: none

build: Ensure rustls is not part of packages when using native-tls feature
  crates/rattler/Cargo.toml
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_solve/Cargo.toml
  lefthook.yaml
  scripts/check-native-tls-no-rustls.sh
  tools/create-resolvo-snapshot/Cargo.toml
Due: check-yaml

WIP
  crates/rattler/Cargo.toml
  crates/rattler_cache/Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
Due: none

WIP
  scripts/check-native-tls-no-rustls.sh
Due: none

in pre-commit stage
  lefthook.yaml
Due: check-yaml

WIP
  lefthook.yaml
Due: check-yaml

Update check-native-tls-no-rustls.sh
  scripts/check-native-tls-no-rustls.sh
Due: none

WIP
  crates/rattler_index/Cargo.toml
Due: none

wip
  crates/rattler/Cargo.toml
  crates/rattler_cache/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
Due: none

WIP
  crates/rattler/Cargo.toml
  crates/rattler_cache/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_solve/Cargo.toml
Due: none

wip
  lefthook.yaml
  scripts/check-native-tls.sh
Due: check-yaml

wip
  Cargo.lock
  Cargo.toml
  crates/rattler_upload/Cargo.toml
  scripts/check-native-tls.sh
Due: none

WIP
  crates/rattler_upload/Cargo.toml
Due: none

feat: record index of pypi packages in the lockfile
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v6/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/pypi.rs
Due: fmt, clippy, test

misc: fix import
  crates/rattler_lock/src/parse/deserialize.rs
Due: fmt, clippy, test

misc: sort without index
  crates/rattler_lock/src/pypi.rs
Due: fmt, clippy, test

fix: Ignore CONDA_SHLVL in tests (#2029)
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_shell/src/activation.rs
  crates/rattler_shell/src/snapshots/rattler_shell__activation__tests__after_activation.snap
Due: fmt, clippy, test

file-cas
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler/src/install/mod.rs
  crates/rattler/src/install/test_utils.rs
  crates/rattler/src/install/unlink.rs
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_cache/src/validation.rs
  crates/rattler_cas/Cargo.toml
  crates/rattler_cas/src/lib.rs
  crates/rattler_cas/src/sync_writer.rs
  crates/rattler_cas/src/writer.rs
  crates/rattler_cas_tar/Cargo.toml
  crates/rattler_cas_tar/src/lib.rs
  crates/rattler_conda_types/src/package/about.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/run_exports.rs
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/benches/extraction_benchmark.rs
  crates/rattler_package_streaming/src/cas.rs
  crates/rattler_package_streaming/src/fs.rs
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/read.rs
  crates/rattler_package_streaming/src/reqwest/tokio.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  crates/rattler_package_streaming/src/tokio/fs.rs
  crates/rattler_package_streaming/tests/extract.rs
  crates/rattler_package_streaming/tests/write.rs
  crates/rattler_upload/src/upload/package.rs
  py-rattler/Cargo.lock
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/package_streaming/mod.rs
Due: fmt, clippy, test

split
  Cargo.toml
Due: none

fix: Ignore CONDA_SHLVL in tests (#2029)
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_menuinst/src/linux.rs
  crates/rattler_shell/src/activation.rs
  crates/rattler_shell/src/snapshots/rattler_shell__activation__tests__after_activation.snap
Due: fmt, clippy, test

fix: build
  crates/rattler_cas/src/lib.rs
Due: fmt, clippy, test

paths version 2 support
  crates/rattler/src/install/link.rs
  crates/rattler/src/install/snapshots/rattler__install__link__test__replace_long_prefix_in_text_file_offsets.snap
  crates/rattler_cache/src/validation.rs
  crates/rattler_conda_types/src/package/paths.rs
  crates/rattler_conda_types/src/package/snapshots/rattler_conda_types__package__paths__test__deserialize_paths_json_v2.snap
Due: fmt, clippy, test

fix: formatting
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler/src/install/unlink.rs
  crates/rattler_cas/src/lib.rs
  crates/rattler_cas_tar/src/lib.rs
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/reqwest/tokio.rs
  crates/rattler_upload/src/upload/package.rs
Due: fmt, clippy, test

fixing lint error's
  crates/rattler/src/install/link.rs
  crates/rattler_cache/src/validation.rs
  crates/rattler_conda_types/src/package/paths.rs
Due: fmt, clippy, test
