Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

refactor: rewrite SourceTimestamps ser/de using serde-untagged (#2329)
  Cargo.lock
  crates/rattler_lock/Cargo.toml
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-timestamps-map-lock.yml.snap
  crates/rattler_lock/src/source_timestamps.rs
  test-data/conda-lock/v7/source-timestamps-map-lock.yml
Due: check-yaml, fmt, clippy, test

Added a getting started explainer to README
  README.md
Due: none

fix!(rattler_lock): Lockfile version bump
  crates/rattler_lock/Cargo.toml
Due: none

Made rattler the default cargo crate
  Cargo.toml
Due: none

Made rattler the default cargo crate
  Cargo.toml
  README.md
Due: none

removing rattler-bin from workspace packages
  Cargo.toml
Due: none

updating README
  README.md
Due: none

fix!: Fix rattler_lock version to 0.28.0
  crates/rattler_lock/Cargo.toml
Due: none

Revert "fix!: Fix rattler_lock version to 0.28.0 (#2338)"
  crates/rattler_lock/Cargo.toml
Due: none

Revert "fix!: Lockfile version bump (#2335)"
  crates/rattler_lock/Cargo.toml
Due: none

refactor: Move common data out of specializations
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

refactor!: Remove timestamps from package API
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-timestamps-map-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  crates/rattler_lock/src/source_timestamps.rs
  crates/rattler_lock/src/utils/serde/mod.rs
Due: fmt, clippy, test

refactor!: Remove Full sourcecode metadata
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

feat(solve): add cancellation token for in-flight solves
  crates/rattler_solve/benches/sorting_bench.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/sorting.rs
  py-rattler/src/solver.rs
  tools/create-resolvo-snapshot/src/main.rs
Due: fmt, clippy, test

Allow compilation on NetBSD
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

Fix macOS CI failure
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

Satisfy CI, use edition 2021
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

refactor!: Cleanups in rattler_lock (#2341)
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__source_identifier__tests__compute_test_data_hashes.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__sources-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__derived-channel-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-rev-only-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-git-tag-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-pinned-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pixi-build-url-source-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-package-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__source-timestamps-map-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lock.yml.snap
  crates/rattler_lock/src/source_identifier.rs
  crates/rattler_lock/src/source_timestamps.rs
  crates/rattler_lock/src/utils/serde/mod.rs
Due: fmt, clippy, test

refactor!: Use a newtype for environment indices
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
Due: fmt, clippy, test

refactor: Add a PlatformIndex
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/platform.rs
Due: fmt, clippy, test

refactor: Some clippy cleanups
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/platform.rs
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_upload/src/upload/cloudsmith.rs
Due: fmt, clippy, test

refactor!: Have one se of packages in Lockfile
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  py-rattler/Cargo.lock
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

ci: bump taiki-e/install-action to v2.75.15 and release-plz/action to v0.5.128
  .github/workflows/release-rust.yaml
  .github/workflows/rust-compile.yml
Due: check-yaml

refactor!: Clean-ups in rattler (#2345)
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_conda_types/src/match_spec/condition.rs
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/platform.rs
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/mod.rs
  crates/rattler_upload/src/upload/cloudsmith.rs
  py-rattler/Cargo.lock
  py-rattler/src/lock/mod.rs
Due: fmt, clippy, test

fix: simplify platform handling introduced #2343
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

Another try
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

remove leftovers and add comment
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

feat(rattler_lock): builder API for source packages with build/host environments
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
Due: fmt, clippy, test

feat(rattler_lock): add SourceData field to source packages
  crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/legacy.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/pypi.rs
  crates/rattler_lock/src/source_identifier.rs
Due: fmt, clippy, test

feat(rattler_lock): add `LockedPackage::selector_id` and use it for environment selectors
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__packages_for_platform-2.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__packages_for_platform.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__numpy-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__pypi-matplotlib-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__python-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__flat-index-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_custom_index.yml.snap
Due: fmt, clippy, test

feat(rattler_lock): introduce EnvironmentPackages and PackageHandle
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__packages_for_platform-2.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__packages_for_platform.snap
Due: fmt, clippy, test

feat(rattler_lock): serialize source_data.build_packages/host_packages in v7 YAML
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/mod.rs
  crates/rattler_lock/src/parse/models/v7/pypi_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/serialize.rs
Due: fmt, clippy, test

test(rattler_lock): end-to-end test for source packages with build/host environments
  crates/rattler_lock/src/builder.rs
Due: fmt, clippy, test

refactor(rattler_lock): sort the top-level packages list by selector id
  crates/rattler_lock/src/parse/serialize.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__numpy-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__pypi-matplotlib-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v0__python-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v3__robostack-turtlesim-conda-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__numpy-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__path-based-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__pypi-matplotlib-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__python-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v4__turtlesim-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v5__flat-index-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v6__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__conda-path-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__multiple-source-packages-with-variants-lock.yml.snap
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__pypi_relative_url.yml.snap
Due: fmt, clippy, test

docs: add comprehensive raises documentation to py-rattler bindings
  py-rattler/rattler/channel/channel.py
  py-rattler/rattler/channel/channel_config.py
  py-rattler/rattler/index/index.py
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/lock/environment.py
  py-rattler/rattler/lock/lock_file.py
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/networking/client.py
  py-rattler/rattler/package/package_name.py
  py-rattler/rattler/prefix/prefix_record.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/rattler/shell/shell.py
  py-rattler/rattler/solver/solver.py
  py-rattler/rattler/version/version.py
  py-rattler/rattler/virtual_package/virtual_package.py
Due: none

docs: resolve reviewer feedback and document exceptions accurately
  py-rattler/rattler/channel/channel.py
  py-rattler/rattler/channel/channel_config.py
  py-rattler/rattler/index/index.py
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/lock/environment.py
  py-rattler/rattler/lock/lock_file.py
  py-rattler/rattler/match_spec/match_spec.py
  py-rattler/rattler/match_spec/nameless_match_spec.py
  py-rattler/rattler/networking/client.py
  py-rattler/rattler/package/package_name.py
  py-rattler/rattler/prefix/prefix_record.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/rattler/repo_data/repo_data.py
  py-rattler/rattler/repo_data/sparse.py
  py-rattler/rattler/shell/shell.py
  py-rattler/rattler/solver/solver.py
  py-rattler/rattler/version/version.py
  py-rattler/rattler/virtual_package/virtual_package.py
Due: none
