Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

refactor: optimize path resolver (#1611)
  Cargo.lock
  crates/path_resolver/Cargo.toml
  crates/path_resolver/benches/path_resolver_bench.rs
  crates/path_resolver/src/lib.rs
  crates/rattler/src/install/clobber_registry.rs
Due: fmt, clippy, test

fix: reduce overhead if transaction is empty
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

chore(rattler_upload): release v0.2.0
  Cargo.lock
  Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
Due: none

fix: issues
  crates/rattler/src/install/clobber_registry.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/link_script.rs
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

fix: remove dbg!
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix: remove clones from transaction
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

fix: typo
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

rename
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

fix: compiler error
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

perf(rattler): reduce overhead if transaction is empty (#1613)
  crates/rattler/src/install/clobber_registry.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/link_script.rs
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

fix some compilation errorrs
  .github/workflows/rust-compile.yml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_solve/Cargo.toml
  crates/rattler_solve/src/resolvo/mod.rs
Due: check-yaml, fmt, clippy, test

feat: login success with username return
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

fix: fix logout
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

fmt
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

feat: derive default credentials from aws sdk
  Cargo.lock
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
Due: fmt, clippy, test

fix: cleanup unused features
  Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_networking/Cargo.toml
Due: none

refactor: optimize transaction operations
  Cargo.lock
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/transaction.rs
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
Due: fmt, clippy, test

fix comments
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/transaction.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  js-rattler/Cargo.lock
  py-rattler/Cargo.lock
Due: fmt, clippy, test

fmt
  crates/rattler_upload/src/utils/server_util.rs
Due: fmt, clippy, test

fix: unchanged ignored ignored packages
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

fix: ignore unchanged ignored packages (#1616)
  crates/rattler/src/install/transaction.rs
Due: fmt, clippy, test

chore: release
  Cargo.lock
  Cargo.toml
  crates/path_resolver/CHANGELOG.md
  crates/path_resolver/Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
Due: none

fix comments
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/transaction.rs
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
Due: fmt, clippy, test

chore: release (#1614)
  Cargo.lock
  Cargo.toml
  crates/path_resolver/CHANGELOG.md
  crates/path_resolver/Cargo.toml
  crates/rattler/CHANGELOG.md
  crates/rattler/Cargo.toml
  crates/rattler_index/CHANGELOG.md
  crates/rattler_index/Cargo.toml
  crates/rattler_upload/CHANGELOG.md
  crates/rattler_upload/Cargo.toml
Due: none

chore: support binary functionality test
  build_and_run.sh
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/Cargo.toml
  crates/rattler/src/bin/test_login.rs
Due: fmt, clippy, test

fmt
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler/src/bin/test_login.rs
Due: fmt, clippy, test

lint
  build_and_run.sh
Due: none

fix: enable using s3 default credentials with s3middelware
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
  js-rattler/Cargo.lock
Due: fmt, clippy, test

lint
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler/src/bin/test_login.rs
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

fix(menuinst): correct environment variable quoting on Linux
  crates/rattler_menuinst/src/linux.rs
Due: fmt, clippy, test

chore: bench serial package record read
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
Due: fmt, clippy, test

upload and fetch too
  Cargo.lock
  Cargo.toml
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/menu.rs
  crates/rattler-bin/src/commands/virtual_packages.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_upload/Cargo.toml
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/s3.rs
Due: fmt, clippy, test

fix: dont error on precondition failure
  crates/rattler_index/src/lib.rs
  crates/rattler_upload/src/upload/s3.rs
Due: fmt, clippy, test

fix: test compilation and pre-commit
  Cargo.toml
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_upload/Cargo.toml
  py-rattler/Cargo.lock
  py-rattler/README.md
Due: fmt, clippy, test

fix: README
  py-rattler/README.md
Due: none

fix: update py-rattler
  py-rattler/rattler/index/index.py
  py-rattler/src/index.rs
Due: fmt, clippy, test

test: add minio test
  .github/workflows/e2e-s3-tests.yml
Due: check-yaml

test: use github actions
  .github/workflows/e2e-s3-tests.yml
  .gitignore
Due: check-yaml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
