Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix(rattler_pty): add openbsd ptsname_r shim
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

test
  py-rattler/tests/unit/test_package_streaming.py
Due: none

make setup_logging idempotent
  py-rattler/docs/logging.md
  py-rattler/rattler/__init__.py
  py-rattler/src/lib.rs
  py-rattler/tests/unit/test_package_streaming.py
Due: fmt, clippy, test

fix
  py-rattler/src/lib.rs
  py-rattler/tests/unit/test_package_streaming.py
Due: fmt, clippy, test

feat: default OAuth flow to device-code (#2521)
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
Due: fmt, clippy, test

fix: coalesce concurrent OAuth token refresh (#2522)
  Cargo.lock
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/authentication_storage/storage.rs
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/oauth_refresh.rs
Due: fmt, clippy, test

feat: add solve command and create platform option
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

instrument
  crates/rattler_package_streaming/src/reqwest/fetch.rs
Due: fmt, clippy, test

fix: add openbsd `ptsname_r` shim to `rattler_pty` (#2524)
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

fix test
  py-rattler/tests/unit/test_package_streaming.py
Due: none

WIP
  py-rattler/pixi.toml
Due: none

ci: Use trusted publishing for rattler crates
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yaml
Due: check-yaml

WIP
  pixi.lock
Due: none

WIP
  py-rattler/pixi.lock
Due: none

WIP
  py-rattler/Cargo.lock
Due: none

chore: Update lockfile for pixi 0.71.0
  pixi.lock
Due: none

chore: Update lockfile for pixi 0.71.0 (#2530)
  pixi.lock
Due: none

WIP
  py-rattler/rattler/lock/lock_file.py
Due: none

WIP
  py-rattler/pixi.lock
  py-rattler/pyproject.toml
Due: none

crelease environment
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yaml
Due: check-yaml

fix
  py-rattler/scripts/ensure-version-synced.nu
Due: none

?
  .github/workflows/release-python.yml
Due: check-yaml

ci(py): bump ppc64le/ppc64 test wheel distro to ubuntu22.04
  .github/workflows/release-python.yml
Due: check-yaml

release-python.yml aktualisieren
  .github/workflows/release-python.yml
Due: check-yaml

chore(py): Add pixi-build (#2197)
  .github/workflows/release-python.yml
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  py-rattler/pyproject.toml
  py-rattler/scripts/ensure-version-synced.nu
Due: check-yaml

fix: add `ptsname_r` on Android compilation
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

feat: drop expired OAuth credentials and surface a re-auth error
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/oauth_refresh.rs
Due: fmt, clippy, test

feat: add solve command and create platform option (#2528)
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

feat(networking): surface AuthenticationExpired for unrecoverable OAuth logins
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/lib.rs
Due: fmt, clippy, test

fix: add `ptsname_r` on Android compilation (#2533)
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

feat: add offline mode to rattler CLI
  crates/rattler-bin/src/commands/auth.rs
  crates/rattler-bin/src/commands/client.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/download.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/lib.rs
  crates/rattler_networking/src/offline_middleware.rs
Due: fmt, clippy, test

fix: satisfy clippy for offline mode
  crates/rattler-bin/src/commands/exec.rs
Due: fmt, clippy, test

feat(rattler-bin): symmetric local/remote conda package support
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/prefix.rs
Due: fmt, clippy, test
