Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

fix: respect force option when uploading to Quetz
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
Due: fmt, clippy, test

test: Switch from minio to rustfs (#2802)
  .github/workflows/e2e-s3-tests.yml
  pixi.lock
  pixi.toml
  scripts/e2e/s3-minio.nu
  scripts/e2e/s3-rustfs.nu
Due: check-yaml

fix: respect force option when uploading to Quetz (#2816)
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
Due: fmt, clippy, test

feat(rattler_index): Write indexed_timestamp (#2797)
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
  crates/rattler_index/tests/integration/indexed_timestamp.rs
  crates/rattler_index/tests/integration/mod.rs
Due: fmt, clippy, test

add py314t test for py-rattler
  py-rattler/pixi.toml
Due: none

feat(rattler-bin): prototype `rattler skill` command generated from clap
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/skill.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

wip
  pixi-variants.md
Due: none

fix: report OCI sharded repodata as a 404 instead of erroring
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

fix: cap aws-smithy-types below 1.7 to keep aws-smithy-json building
  Cargo.lock
  Cargo.toml
  crates/rattler_s3/Cargo.toml
  py-rattler/Cargo.lock
Due: none

fix(networking): narrow unsupported shard detection
  crates/rattler_networking/src/oci_middleware.rs
Due: fmt, clippy, test

feat(rattler-bin): make `rattler skill` a curated hybrid under 500 lines
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/skill.rs
  crates/rattler-bin/src/commands/skill_preamble.md
Due: fmt, clippy, test

refactor(rattler-bin): `rattler skill` only prints to stdout
  crates/rattler-bin/src/commands/skill.rs
Due: fmt, clippy, test

feat(rattler-bin): add `--help` examples to more commands and snapshot the skill
  crates/rattler-bin/src/commands/compare_packages.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/download.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/commands/shell_hook.rs
  crates/rattler-bin/src/commands/skill_preamble.md
  crates/rattler-bin/tests/cli.rs
  crates/rattler-bin/tests/snapshots/cli__skill.snap
Due: fmt, clippy, test

fix(git): keep cache database housekeeping in the foreground
  crates/rattler_git/Cargo.toml
  crates/rattler_git/src/git.rs
  crates/rattler_git/src/source.rs
  crates/rattler_git/tests/checkout.rs
Due: fmt, clippy, test

feat(python): expose checked and unchecked build strings
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  py-rattler/CHANGELOG.md
  py-rattler/docs/build_string.md
  py-rattler/mkdocs.yml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/package/__init__.py
  py-rattler/rattler/package/build_string.py
  py-rattler/rattler/package/index_json.py
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/rattler/virtual_package/generic.py
  py-rattler/src/build_string.rs
  py-rattler/src/generic_virtual_package.rs
  py-rattler/src/index_json.rs
  py-rattler/src/lib.rs
  py-rattler/src/record.rs
  py-rattler/tests/unit/test_build_string.py
  py-rattler/tests/unit/test_package_record.py
  py-rattler/tests/unit/test_whl_package_record.py
Due: fmt, clippy, test

feat(js): expose checked and unchecked build strings
  js-rattler/CHANGELOG.md
  js-rattler/README.md
  js-rattler/crate/build_string.rs
  js-rattler/crate/error.rs
  js-rattler/crate/lib.rs
  js-rattler/crate/package_record.rs
  js-rattler/e2e/main.cjs
  js-rattler/e2e/main.mjs
  js-rattler/src/BuildString.test.ts
  js-rattler/src/PackageRecord.ts
  js-rattler/src/RattlerError.ts
  js-rattler/src/index.ts
Due: fmt, clippy, test

feat(auth): support command-triggered incremental OAuth grants
  crates/rattler/CHANGELOG.md
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
  crates/rattler/src/cli/auth/oauth/scopes.rs
  crates/rattler/src/cli/auth/oauth/scopes/tests.rs
Due: fmt, clippy, test

feat(auth)!: make custom OAuth scopes additive
  crates/rattler/CHANGELOG.md
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
  crates/rattler/src/cli/auth/oauth/scopes.rs
  crates/rattler/src/cli/auth/oauth/scopes/tests.rs
  crates/rattler/src/cli/auth/scope_tests.rs
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/authentication_storage/authentication.rs
  crates/rattler_networking/src/authentication_storage/authentication/tests.rs
  crates/rattler_networking/src/oauth_refresh.rs
Due: fmt, clippy, test

fix(auth): preserve grants across lookup and OIDC edge cases
  crates/rattler/CHANGELOG.md
  crates/rattler/src/cli/auth.rs
  crates/rattler/src/cli/auth/oauth.rs
  crates/rattler/src/cli/auth/oauth/scopes.rs
  crates/rattler/src/cli/auth/oauth/scopes/tests.rs
  crates/rattler/src/cli/auth/review_regression_tests.rs
  crates/rattler/src/cli/auth/scope_tests.rs
  crates/rattler_networking/CHANGELOG.md
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/authentication_storage/authentication.rs
  crates/rattler_networking/src/authentication_storage/authentication/tests.rs
  crates/rattler_networking/src/authentication_storage/storage.rs
  crates/rattler_networking/src/oauth_refresh.rs
Due: fmt, clippy, test

fix: replace existing files instead of overwriting them when copying
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

fix: use sigstore-rust 0.12 release
  Cargo.lock
  Cargo.toml
  crates/rattler_sigstore/src/verify.rs
Due: fmt, clippy, test

feat: add standalone Sigstore attestation verification (#2794)
  Cargo.lock
  Cargo.toml
  README.md
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/verify_attestation.rs
  crates/rattler-bin/src/main.rs
  crates/rattler-bin/src/publisher_args.rs
  crates/rattler_sigstore/Cargo.toml
  crates/rattler_sigstore/src/error.rs
  crates/rattler_sigstore/src/lib.rs
  crates/rattler_sigstore/src/policy.rs
  crates/rattler_sigstore/src/sidecar.rs
  crates/rattler_sigstore/src/verify.rs
  crates/rattler_sigstore/test-data/actionlint-1.7.12-h60d57d3_0.conda.sigs
  crates/rattler_sigstore/tests/verify.rs
Due: fmt, clippy, test

refactor(rattler-bin): reuse publisher arguments
  crates/rattler-bin/src/attestation_args.rs
Due: fmt, clippy, test

feat(rattler-bin): verify solved package attestations
  crates/rattler-bin/src/attestation_args.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/solve.rs
Due: fmt, clippy, test

feat: integrate Sigstore verification into installation
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/attestation_args.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/Cargo.toml
  crates/rattler/src/install/installer/error.rs
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix(rattler): verify attestations before transactions
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix(rattler): respect concurrency limits during attestation verification
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix typo
  crates/rattler_sigstore/CHANGELOG.md
Due: none

feat: integrate Sigstore verification into installation (#2795)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/attestation_args.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/solve.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/Cargo.toml
  crates/rattler/src/install/installer/error.rs
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

fix(py-rattler): lock sigstore-rust 0.12 release
  py-rattler/Cargo.lock
Due: none

feat(py-rattler): add Sigstore verification bindings
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/docs/attestation_error.md
  py-rattler/docs/sigstore.md
  py-rattler/mkdocs.yml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/exceptions.py
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/sigstore/__init__.py
  py-rattler/rattler/sigstore/sigstore.py
  py-rattler/src/error.rs
  py-rattler/src/exceptions.rs
  py-rattler/src/installer.rs
  py-rattler/src/lib.rs
  py-rattler/src/sigstore.rs
  py-rattler/tests/unit/test_sigstore.py
Due: fmt, clippy, test

fix: only remove an existing destination after the first attempt fails
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

feat(rattler-bin): add `rattler skill` command that prints an agent skill (#2820)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/compare_packages.rs
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/download.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/fetch_file.rs
  crates/rattler-bin/src/commands/inspect.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/commands/shell_hook.rs
  crates/rattler-bin/src/commands/skill.rs
  crates/rattler-bin/src/commands/skill_preamble.md
  crates/rattler-bin/src/main.rs
  crates/rattler-bin/tests/cli.rs
  crates/rattler-bin/tests/snapshots/cli__skill.snap
Due: fmt, clippy, test

docs(py-rattler): add pages for undocumented public API
  py-rattler/docs/archive_entry.md
  py-rattler/docs/channel_priority.md
  py-rattler/docs/explicit_environment_entry.md
  py-rattler/docs/explicit_environment_spec.md
  py-rattler/docs/lock_channel.md
  py-rattler/docs/lock_platform.md
  py-rattler/docs/no_arch_type.md
  py-rattler/docs/package_archive.md
  py-rattler/docs/package_name_matcher.md
  py-rattler/docs/package_streaming.md
  py-rattler/docs/pty_process.md
  py-rattler/docs/pty_process_options.md
  py-rattler/docs/pty_session.md
  py-rattler/docs/repo_data_source.md
  py-rattler/docs/version_spec.md
  py-rattler/mkdocs.yml
  py-rattler/rattler/lock/channel.py
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/package/no_arch_type.py
  py-rattler/rattler/platform/platform.py
  py-rattler/rattler/prefix/prefix_record.py
Due: none

docs(py-rattler): add pages for undocumented public API (#2829)
  py-rattler/docs/archive_entry.md
  py-rattler/docs/channel_priority.md
  py-rattler/docs/explicit_environment_entry.md
  py-rattler/docs/explicit_environment_spec.md
  py-rattler/docs/lock_channel.md
  py-rattler/docs/lock_platform.md
  py-rattler/docs/no_arch_type.md
  py-rattler/docs/package_archive.md
  py-rattler/docs/package_name_matcher.md
  py-rattler/docs/package_streaming.md
  py-rattler/docs/pty_process.md
  py-rattler/docs/pty_process_options.md
  py-rattler/docs/pty_session.md
  py-rattler/docs/repo_data_source.md
  py-rattler/docs/version_spec.md
  py-rattler/mkdocs.yml
  py-rattler/rattler/lock/channel.py
  py-rattler/rattler/networking/fetch_repo_data.py
  py-rattler/rattler/package/no_arch_type.py
  py-rattler/rattler/platform/platform.py
  py-rattler/rattler/prefix/prefix_record.py
Due: none

fix: load optional dependencies from sparse repodata
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_solve/tests/backends/main.rs
Due: fmt, clippy, test

feat(py-rattler): add Sigstore verification bindings (#2814)
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/docs/attestation_error.md
  py-rattler/docs/sigstore.md
  py-rattler/mkdocs.yml
  py-rattler/rattler/__init__.py
  py-rattler/rattler/exceptions.py
  py-rattler/rattler/install/installer.py
  py-rattler/rattler/sigstore/__init__.py
  py-rattler/rattler/sigstore/sigstore.py
  py-rattler/src/error.rs
  py-rattler/src/exceptions.rs
  py-rattler/src/installer.rs
  py-rattler/src/lib.rs
  py-rattler/src/sigstore.rs
  py-rattler/tests/unit/test_sigstore.py
Due: fmt, clippy, test

feat(rattler_solve): Use indexed_timestamp in exclude-newer (#2798)
  crates/rattler-bin/src/solver_args.rs
  crates/rattler_solve/src/lib.rs
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_solve/tests/backends/min_age_tests.rs
  crates/rattler_solve/tests/backends/timestamp_policy_tests.rs
  py-rattler/docs/solver.md
  py-rattler/rattler/solver/__init__.py
  py-rattler/rattler/solver/solver.py
  py-rattler/src/solver.rs
  py-rattler/tests/unit/test_solver.py
Due: fmt, clippy, test

fix(index): stop advertising the legacy layout as "v0" (#2785)
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

fix(git): keep cache database housekeeping in the foreground (#2824)
  crates/rattler_git/Cargo.toml
  crates/rattler_git/src/git.rs
  crates/rattler_git/src/source.rs
  crates/rattler_git/tests/checkout.rs
Due: fmt, clippy, test
