Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

fix: report download completion before extraction
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/reqwest/tokio.rs
Due: fmt, clippy, test

Allow build on illumos for rattler_pty
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

fix: Allow build on illumos for rattler_pty (#2635)
  crates/rattler_pty/src/unix/pty_process.rs
Due: fmt, clippy, test

fix(ci): drop unneeded azurite --skipApiVersionCheck and correct its rationale
  .github/workflows/e2e-azure-tests.yml
  crates/rattler_index/tests/azure_azurite.rs
  crates/rattler_networking/tests/azure_azurite_fetch.rs
Due: check-yaml, fmt, clippy, test

refactor(ci): run azurite as a service container with a health check
  .github/workflows/e2e-azure-tests.yml
Due: check-yaml

refactor(bin): gate attestation behind a feature instead of the dependency line
  crates/rattler-bin/Cargo.toml
Due: none

refactor(bin): drop attestation feature, keep sigstore-sign on the dependency line
  crates/rattler-bin/Cargo.toml
Due: none

fix(config): refuse cleartext grants to routable hosts and colliding host keys
  crates/rattler_config/src/config.rs
  crates/rattler_config/src/config/azure.rs
  crates/rattler_config/tests/compat.rs
Due: fmt, clippy, test

feat(azure): accept path_style as an alias for path-style
  crates/rattler_azure/src/options.rs
Due: fmt, clippy, test

fix(networking): gate the auth store to http and https
  crates/rattler_networking/src/authentication_middleware.rs
  crates/rattler_networking/src/azure_middleware.rs
Due: fmt, clippy, test

revert(gateway): drop the shard-index Cache-Control synthesis
  crates/rattler_repodata_gateway/src/gateway/sharded_subdir/tokio/index.rs
Due: fmt, clippy, test

fix(index): scope the url import to s3 and drop the dead typos entry
  crates/rattler_index/src/lib.rs
  typos.toml
Due: fmt, clippy, test

docs: correct false claims in the azure docs and comments
  crates/rattler_index/README.md
  crates/rattler_index/tests/azure_azurite.rs
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/azure.rs
  py-rattler/rattler/networking/middleware.py
Due: fmt, clippy, test

docs: trim comments that do not carry their weight
  .github/workflows/e2e-azure-tests.yml
  crates/rattler-bin/src/commands/client.rs
  crates/rattler_azure/src/clap.rs
  crates/rattler_azure/src/lib.rs
Due: check-yaml, fmt, clippy, test

refactor: hold azure credentials in secrecy::SecretString
  Cargo.lock
  Cargo.toml
  crates/rattler_azure/Cargo.toml
  crates/rattler_azure/src/clap.rs
  crates/rattler_azure/src/lib.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/azure_azurite.rs
  crates/rattler_upload/src/upload/azure.rs
Due: fmt, clippy, test

feat: add `lfs` field to git source locations in the lock file (#2633)
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/models/v6/source_data.rs
  crates/rattler_lock/src/parse/models/v7/source_data.rs
  crates/rattler_lock/src/snapshots/rattler_lock__test__v7__sources-lfs-lock.yml.snap
  crates/rattler_lock/src/source.rs
  crates/rattler_lock/src/source_identifier.rs
  test-data/conda-lock/v7/sources-lfs-lock.yml
Due: check-yaml, fmt, clippy, test

feat: add CEP-6 channel notices to repodata gateway
  crates/rattler_conda_types/src/channel_notice.rs
  crates/rattler_conda_types/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/channel_notices.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  crates/rattler_repodata_gateway/src/lib.rs
  crates/rattler_repodata_gateway/src/reporter.rs
Due: fmt, clippy, test

feat(index): publish CEP-6 channel notices
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

fix: use CEP-6 expires_at field
  crates/rattler_conda_types/src/channel_notice.rs
  crates/rattler_config/src/config/index.rs
  crates/rattler_index/tests/integration/basic_indexing.rs
Due: fmt, clippy, test

fix: harden channel notice handling
  crates/rattler_index/src/lib.rs
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/channel_notices.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
Due: fmt, clippy, test

feat: expose channel notices in Python and JavaScript
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  py-rattler/rattler/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/lib.rs
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

fix: update pixi build backend
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
Due: none

fix: allow current pixi build backend
  pixi.toml
Due: none

test: update config snapshots for channel notices
  crates/rattler_config/tests/snapshots/compat__parse__deprecated-and-unknown.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__kitchen-sink.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__override-layer.toml.snap
  crates/rattler_config/tests/snapshots/compat__parse__snake-case-aliases.toml.snap
Due: none

fix(rattler_git): harden LFS checkouts and add path filters
  crates/rattler_git/src/git.rs
  crates/rattler_git/src/lib.rs
  crates/rattler_git/src/source.rs
  crates/rattler_git/tests/lfs.rs
Due: fmt, clippy, test

chore: update pixi-build-rust backend requirement
  crates/rattler-bin/pixi.toml
  crates/rattler_index/pixi.toml
Due: none

fix: exempt pixi-build-rust from exclude-newer
  pixi.toml
Due: none

feat: add PackageArchive for sparse reads from conda packages (#2632)
  Cargo.lock
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_package_streaming/src/archive.rs
  crates/rattler_package_streaming/src/lib.rs
  crates/rattler_package_streaming/src/reqwest/fetch.rs
  crates/rattler_package_streaming/src/reqwest/full_download.rs
  crates/rattler_package_streaming/src/reqwest/mod.rs
  crates/rattler_package_streaming/src/reqwest/sparse.rs
  crates/rattler_package_streaming/src/reqwest/test_server.rs
  crates/rattler_package_streaming/src/tokio/async_read.rs
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
  py-rattler/rattler/package_streaming/__init__.py
  py-rattler/src/lib.rs
  py-rattler/src/package_streaming/archive.rs
  py-rattler/src/package_streaming/mod.rs
  py-rattler/tests/unit/test_package_archive.py
  test-data/sparse/dotslash-test-1.0.0-0.conda
  test-data/sparse/generate.py
  test-data/sparse/info-only-1.0.0-0.conda
  test-data/sparse/sparse-test-1.0.0-0.conda
  test-data/sparse/symlink-test-1.0.0-0.conda
  test-data/sparse/zip64-test-1.0.0-0.conda
Due: fmt, clippy, test

fix: surface notices from all queried channels
  crates/rattler_repodata_gateway/src/gateway/channel_expander.rs
  crates/rattler_repodata_gateway/src/gateway/channel_notices.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.ts
  py-rattler/rattler/__init__.py
  py-rattler/rattler/repo_data/__init__.py
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

refactor: configure notices per gateway query
  crates/rattler_repodata_gateway/src/gateway/builder.rs
  crates/rattler_repodata_gateway/src/gateway/channel_notices.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/query.rs
  js-rattler/crate/gateway.rs
  js-rattler/src/Gateway.test.ts
  js-rattler/src/Gateway.ts
  py-rattler/rattler/repo_data/gateway.py
  py-rattler/src/repo_data/gateway.rs
  py-rattler/tests/unit/test_gateway.py
Due: fmt, clippy, test

test(git): isolate the lfs fixture from a developer global gitignore
  crates/rattler_git/tests/lfs.rs
Due: fmt, clippy, test

test(azure): assert the outgoing request carries no credential
  crates/rattler_index/tests/azure_azurite.rs
  crates/rattler_networking/tests/azure_azurite_fetch.rs
Due: fmt, clippy, test

refactor(upload): share one streaming blob writer between azure and s3
  crates/rattler_upload/src/upload/azure.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/opt.rs
  crates/rattler_upload/src/upload/s3.rs
Due: fmt, clippy, test

fix(azure): reject rewritten paths, mismatched addressing, and port-lossy coordinates
  crates/rattler_azure/src/clap.rs
  crates/rattler_azure/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_upload/src/lib.rs
Due: fmt, clippy, test

refactor(azure): give the fetch and write paths types that carry only what they use
  crates/rattler_azure/src/clap.rs
  crates/rattler_azure/src/lib.rs
  crates/rattler_azure/src/options.rs
  crates/rattler_config/src/config/azure.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_index/src/main.rs
  crates/rattler_index/tests/azure_azurite.rs
  crates/rattler_networking/src/azure_middleware.rs
  crates/rattler_networking/tests/azure_azurite_fetch.rs
  crates/rattler_networking/tests/azure_real_fetch.rs
  crates/rattler_upload/src/lib.rs
  crates/rattler_upload/src/upload/azure.rs
Due: fmt, clippy, test

fix(azure): refuse path segments that cannot name a blob
  crates/rattler_azure/src/lib.rs
Due: fmt, clippy, test

fix(azure): warn instead of erroring on path-style for a real Azure host
  crates/rattler_azure/Cargo.toml
  crates/rattler_azure/src/lib.rs
Due: fmt, clippy, test

fix(azure): keep the SAS signature out of storage error messages
  Cargo.lock
  crates/rattler_azure/Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_index/src/lib.rs
  crates/rattler_redaction/src/lib.rs
  crates/rattler_upload/src/upload/azure.rs
  crates/rattler_upload/src/upload/mod.rs
  crates/rattler_upload/src/upload/s3.rs
Due: fmt, clippy, test

test(azure): give the emulator tests teeth and stop them vanishing
  .github/workflows/e2e-azure-tests.yml
  crates/rattler_index/Cargo.toml
  crates/rattler_index/tests/azure_azurite.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/tests/azure_azurite_fetch.rs
  crates/rattler_networking/tests/azure_real_fetch.rs
  crates/rattler_upload/src/upload/azure.rs
Due: check-yaml, fmt, clippy, test

fix(azure): say which host and grant a failed credential resolution came from
  crates/rattler_networking/src/azure_middleware.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
