Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

check-yaml:
  name: check-yaml
  entry: pixi run -e lint check-yaml
  language: system
  stages:
  - pre-commit
  - manual

fmt:
  name: fmt
  language: system
  entry: pixi run fmt
  pass_filenames: false
  stages:
  - pre-commit
  - manual

clippy:
  name: clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro
  pass_filenames: false
  stages:
  - pre-commit
  - manual

test:
  name: test
  language: system
  stages:
  - pre-push
  entry: cargo test
  pass_filenames: false

(fix) : name handling in install/installer/mod.rs
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

(fix): made required changes to /rattler_conda/types/src/match_spec/mod.rs and parse.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

(fix): made required changes to /rattler_conda/types/src/match_spec/mod.rs and parse.rs
  crates/rattler_conda_types/src/match_spec/package_name_matcher.rs
Due: fmt, clippy, test

refactor: remove .trash mechanism — FILE_SHARE_DELETE makes it unnecessary
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
Due: fmt, clippy, test

(fix): made required changes to /rattler_conda/types/src/match_spec/mod.rs and parse.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

fix: retry persist with fallback on Windows sharing violations
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
Due: fmt, clippy, test

address review: simplify open_for_mmap, revert persist, targeted test
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_repodata_gateway/src/fetch/with_cache.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
  crates/rattler_repodata_gateway/src/utils/body.rs
Due: fmt, clippy, test

style: apply rustfmt to authentication_middleware
  crates/rattler_networking/src/authentication_middleware.rs
Due: fmt, clippy, test

test(js): increase Jest testTimeout to 60s for network-dependent solve tests
  js-rattler/jest.config.mjs
Due: none

fix(networking): reuse shared client for OAuth token refresh
  crates/rattler_networking/src/authentication_middleware.rs
Due: fmt, clippy, test

(fix): added changes in crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

fix: gate open_for_mmap with #[cfg(any(unix, windows))]
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix(networking): cache GCS OAuth2 token across requests
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/extract.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler_networking/Cargo.toml
  crates/rattler_networking/src/gcs_middleware.rs
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

(fix): crates/rattler_lock/conda.rs
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

chore: get rid of dynamic force-path-style addressing
  crates/rattler_s3/src/clap.rs
Due: fmt, clippy, test

Update crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
Due: fmt, clippy, test

Update crates/rattler_lock/src/conda.rs
  crates/rattler_lock/src/conda.rs
Due: fmt, clippy, test

test: cover PrefixRecord and RepoDataRecord setters
  py-rattler/tests/unit/test_prefix_record.py
Due: none

(fix): incorporated suggestions and changed multiple files.
  crates/rattler_lock/src/conda.rs
  crates/rattler_solve/tests/backends/main.rs
  py-rattler/src/match_spec.rs
  py-rattler/src/solver.rs
Due: fmt, clippy, test

fix: wire RepoDataRecord setters for PyRecord
  py-rattler/rattler/repo_data/record.py
  py-rattler/tests/unit/test_prefix_record.py
Due: none

test(py): verify PrefixRecord and RepoDataRecord setters (#2118)
  py-rattler/rattler/repo_data/record.py
  py-rattler/tests/unit/test_prefix_record.py
Due: none

add pixi-version: "0.64.0" under prefix-dev/setup-pixi
  .github/workflows/rust-compile.yml
  pixi.lock
Due: check-yaml

Add certifi to typos
  typos.toml
Due: none

Add `v`
  .github/workflows/rust-compile.yml
Due: check-yaml

fix py-rattler cache_control parameter for reliable caching is not working as expected
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/tokio.rs
  crates/rattler_repodata_gateway/src/gateway/remote_subdir/wasm.rs
  crates/rattler_repodata_gateway/src/gateway/subdir_builder.rs
Due: fmt, clippy, test

fix lint
  crates/rattler_repodata_gateway/src/gateway/mod.rs
Due: fmt, clippy, test

fixes
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_lock/src/conda.rs
  crates/rattler_repodata_gateway/src/gateway/error.rs
  crates/rattler_repodata_gateway/src/sparse/mod.rs
Due: fmt, clippy, test

fix
  crates/rattler_solve/src/resolvo/mod.rs
Due: fmt, clippy, test

fix
  py-rattler/rattler/match_spec/match_spec.py
Due: none

feat(coalesced_map): add remove() method to CoalescedMap
  crates/coalesced_map/src/lib.rs
Due: fmt, clippy, test

chore: Introduce vouch
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  pixi.lock
  pixi.toml
Due: check-yaml

WIP
  .github/workflows/vouch-manage-by-issue.yml
Due: check-yaml

fix
  .github/workflows/vouch-check-pr.yml
Due: check-yaml

Add Artifactory OIDC M2M and interactive login support
  CHANGELOG.md
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

fix: add JoinError variant to PackageReadError and return error on skipped packages
  crates/rattler_index/src/error.rs
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

fix: resolve auth oidc borrow issue and rustfmt diffs
  crates/rattler/src/cli/auth.rs
Due: fmt, clippy, test

chore: refresh pixi lockfile
  pixi.lock
Due: none

chore: get rid of dynamic force-path-style addressing
  crates/rattler_config/src/config/s3.rs
  crates/rattler_config/src/lib.rs
  crates/rattler_config/src/snapshots/rattler_config__tests__comprehensive_config_edit.snap
  crates/rattler_config/src/snapshots/rattler_config__tests__config_save_roundtrip.snap
  crates/rattler_config/src/snapshots/rattler_config__tests__s3_config_edit.snap
  crates/rattler_config/test-data/config.toml
  crates/rattler_networking/src/s3_middleware.rs
  crates/rattler_networking/tests/s3_integration_test.rs
  crates/rattler_s3/src/clap.rs
  py-rattler/rattler/networking/middleware.py
  py-rattler/src/networking/middleware.rs
Due: fmt, clippy, test

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  fmt: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  clippy: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
  test: any of: \.rs$, but not: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
