Repository conda/rattler: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, fmt, clippy, test

.pre-commit-config.yaml:

# Reason of exclusion:
# js-rattler/src/PackageName.test.ts: complains about valid test names in strings
# py-rattler/mkdocs.yml: complain about invalid constructor for the tag, although it is valid in mkdocs.yaml
exclude: (^.pixi/|.snap|js-rattler/src/PackageName.test.ts|py-rattler/mkdocs.yml)
repos:
  - repo: local
    hooks:
      - id: pixi-install
        name: pixi-install
        entry: pixi install -e lint
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false
        stages: [pre-commit, manual]
      # pre-commit-hooks
      - id: check-yaml
        name: check-yaml
        entry: pixi run -e lint check-yaml
        language: system
        types: [yaml]
        stages: [pre-commit, manual]
      - id: end-of-file
        name: end-of-file
        entry: pixi run -e lint end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: pixi run -e lint trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, manual]
      # Use ruff for python examples
      - id: ruff
        name: ruff
        entry: pixi run -e lint ruff check --fix --exit-non-zero-on-fix --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      - id: ruff-format
        name: ruff-format
        entry: pixi run -e lint ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true
        stages: [pre-commit, manual]
      # typos
      - id: typos
        name: typos
        entry: pixi run -e lint typos --write-changes --force-exclude
        language: system
        types: [text]
        stages: [pre-commit, manual]
  # Copied from Mozilla https://github.com/mozilla/grcov/blob/master/.pre-commit-config.yaml
  - repo: https://github.com/DevinR528/cargo-sort
    rev: v1.0.9
    hooks:
      - id: cargo-sort
  - repo: local
    hooks:
      - id: fmt
        name: fmt
        language: system
        types: [file, rust]
        entry: pixi run fmt
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: clippy
        name: clippy
        language: system
        types: [file, rust]
        entry: cargo clippy --all-targets -- -D warnings -Dclippy::dbg_macro # Use -D warnings option to ensure the job fails when encountering warnings
        pass_filenames: false
        stages: [pre-commit, manual]
      - id: test
        name: test
        language: system
        stages: [pre-push]
        types: [file, rust]
        entry: cargo test
        pass_filenames: false

Document fn matching semantics
  crates/rattler_conda_types/src/match_spec/mod.rs
Due: fmt, clippy, test

further improvements
  crates/rattler-bin/Cargo.toml
  crates/rattler/src/cli/auth.rs
  crates/rattler_networking/src/authentication_storage/backends/keyring.rs
  crates/rattler_networking/src/authentication_storage/backends/memory.rs
  crates/rattler_networking/src/authentication_storage/mod.rs
  crates/rattler_networking/src/authentication_storage/storage.rs
Due: fmt, clippy, test

feat: add FreeBSD powerpc64* platform support
  crates/rattler_conda_types/src/platform.rs
  js-rattler/js/platform.js
  js-rattler/src/Platform.ts
  py-rattler/rattler/platform/platform.py
Due: fmt, clippy, test

feat(conda-types): add BuildString type
  crates/rattler_conda_types/src/package/mod.rs
Due: fmt, clippy, test

refactor(conda-types): tighten BuildString invariants and validation entry points
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/list.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/installer/result_record.rs
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
  crates/rattler_conda_types/src/generic_virtual_package.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/package/build_string.rs
  crates/rattler_conda_types/src/package/mod.rs
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/record_traits.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/source_identifier.rs
  crates/rattler_repodata_gateway/src/gateway/subdir.rs
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/helpers/package_builder.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
  js-rattler/crate/error.rs
  js-rattler/crate/package_record.rs
  js-rattler/crate/solve.rs
  py-rattler/rattler/repo_data/package_record.py
  py-rattler/src/generic_virtual_package.rs
  py-rattler/src/index_json.rs
  py-rattler/src/record.rs
  py-rattler/tests/unit/test_package_record.py
  py-rattler/tests/unit/test_whl_package_record.py
Due: fmt, clippy, test

refactor: use BuildString throughout
  crates/rattler-bin/src/commands/create.rs
  crates/rattler/src/install/installer/result_record.rs
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/mod.rs
  crates/rattler_conda_types/src/generic_virtual_package.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/match_spec/parse.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/package/index.rs
  crates/rattler_conda_types/src/record_traits.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/lib.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v6/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/parse/v3.rs
  crates/rattler_lock/src/source_identifier.rs
  crates/rattler_repodata_gateway/src/gateway/direct_url_query.rs
  crates/rattler_repodata_gateway/src/gateway/mod.rs
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/conditional_tests.rs
  crates/rattler_solve/tests/backends/helpers/package_builder.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
  crates/rattler_virtual_packages/src/lib.rs
  js-rattler/crate/package_record.rs
  js-rattler/crate/solve.rs
  py-rattler/src/generic_virtual_package.rs
  py-rattler/src/index_json.rs
  py-rattler/src/record.rs
Due: fmt, clippy, test

refactor(conda-types): Move from Option<BuildString> to BuildString
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/list.rs
  crates/rattler-bin/src/commands/search.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler/src/install/installer/result_record.rs
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_conda_types/benches/prefix_record_from_path.rs
  crates/rattler_conda_types/src/generic_virtual_package.rs
  crates/rattler_conda_types/src/match_spec/mod.rs
  crates/rattler_conda_types/src/minimal_prefix_record.rs
  crates/rattler_conda_types/src/package/build_string.rs
  crates/rattler_conda_types/src/package/mod.rs
  crates/rattler_conda_types/src/prefix_record.rs
  crates/rattler_conda_types/src/record_traits.rs
  crates/rattler_conda_types/src/repo_data/mod.rs
  crates/rattler_index/src/lib.rs
  crates/rattler_lock/src/builder.rs
  crates/rattler_lock/src/parse/deserialize.rs
  crates/rattler_lock/src/parse/models/v5/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/conda_package_data.rs
  crates/rattler_lock/src/parse/models/v7/source_package_data.rs
  crates/rattler_lock/src/source_identifier.rs
  crates/rattler_solve/src/libsolv_c/input.rs
  crates/rattler_solve/src/resolvo/mod.rs
  crates/rattler_solve/tests/backends/helpers/package_builder.rs
  crates/rattler_solve/tests/backends/helpers/solver_case.rs
  crates/rattler_solve/tests/backends/main.rs
  js-rattler/crate/package_record.rs
  js-rattler/crate/solve.rs
  py-rattler/src/generic_virtual_package.rs
  py-rattler/src/index_json.rs
  py-rattler/src/record.rs
Due: fmt, clippy, test

rattler exec implementation
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/main.rs
  crates/rattler_cache/src/consts.rs
  crates/rattler_cache/src/lib.rs
Due: fmt, clippy, test

feat(rattler-bin): Add inject and remove-from-prefix subcommands
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

rename
  crates/rattler-bin/src/main.rs
Due: fmt, clippy, test

lint comments implementation
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler_cache/src/lib.rs
  pixi.toml
Due: fmt, clippy, test

Update pixi.toml
  pixi.toml
Due: none

Update crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/commands/prefix.rs
Due: fmt, clippy, test

formatting
  crates/rattler-bin/src/commands/exec.rs
Due: fmt, clippy, test

remove pixi fingerprint file after changes
  crates/rattler-bin/src/commands/prefix.rs
Due: fmt, clippy, test

test for virtual dependencies as well
  crates/rattler-bin/src/commands/prefix.rs
Due: fmt, clippy, test

allow adding/removing multiple packages
  crates/rattler-bin/src/commands/prefix.rs
Due: fmt, clippy, test

lint
  crates/rattler-bin/src/commands/exec.rs
Due: fmt, clippy, test

wip
  crates/rattler-bin/src/commands/prefix.rs
Due: fmt, clippy, test

Merge commit from fork
  crates/rattler/src/install/installer/error.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_cache/src/package_cache/cache_key.rs
  crates/rattler_cache/src/package_cache/mod.rs
  crates/rattler_cache/src/run_exports_cache/cache_key.rs
  crates/rattler_cache/src/run_exports_cache/mod.rs
  crates/rattler_conda_types/src/utils/mod.rs
  crates/rattler_conda_types/src/utils/path.rs
Due: fmt, clippy, test

fix(py-rattler): make sdist PEP 625 conformant and trim test data
  crates/path_resolver/Cargo.toml
  crates/rattler/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_config/Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_macros/Cargo.toml
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_pty/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_sandbox/Cargo.toml
  crates/rattler_shell/Cargo.toml
  crates/rattler_solve/Cargo.toml
  py-rattler/pyproject.toml
Due: none

chore(py-rattler): pin maturin to 1.13.3
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  py-rattler/pyproject.toml
Due: none

Update crates/rattler-bin/Cargo.toml
  crates/rattler-bin/Cargo.toml
Due: none

fix(rattler_cache): derive flaky-test cache key from filename, not URL path
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

docs: tighten comment in flaky test
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

moved functions into seperate module and implemented pavel's commments
  crates/rattler-bin/src/commands/create.rs
  crates/rattler-bin/src/commands/exec.rs
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/progress.rs
Due: fmt, clippy, test

fix(test): fix `rattler_cache::package_cache::test_flaky` (#2471)
  crates/rattler_cache/src/package_cache/mod.rs
Due: fmt, clippy, test

fix: make sdist PEP 625 conformant and trim test data (#2470)
  crates/path_resolver/Cargo.toml
  crates/rattler/Cargo.toml
  crates/rattler_conda_types/Cargo.toml
  crates/rattler_config/Cargo.toml
  crates/rattler_index/Cargo.toml
  crates/rattler_lock/Cargo.toml
  crates/rattler_macros/Cargo.toml
  crates/rattler_menuinst/Cargo.toml
  crates/rattler_networking/Cargo.toml
  crates/rattler_package_streaming/Cargo.toml
  crates/rattler_pty/Cargo.toml
  crates/rattler_repodata_gateway/Cargo.toml
  crates/rattler_sandbox/Cargo.toml
  crates/rattler_shell/Cargo.toml
  crates/rattler_solve/Cargo.toml
  py-rattler/pixi.lock
  py-rattler/pixi.toml
  py-rattler/pyproject.toml
Due: none

ci: build py-rattler wheels with cargo-auditable
  .github/workflows/release-python.yml
Due: check-yaml

fix: loop over completion files instead of using glob operator
  crates/rattler_shell/src/shell/mod.rs
Due: fmt, clippy, test

chore: prepare py-rattler v0.24.0 release
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: none

chore: prepare py-rattler v0.24.0 release (#2452)
  py-rattler/CHANGELOG.md
  py-rattler/Cargo.lock
  py-rattler/Cargo.toml
Due: none

ci(release-python): pass changelog notes via env var to avoid shell quoting issues
  .github/workflows/release-python.yml
Due: check-yaml

fix: loop over completion files instead of using glob operator (#2474)
  crates/rattler_shell/src/shell/mod.rs
Due: fmt, clippy, test

code review
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test

fix(rattler): reflink patched files before in-place patching
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

test(rattler): cover in-place placeholder patching
  crates/rattler/src/install/link.rs
Due: fmt, clippy, test

comment
  crates/rattler/src/install/installer/mod.rs
Due: fmt, clippy, test

feat(rattler-bin): Add inject-into-prefix and remove-from-prefix subcommands (#2465)
  Cargo.lock
  crates/rattler-bin/Cargo.toml
  crates/rattler-bin/src/commands/mod.rs
  crates/rattler-bin/src/commands/prefix.rs
  crates/rattler-bin/src/main.rs
  crates/rattler/src/install/installer/mod.rs
  crates/rattler_index/src/lib.rs
Due: fmt, clippy, test
